[2013-08-26 16:53] sayedihashimi opened #7 "Show all templates in Web\SideWaffle node"
Currently the templates are all showing up in the `Web` node. It would be better to drop them in `Web\SideWaffle` and have them also roll up to the `Web` node.

[2013-08-26 16:57] #7 closed, assigned to sayedihashimi

[2013-09-25 23:00] sayedihashimi opened #16 "Update to expand beyond the Web node"
Currently all of the templates are showing up under the `Web` node in the Add New Item dialog.
Better than this is to use the directory structure for the name of the node. We can base it on the first folder under `ItemTemplates`

For example if you have some files under `ItemTemplates\Web` they will show up in the Web node. Similarly if you have `ItemTemplates\WPF` then they will show up under the

[2013-09-26 00:02] #16 closed, assigned to sayedihashimi

[2013-09-26 03:55] sayedihashimi opened #17 "Create an item template for creating SideWaffle Item Templates"
We should create an item template that can be used to easily create new SideWaffle Item Templates.

[2013-09-26 04:00] #17 closed, assigned to sayedihashimi

[2013-09-27 04:20] sayedihashimi opened #18 "Project Template Support"
We should add support for creating Project Templates. Below are some details on how we can implement this.

The support for Project Templates **should be consistent** with that of creating Item Templates.

Project templates will be defined under the `/ProjectTemplates` folder. Each project template will be defined in its own folder. The folder must contain the following files.

[code]

The tree no

[2013-09-27 19:40] madskristensen opened #20 "Add gesture to mark files as "None""

[2013-09-27 19:40] madskristensen opened #21 "Add item template for .vsct files"

[2013-09-27 19:42] madskristensen opened #22 "Rename solution to "SideWaffle" and project to "TemplatePack""

[2013-09-29 17:11] sayedihashimi opened #25 "Update build.proj to pass through TemplateBuilderTargets property"
Build.proj should pass through the TemplateBuilderTargets property to the `MSBuild` task when building if it is specified. This makes testing with a different .targets file easier.

[2013-09-29 22:51] #25 closed, assigned to sayedihashimi

[2013-09-30 21:18] sayedihashimi opened #26 "Update sidewaffle/templatebuilder to support Clean"
When we clean the files in the intermediate obj folder are not deleted. This may cause issues when a file is removed from the source.

[2013-10-01 03:38] sayedihashimi opened #27 "Make build incremental"
Currently the Item Template and Project Template creation process is not incremental. It should be.

[2013-10-01 03:42] #20 closed, assigned to madskristensen

[2013-10-01 03:57] #18 closed, assigned to sayedihashimi

[2013-10-01 04:03] sayedihashimi opened #28 "[breaking]: Change Definitions folder to _Definitions"
We should update the name of the folder from `Definitions` to `_Defintions`. By doing this it will appear at the top of the list of folders/files.

[2013-10-01 21:00] #28 closed, assigned to sayedihashimi

[2013-10-01 21:00] #26 closed, assigned to sayedihashimi

[2013-10-01 21:01] #22 closed, assigned to nobody

[2013-10-05 20:54] sayedihashimi opened #32 "Update Chrome Projects to hook up CTRL+F5,F5 to launch chrome with the ext installed"
We should update the Chrome templates to hook up CTRL+F5,F5. Since we are hacking the web project system here this may not be 100% reliable but if we can come up with a solution for 80% of cases that would be nice.

[2013-10-08 00:30] madskristensen opened #34 "Create a better logo"

[2013-10-16 14:55] #32 closed, assigned to sayedihashimi

[2013-10-19 17:25] sayedihashimi opened #38 "Initial build fails on clean get (Update to check in the .targets file)"
We should update the support to check in the .targets file which performs all the item template/project template goodness. See the related discussion at https://github.com/sayedihashimi/slow-cheetah/issues/113 as to why this is a good idea.

Related to: https://github.com/ligershark/template-builder/issues/19

[2013-10-19 17:26] sayedihashimi opened #39 "Update to exclude folders starting with _Sample from templates"
We should update the build logic to exclude folders starting with `_Sample` from the build process when building on `Release` mode.
When building in `Debug` we should include all templates. This will make it easy to have samples in the repo for developers to reference while excluding them from released packages.

After integrating this be sure to build on Release mode before a release.

Related to

[2013-10-19 18:03] #39 closed, assigned to sayedihashimi

[2013-10-20 00:03] sayedihashimi opened #40 "Sample: Item Template creating more than 1 file"
Create a sample showing an Item Template which creates more than one file during the create process.

[2013-10-20 00:05] #40 closed, assigned to sayedihashimi

[2013-10-21 00:36] sayedihashimi opened #41 "Updates for snippets"
We now have support for snippets, but we need a few minor changes. For .snippet files under the `Snippets` folder we should ensure the following are true:
1. They are marked as Content
2. They have the following property set to true IncludeInVSIX

Related to: https://github.com/ligershark/template-builder/issues/21

[2013-10-21 00:37] #41 closed, assigned to sayedihashimi

[2013-10-22 17:55] madskristensen opened #45 "Make the SideWaffle project compatible with VS2013"

[2013-10-26 19:18] #34 closed, assigned to nobody

[2013-10-28 07:01] madskristensen opened #48 "Increase the sort order of all item templates"
We need to make sure that SideWaffle templates doesn't show up above the built-in templates in the Add New Item dialog. Sort order should probably be 5000 and we might want to look at creating groups as well

[2013-11-01 17:37] ramgp opened #49 "Make the SideWaffle extesion compatible with VS2013 Express for Web"
I would do it, but in order to develop for the Visual Studio SDK a Pro or higher edition is required. The HotTowel extension from Mr. John Papa is available so I guess is possible.

[2013-11-01 19:11] #49 closed, assigned to nobody

[2013-11-16 01:51] codewithtyler opened #54 "Add ability to put templates in their own category"
For templates that don't use C# or VB, such as JavaScript, it would be nice if you could put them in their own category.

For example, even if I'm not using one of the SideWaffle item templates if I was creating my own PHP template, I'd like to be able to create a Web category and then create a PHP subcategory. I'd then put the template in that category.

[2013-11-16 20:54] madskristensen opened #56 "Exclude _samples folders from the build"
Items under ItemTemplates\Web_Samples are included in the compiled VSIX

[2013-11-17 02:32] #56 closed, assigned to nobody

[2013-11-17 20:34] sayedihashimi opened #58 "Update build to write a report of included items"
When building the .vsix it would be good to see a report which included the following details:
- All item templates
- All project templates
- All snippets

Depends on the template-builder feature https://github.com/ligershark/template-builder/issues/22

[2013-11-17 20:35] sayedihashimi opened #59 "Add VsixCompress"
The .zip file is getting a little big. I tried VsixCompress a while back and it seemed to make the .zip file smaller. We should try again and then add it if the resulting .zip file is smaller.

[2013-11-22 07:16] jsakamoto opened #60 "Browser Link Extension project (not Simple version) is crash when F5( or Ctrl+F5) run."
Step.
1. Launch VisualStudio2013Pro, and Enter Ctrl+Shift+N, and select "Browser Link Extension"  (not "(simple)" edition) at Templates>Visual C#>Extensibility.
2. Enter Ctrl + F5, then start build and finished as success.
3. Then launch VsualStudio2013Pro "Experimental Instance".
4. Create new ASP.NET 4.5 project on the VS2013 "Experimental Instance", and Ctrl + F5 run.
5. Then, the VS2013 "Exper

[2013-11-22 16:41] #60 closed, assigned to nobody

[2013-11-30 15:24] sayedihashimi opened #62 "Enable F# Support"
We need to enable full support for F# templates.

Depends on https://github.com/ligershark/template-builder/issues/25

[2013-12-07 02:18] sayedihashimi opened #63 "Better support for multi-project templates"
We should have better support for multi-project templates.

The main issue that we have today is the usage of `$safeprojectname$`. When there are multiple projects being created the value of ```$safeprojectname$ changes based on the project being created. This makes it difficult (impossible?) to create templates which create multiple projects.
# Design

To solve this we will create a custom wizard

[2013-12-09 21:42] sayedihashimi opened #64 "Ability to fully control the node/path where the template shows up"
Currently we have a convention which allows users to easily place templates in locations such as `Visual C#\Web\SideWaffle`. In some cases it would make more sense to fully control the location where the template will be created.

We should have a mechanism where it's easy to control this fully.

[2013-12-14 18:36] #63 closed, assigned to nobody

[2013-12-14 18:42] sayedihashimi opened #65 "Better project template support"
Creating project templates is still too hard. Ideally we want to get to the point where users can continue to load the .csproj file in VS and F5 the project to test it out. There are two challenges here:
1. File list is in both .csproj and .vstemplate file
2. Files need to be tokenized to have values like `$safeitemname$`

Using the [_preprocess.xml](https://github.com/ligershark/side-waffle/wiki/

[2013-12-15 23:26] #58 closed, assigned to sayedihashimi

[2013-12-17 07:12] #62 closed, assigned to sayedihashimi

[2013-12-18 07:26] sayedihashimi opened #66 "Make it simple to test TemplateBuilder changes"
We should have a simple workflow to test out changes to TemplateBuilder changes. When we run a build we'll need to update the following items.
1. Path to the .targets file
2. Path to where tasks should be loaded from

[2013-12-24 12:42] sjnaughton opened #67 "Add a Project Template for the SideWaffle Project Template"
It would be really nice if the was a Project Template for the SideWaffle Project Template

Steve

[2013-12-25 07:27] #65 closed, assigned to sayedihashimi

[2013-12-25 07:31] sayedihashimi opened #68 "Enable project template via a reference"
In the current workflow users have to copy their source projects and paste them into a template pack project. It would be much better if users could have a project template created via a project reference.

[2013-12-26 20:33] sayedihashimi opened #69 "Add item templates for ASP.NET T4 scaffolder files"
With VS2013 you can customize the views/controllers (_all files_) which are generated by the New Scaffolded Item dialog. To do this you need to copy files from `C:\Program Files (x86)\Microsoft Visual Studio 12.0\Common7\IDE\Extensions\Microsoft\Web\Mvc\Scaffolding\Templates` to the local project. It would be nice to have these inside of an item template so that they can be easily added to an exis

[2013-12-26 21:05] #69 closed, assigned to sayedihashimi

[2013-12-27 00:08] sayedihashimi opened #70 "Output of project template references should not be included in the .vsix"
Currently outputs from referenced projects that are built into a project template are included in the final .vsix. This should be prevented. We should also have an MSBuild property to override this default behavior.

[2013-12-27 02:51] #70 closed, assigned to sayedihashimi

[2013-12-28 19:27] sayedihashimi opened #72 "Wizard elements not being preserved when building a project template"
With the new technique that we have for project templates if a user has custom Wizard elements they are removed when the .vsix is generated. We should preserve all custom elements. See the repro at https://github.com/dmohl/FSharpCommunityTemplates/blob/master/VisualStudio/ServiceStack/ServiceStackSelfHost/_definitions/_project.vstemplate.xml.

[2013-12-30 20:27] #45 closed, assigned to sayedihashimi

[2013-12-31 19:27] sayedihashimi opened #74 "Move template temp folder back under obj\"
With a previous commit we moved the templates temporary folder from `obj\` to under `%localappdata%` because it was suspected that VS was incorrectly picking up the .csproj when it was copied under `obj\`. It turns out that the file is loaded even from `%localappdata%`. We'll need to get to a real fix for that issue.
In the mean time we should move the temp folder back under `obj\` because it will

[2013-12-31 22:39] sayedihashimi opened #75 "Move template temp folder back under obj\"
With a previous commit we moved the templates temporary folder from `obj\` to under `%localappdata%` because it was suspected that VS was incorrectly picking up the .csproj when it was copied under `obj\`. It turns out that the file is loaded even from `%localappdata%`. We'll need to get to a real fix for that issue.
In the mean time we should move the temp folder back under `obj\` because it will

[2013-12-31 22:40] #75 closed, assigned to sayedihashimi

[2013-12-31 22:44] #74 closed, assigned to sayedihashimi

[2014-01-02 14:23] jayhjkwon opened #76 "[Browserlink Project] How to add new javascript library in the browser?"
How to embed new javascript library like twitter-bootstrap javascript library in xxxExtension.js as jquery and signalR are there?
Simply, I want to use bootstrap.js in xxxExtension.js.

[2014-01-02 15:53] aschulz01 opened #77 "Item templates not available in nodejs projects"
Currently the side-waffle item templates are not available in Visual Studio node.js Projects. (Project file Extension .njsproj)

see http://nodejstools.codeplex.com/

Is it possible to support this project type as well?

&lt;ProjectTypeGuids&gt;
     {3AF33F2E-1136-4D97-BBB7-1795711AC8B8};
     {349c5851-65df-11da-9384-00065b846f21};
     {9092AA53-FB77-4645-B42D-1CCCA6BD08BD}
&lt;/ProjectTypeGuid

[2014-01-03 00:29] #72 closed, assigned to mlorbetske

[2014-01-10 18:14] jsheldon opened #79 "MultiProj - Visual Studio Error"
When attempting to create a new project from the MultiProj template I get an error in visual studio:

Error: this template attempted to load component assembly 'TemplateBuilder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'. For more information on this problem and how to enable this template, please see documentation on Customizing Project Templates.

I've checked the documentation at:
h

[2014-01-11 19:50] #79 closed, assigned to sayedihashimi

[2014-01-11 21:06] sayedihashimi opened #80 "Support to expand .vstemplate for multi-project templates"
For single project templates we now support the ability to author a partial .vstemplate file and then have the build process fill in the `Project` element with files and folders. Unfortunately multi-project templates cannot leverage this feature. We need a way for multi-project templates to get this same functionality.

[2014-01-12 20:49] sayedihashimi opened #81 "Update CreateTemplateTask to not require template dependencies"
Currently when we go through the `CreateTemplateTask` to generate the fully expanded .vstemplate file we use the MSBuild APIs to load the project file and to get the list of files that it contains.

This requires that all the template dependencies (i.e. .targets files) are on disk.

We should update the CreateTemplateTask so that the .targets files are not required. We should see if @mlorbetske PR

[2014-01-25 17:39] #81 closed, assigned to nobody

[2014-01-25 17:39] sayedihashimi opened #87 "Add a WebJobs console project template"
Add a WebJobs console project template

[2014-01-25 17:49] sayedihashimi opened #88 "Project template via reference cannot have custom images"
With the new method we have for create project templates via a reference the only way that your project template can have a custom icon is to include that file as a part of the project. This is because we get the list of files to copy from the project file itself.

We should add an item group that has a list of extensions for files that should always be copied over to the dest. It should be pre-po

[2014-01-25 18:45] sayedihashimi opened #89 "Update project template to not require usage of ProjectReference"
As a consequence of overloading the concept of ProjectReference for a project template all the outputs of these projects are now being placed into the .vsix itself.
This is bad for a number of reasons.
Instead of ProjectReference we should change this to something else. Eventually we should create tooling for this as well.

This is impacting #87
### Design

We should have a right-click menu option

[2014-01-25 20:34] #87 closed, assigned to sayedihashimi

[2014-01-25 20:34] #88 closed, assigned to sayedihashimi

[2014-01-25 21:07] sayedihashimi opened #90 "Template report is not including TemplateReference items"
The template report is not including TemplateReference projects.

[2014-01-27 17:42] sayedihashimi opened #94 "Move TemplateBuilder into SideWaffle repo"
We should move the TemplateBuilder code from https://github.com/ligershark/template-builder directly into the SideWaffle repo. We should keep the NuGet package split out so that users can still create their own template packs, but all the code will be in the same repo.
This will make it easier for development as well as tracking history.

[2014-01-27 17:43] #80 closed, assigned to sayedihashimi

[2014-01-28 10:38] #89 closed, assigned to sayedihashimi

[2014-01-28 10:38] #68 closed, assigned to sayedihashimi

[2014-01-28 10:39] #66 closed, assigned to sayedihashimi

[2014-01-28 10:39] #64 closed, assigned to nobody

[2014-02-01 11:06] StefH opened #96 "Angular Typescript snippet for "Directive" is not correct"
The generated code is like:
interface Idirectives extends ng.IDirective {
    directiveId: string;
}

interface IdirectivesScope extends ng.IScope {
    greeting: string;
    changeGreeting: () => void;
}

class directives implements Idirectives {
    static directiveId: string = "directives";
    restrict: string = "A";

    constructor(private $window: ng.IWindowService) {
    }

    link(scope:

[2014-02-01 21:16] sayedihashimi opened #97 "Building with MSBuild 12.0 fails"
If we use msbuild.exe from `C:\Program Files (x86)\MSBuild\12.0\Bin` then the build will fail with the error below.

Workaround for now use msbuild.exe from `C:\Windows\Microsoft.NET\Framework\v4.0.30319`.
### Error

[code]

[2014-02-02 18:36] #54 closed, assigned to nobody

[2014-02-11 00:22] luisrudge opened #99 "Can't create new project template"
I keep having this error when i create a new NancyFX project template:

[code]

Any help?

[2014-02-11 03:55] chintans opened #102 "Angular Typescript snippet for "Controller" is not correct"
Please refer to this link of StackOverflow for explanation of my issue

http://stackoverflow.com/questions/21692713/unable-to-use-services-injected-from-constructor-in-methods-in-typescript-using

the issue is that methods extended on a class are not able to access this scope for execution.

[2014-02-13 03:38] madskristensen opened #105 "Adding snippets result in bulid error"
Adding a snippet file to /Snippets/CSS/SideWaffle result in a build error:

[code]

[2014-02-14 06:15] #99 closed, assigned to nobody

[2014-02-19 05:50] sayedihashimi opened #106 "TargetFramework should automatically be tokenized"
We should tokenize the elements for target framework automatically. There are typically two places that need to be updated.
- .csproj file
- app.config / web.config

[2014-02-19 08:10] #90 closed, assigned to nobody

[2014-02-19 10:11] #105 closed, assigned to nobody

[2014-02-23 19:53] sayedihashimi opened #108 "Cmd line build not working with Debug mode"
The command line build is not working when Debug mode is used.

[code]

[2014-02-23 20:35] sayedihashimi opened #109 "Build error when ProjectReference exists"
When you add a ProjectReference to any project that has TemplateBuilder installed you will get the following build error.

[code]

[2014-02-23 20:36] #109 closed, assigned to sayedihashimi

[2014-02-26 05:09] sayedihashimi opened #110 "Update how TemplateReference is intrepreted"
### This will be a breaking change
## Update TemplateReference

Currently the `TemplateReference` item looks a just like a `Reference` item in the project file. The value for the Include attribute is the relative path to the project. For example `<TemplateReference Include="..\Project Templates\Azure\WebJobs\WebJobsHelloWorld\WebJobsHelloWorld.csproj" />` Since this path is outside of the project

[2014-02-26 05:23] #108 closed, assigned to nobody

[2014-02-26 05:45] #110 closed, assigned to sayedihashimi

[2014-03-02 13:20] doczoidberg opened #111 "Typescript Angular Directive does not compile with Typescript 1.0"
[code]

[2014-03-04 16:58] nicholashead opened #112 "WhitespaceModule not using pre-compiled regex's"
https://github.com/ligershark/side-waffle/blob/master/TemplatePack/ItemTemplates/Web/ASP.NET/WhitespaceModule/WhitespaceModule.cs?source=c#L123

Shouldn't these two lines reference the compiled static `REGEX_BETWEEN_TAGS` and `REGEX_LINE_BREAKS` variables?

[2014-03-14 22:42] rustd opened #116 "Add a MVC Template for Two-Factor Authentication"

[2014-03-14 22:44] rustd opened #117 "AzureWebJobs template: Add a reference to System.Configuration"

[2014-03-16 17:50] #76 closed, assigned to nobody

[2014-03-17 19:16] luisrudge opened #119 "download new template from nuget"
It would be nice if we could install new templates from nuget.
This way, i could have the Nancy.Templates package that would only download new project items instead of making sidewaffle a really big .vsix with all templates inside of it.

[2014-03-20 18:01] MarkStega opened #120 "Building with VS2013"
I cloned the repository and tried to build (vs2013.U2CTP2 and VS2013 SDK). The build failed on the project "templatepack" when trying to reference "Microsoft.VisualStudio.Shell.11.0". I removed that reference and added references to "Microsoft.VisualStudio.Shell.12.0", "Microsoft.VisualStudio.Shell.Immutable.12.0", and "Microsoft.VisualStudio.Shell.Interop.12.0". The build now succeeds

Is this si

[2014-03-21 12:49] dbuckingham opened #121 "Add support for a NuBuild-like project template..."
Please consider adding support for a [NuBuild](http://visualstudiogallery.msdn.microsoft.com/3efbfdea-7d51-4d45-a954-74a2df51c5d0)-like project template.

This new project template would allow developers to build NuGet packages inside of Visual Studio, without the need to create custom MSBuild/psake scripts and/or batch files.

This project template would specifically allow the user to add referen

[2014-04-03 23:32] stimpy77 opened #127 "Minor typo in template name: "Ninect Controller Factory""
The Ninject Controller Factory (C# -> Web -> SideWaffle -> ...) is misspelled as "Ninect Controller Factory"

:smile:

[2014-04-17 10:55] jkildedal opened #129 "Error when creating Basic Scaffolder: The project file BasicScaffolder1Extension cannot be opened."
The [ScaffolderName]Extension project cannot be created. The base [ScaffolderName] project gets created correctly though.
See attached image:

![image](https://cloud.githubusercontent.com/assets/5223340/2730680/22b04f1e-c61e-11e3-9db8-29da58160f9e.png)

[2014-04-17 15:18] #129 closed, assigned to nobody

[2014-04-18 23:14] sayedihashimi opened #130 "CreateTemplateTask introduces errors"
@mlorbetske we are having some issues with the CreateTemplateTask. See the vstemplate file at https://github.com/ligershark/side-waffle/blob/master/Project%20Templates/Windows%20Desktop/ConsoleApplicationAsync/_Definitions/_project.vstemplate.xml.

I found the following issues.
1. When building the attributes of the Icon element are skipped.
2. I had to uncomment the entry for Program.cs because t

[2014-04-22 16:50] sayedihashimi opened #131 "Create templates based on http://html5up.net/"
There are a bunch of templates available for free download at http://html5up.net/. We should see if we can either:
1. Add templates directly to SW
2. Create a custom wizard to allow users to browse available templates and then create on the fly

Here is a list of some that we can look at.
- [x] http://html5up.net/
- [ ] http://www.initializr.com/
- [ ] http://extensionizr.com/

[2014-04-23 03:11] sayedihashimi opened #132 "Create a Web Pages (Razor v3) template"
We should create a C# Web Application Project template for Razor v3. It should be based on the Razor v3 website template in VS today.

[2014-04-23 06:30] sayedihashimi opened #133 "Remove ProjectExtensions node from the project file"
When building a project template for a web project we should remove the `ProjectExtensions` element from the project file. If we do not do this then the URL will be hard coded to use the same value every time.
- [x] Update TransformXml to take a string parameter
- [x] Update TemplateBuilder nuget package to carry xdt assemblies
- [x] Update build script to drop assemblies to app data on build
- [x

[2014-04-25 20:40] jamesmosier opened #134 "Visual Studio 2013 Ultimate, SideWaffle Templates not working..."
I'm running Visual Studio 2013 Ultimate (latest updates installed). I installed SideWaffle, restarted VS (multiple times) but no matter what I do I cannot locate any of the template. I went to New > File and New > Project and there is nothing there other than the default VS templates. I checked my Extensions and Updates and it is indeed installed there. Any idea if I'm missing something...?

I've

[2014-05-03 06:29] bbodenmiller opened #135 "add basic jQuery JS file"
When using jQuery you should [generally format your JS documents as follows](http://learn.jquery.com/using-jquery-core/document-ready/):

[code]

I'd like to see a simple template that gets you all setup to use jQuery.

[2014-05-03 20:52] #130 closed, assigned to mlorbetske

[2014-05-07 23:14] pooreboy opened #136 "Building Error"
no matter which way I try to build (powershell/msbuild/visual studio) I get the same error
error VSCT1103: Undefined 'Parent/@id' attr
ibute 'IDG_VS_CTXT_PROJECT_ADD_REFERENCES' in a <Button> element

This is in the TemplatePack Project TemplatPack.vsct file. line 16

[code]

https://github.com/ligershark/side-waffle/issues/108 claims to have fixed this issue and I cannot get it to work. I am usin

[2014-05-08 14:27] #136 closed, assigned to nobody

[2014-05-14 16:33] supergibbs opened #139 "Add item template for .jscsrc files"

[2014-06-03 12:08] #134 closed, assigned to nobody

[2014-06-25 05:52] DavidRogersDev opened #143 "Azure Webjobs Template is out of date"
The Azure Webjobs Template is out of date.

Those attributes in the method signature of ProcessQueueMessage have been changed in the latest beta.

More info [here](http://stackoverflow.com/a/24391179/540156).

[2014-06-27 21:37] am11 opened #145 "Feature: Add .weigore template"
With v2.2.3 nightly of Web Essentials, a feature is implemented to ignore files from compilation. I was thinking about adding the "Add ignore file (.weignore)" in Web Essentials' context menu, but then I realized it would make more sense if we bring it to the table as a side-waffle..

`.weignore` is essentially a flat text file, with no room for single or multi line comments. Its same as `.jshinti

[2014-06-27 22:49] #143 closed, assigned to nobody

[2014-06-28 08:03] sayedihashimi opened #146 "Add multi-project template doc"
The [multi-project template doc](https://github.com/ligershark/side-waffle/blob/master/multi-project-templates.docx?raw=true) should be converted to markdown and added to the [wiki ](https://github.com/ligershark/side-waffle/wiki/How-to-create-a-multi-project-template)

[2014-06-28 08:13] #127 closed, assigned to nobody

[2014-06-28 08:14] #117 closed, assigned to nobody

[2014-06-29 02:28] #94 closed, assigned to sayedihashimi

[2014-07-01 15:34] #146 closed, assigned to nobody

[2014-07-05 05:19] iangregsondev opened #149 "AngularJS Templates, follow a different pattern (yeoman / grunt)"
Hi

I was wondering if you plan on producing a different set of angularjs templates similar to the ones what the yeoman angular generator creates? I notice in your templates you are using automatic executable javascript functions, I want to know why? i.e.

[code]

I also notice that you are passing in the special array of names to protect from minimizing the javascript but grunt has the ability to

[2014-07-05 19:05] sayedihashimi opened #150 "Add switches to override TemplateBuilder and SlowCheetah.Xdt"
Currently the `biuld-debug.ps1`` file will require that both TemplateBuilder and SlowCheetah.Xdt be installed locally. We should add switches so that these can be overridden specifically.
- [x] UseLocalTemplateBuilderSrc
- [x] UseLocalSlowCheetahXdtSrc

[2014-07-05 19:38] sayedihashimi opened #151 "Restore nuget packages on build"
The build script should do the following.
- [x] Self update to nuget.exe at the beginning.
- [x] Call restore on the solution file
- [x] Disable restore nuget packages on build of the .sln file

[2014-07-05 19:52] #150 closed, assigned to sayedihashimi

[2014-07-05 20:17] #151 closed, assigned to sayedihashimi

[2014-07-05 20:37] #133 closed, assigned to nobody

[2014-07-05 20:40] #67 closed, assigned to madskristensen

[2014-07-05 20:43] sayedihashimi opened #152 "Build dependencies"
We should update the build script to build the dependencies below:
- [x] Template builder
- [x] SlowCheetah.Xdt

We should build in default location to facilitate debugging.

[2014-07-06 03:03] sayedihashimi opened #153 "Update OptimizeImages build script"
The `-OptimizeImages` option on the `build-debug.ps1` file should be updated to use the Azure Image Optimizer exe. The current approach is slow and could be improved.

Note: we should check in the file with the names of the hashes so that we don't keep re-optimizing the same files.

[2014-07-07 06:14] #152 closed, assigned to nobody

[2014-07-08 05:45] sayedihashimi opened #154 "Update build script to use psbuild"
We should update the build script to rely on [psbuild](https://github.com/ligershark/psbuild), it will simplify the build script.

We should add a check to give a good error when psbuild is missing.

[2014-07-09 14:26] ImGonaRot opened #155 "Error when adding new it to folder rather than project"
If you try to right click on a folder and go to hover on "Add" you will receive the following error.
"An exception of type 'System.ArgumentOutOfRangeException' occurred in System.Core.dll but was not handled in user code"
This occurs when calling the "GetSelectedProjects" method from the button_BeforeQueryStatus method.
And if you do try to right click on the project and "Add Template Reference (S

[2014-07-09 16:52] #154 closed, assigned to sayedihashimi

[2014-07-13 18:27] #153 closed, assigned to nobody

[2014-07-16 19:50] XVincentX opened #158 "NodeJS integration in build process"
Hello,
this discussion is born after this [article](http://www.dotnet-programming.com/post/2014/07/11/Integrate-NodeJS-tools-in-Visual-StudioTFS.aspx) and this [tweet](https://twitter.com/D3DVincent/status/489489296941121536).

Here I would like to discuss if this thing could be included as SideWaffle template or a nuget package.

In my opinion a nuget package may be better (it's just some targets

[2014-07-20 09:08] #155 closed, assigned to nobody

[2014-07-21 19:51] #158 closed, assigned to nobody

[2014-07-24 16:24] HowardvanRooijen opened #159 "The "TransformXml" task was not given a value for the required parameter "Source""
Hi,

I'm trying to create a SideWaffle powered ItemTemplate but hitting the following error when I try and build the VSIX project:

SampleVSIX\packages\TemplateBuilder.1.0.3.52-beta\tools\ligershark.templates.targets(808,5): error MSB4044: The "TransformXml" task was not given a value for the required parameter "Source".

Repro Steps
- VS 2013 > New VSIX Project
- via PMC Install-Package TemplateB

[2014-07-24 17:44] sayedihashimi opened #160 "Create a flag to disable removing the ProjectExtensions element"
Create a flag to disable removing the ProjectExtensions element

[2014-07-24 17:44] #160 closed, assigned to sayedihashimi

[2014-07-25 01:23] sayedihashimi opened #161 "Update Add Template Ref to drop files into target project"
When adding a ```TemplateReference``` there are two steps today.
 1. Invoke Add Template Reference menu option
 1. Add SideWaffle Project Template files into the target project

We should try and avoid the second step by having the VS tooling to add the files into the target project if they are not already there.

[2014-07-25 01:24] #159 closed, assigned to nobody

[2014-07-29 14:34] r-moeritz opened #163 "#79 is happening again"
When I follow the instructions from the Wiki on how to create a multi project template I get the exact same error as was reported in issue #79. I know this was marked as fixed but it seems to be happening again.

Below is my VS version info. Using the latest SideWaffle from the gallery as of this writing.

[code]

[2014-07-30 06:53] #163 closed, assigned to nobody

[2014-08-04 08:08] stijnherreman opened #164 "The 'TemplatePackPackage' package did not load correctly."
I'm getting this error after updating to the latest version. I'm using Visual Studio 2012 (11.0) but the it looks like the extension tries to load a 2013 (12.0) library?

[code]

[2014-08-11 15:15] cH40z-Lord opened #166 "Cloud-based SideWaffle"
Hey there,

I've been using SideWaffle for quite a while and it's been purely awesome! Good job!

Like the title already suggests I was thinking about moving SideWaffle to the cloud. The idea here was that you no longer need to release a new version of the SideWaffle VS extension if you've made some changes to (existing) templates. Instead, you just upload your new templates to the cloud (maybe ev

[2014-08-18 14:26] richardjharding opened #168 "New Project template no showing up in VS"
I have tried to follow the instructions for creating a multi project template, the VSIX project builds ok and I'm able to start the VS experimental hive but I don't seem my new project in the list/tree of templates

The _preprocess.xml file which is in the root of my new solution template (not the root of the vsix solution) has the following

<TemplateInfo Path="CSharp\MultiWaffle"/>

When VS is r

[2014-08-19 15:05] #168 closed, assigned to nobody

[2014-08-21 06:59] #135 closed, assigned to nobody

[2014-08-21 08:19] gaspode44 opened #169 "Multi project template - additional folder in generated structure - impact on nuget"
Hi,

I'm looking for some guidance on how best to incorporate nugget packages with a multi project solution template - I've followed the guidance on nugget.org to include my packages in the vsix in a packages folder located in the root of the template - such that when it gets installed its at the same level as the "Output" folder (under the version folder eg 1.0)

However in my case I'm attempting

[2014-08-26 14:51] #149 closed, assigned to nobody

[2014-08-30 22:23] sayedihashimi opened #172 "Proper support for nuget packages"
When a project template is added that uses NuGet packages there are two ways to get support for NuGet packages.
1. By manually changing the template to [support NuGet packages](http://docs.nuget.org/docs/reference/packages-in-visual-studio-templates)
2. Rely on package restore to restore packages

The first approach is the best way to go, but its too difficult so it's not used here. Instead most r

[2014-09-01 01:26] #145 closed, assigned to nobody

[2014-09-04 19:02] MaximRouiller opened #174 "Provide Change Log"
This is a two part issue.

First, before actually deploying anything, we should compile a list of things that have changed (bug fixes, new templates, who framed Roger Rabbit, etc.).

Then, push those actual changes to the website where we can see them with the version number.

As an example... I just received an update for SideWaffle today. My question is... "wait! there's new templates!? I wanna

[2014-09-09 18:11] sayedihashimi opened #175 "html5up.net template not working"
There is some rendering issue when the web browser control is shown such that the site is not displayed correctly. This is causing people to not be able to use the template.

[2014-09-17 10:13] CallumVass opened #176 "Unable to build VS2013"
I am trying to build the solution but I get this error:

Error	2	The "FindVsSDKInstallation" task could not be instantiated from the assembly "C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v12.0\VSSDK\Microsoft.VsSDK.Build.Tasks.dll". Please verify the task assembly has been built using the same version of the Microsoft.Build.Framework assembly as the one installed on your computer and tha

[2014-09-18 21:51] sayedihashimi opened #178 "Add Telemetry (tracking usage)"
Currently for usage the only data that we have is the download count from the VS gallery. We currently have no clue which templates are getting used. It would be good if we could track this info somehow. I am not sure what all our available options are here. I'm also not sure if anyone would mind if we added this. Having this data would help us prioritize new features as well as understand in whic

[2014-09-23 15:20] sportflier opened #179 "TemplatePackPackage package did not load correctly"
I recently started getting an error from Visual Studio 2012 when opening projects:

The 'TemplatePackPackage' package did not load correctly.
The problem may have been caused by a configuration change or by the installation of another extension. You can get more information by examining the file 'C:\Users[username]\AppData\Roaming\Microsoft\VisualStudio\11.0\ActivityLog.xml'.
Continue to show this

[2014-10-21 13:56] Bogatinov opened #180 "Angular code snippets in Visual Studio corrupted"
When trying to insert a snippet "ngctrl", "ngdir", "ngservice" it displays something like

[code]

Something is wrong with XML file of Directive, Controller and Service. So I investigated in the file and found these lines of code to be the culprit

<h3>ng.directive.snippet</h3>

[code]

<h3>ng.controller.snippet</h3>

[code]

<h3>ng.service.snippet</h3>

[code]

I fixed these lines by adding **$**

[2014-10-21 21:08] #180 closed, assigned to nobody

[2014-10-25 12:47] mbeckenbach opened #182 "AngularJs Typescript Controller Template causes problems with Angular 1.3"
The TS controller template using controller as causes some serious trouble when migrating to angular 1.3

I found a solution and posted it into my issue at the angularjs issue list.
https://github.com/angular/angular.js/issues/9789

Please check if you can update the templates. My way of implementing the controller is much shorter. Not sure if this is the best approach, but at least it works with

[2014-10-27 13:09] vasind opened #183 "Unable to see my custom project template in VS2013 pro"
Hi,

I followed all the steps given in the video tutorial (http://www.youtube.com/watch?v=NChUqnArTrI&feature=youtu.be) and i am able to build the template. When i hit (Ctrl + F5) and in the Experimental instance, i am not seeing my custom template which was created before. But i am able to see my "Empty VSIX project" in "Extension and Updates". I am not sure where i am missing. Plz help.

[2014-11-17 09:42] christianfredh opened #186 ""acall" snippet for FakeItEasy doesn't work together with ReSharper IntelliSense"
I downloaded the latest version and 7 out of 8 snippets for FakeItEasy works fine. But "acall" snippet doesn't seem to work. I will take a look at it but creating an issue for it.

Anyone else with the same issue?

[2014-11-17 22:20] #186 closed, assigned to nobody

[2014-11-19 19:12] AB99 opened #188 "No way to replace file or folder names in project templates?"
String replacement via the _preprocess.xml files doesn't seem to cause files with the specified key in their file name to be renamed,  replacement seems to work on their contents only.  If I try to add a ProjectItem element specifying a TargetFileName to the .vstemplate file, I get an error when creating a new project using the template, saying that it cannot find a file with the original file nam

[2014-11-20 05:44] #179 closed, assigned to nobody

[2014-11-29 18:30] #112 closed, assigned to nobody

[2014-11-29 18:32] tomagnew opened #189 "How to install?"
I download this from VisualStudioGallery and when I click on the templatepack.vsix, I get the error "The extension manifest is invalid". How am I supposed to install these templates?

[2014-11-29 18:56] #189 closed, assigned to nobody

[2014-12-06 04:46] sayedihashimi opened #191 "Move sidewaffle.com back to this repo"
A while ago we took out sidewaffle.com into its own github repo https://github.com/ligershark/SideWaffleWebsite. This has caused a bit of pain because when publishing the site we need to update the site with files from the sidewaffle project itself.
We should move the website back into this repo, but keep it in it's own solution.

@madskristensen I know it was at my request to separate it, but whe

[2014-12-06 04:58] #38 closed, assigned to sayedihashimi

[2014-12-06 04:59] #139 closed, assigned to nobody

[2014-12-06 05:00] #164 closed, assigned to sayedihashimi

[2014-12-06 05:00] #97 closed, assigned to nobody

[2014-12-06 05:02] #77 closed, assigned to nobody

[2014-12-06 05:03] #119 closed, assigned to nobody

[2014-12-06 05:04] #48 closed, assigned to nobody

[2014-12-06 06:32] sayedihashimi opened #192 "CI build"
We should have a CI build running on appveyor.

[2014-12-06 06:44] #192 closed, assigned to sayedihashimi

[2014-12-07 07:30] sayedihashimi opened #193 "TemplateBuilder NuGet package from CI missing files"
I noticed that the .nupkg that is produced on the [CI build](https://ci.appveyor.com/project/sayedihashimi/template-builder/build/artifacts) do not have all the files in the tools folder.

[2014-12-07 07:55] #193 closed, assigned to sayedihashimi

[2014-12-07 18:55] sayedihashimi opened #194 "Add AppVeyor templates"
We should add a basic and advanced AppVeyor templates.

[2014-12-09 07:33] #194 closed, assigned to sayedihashimi

[2014-12-11 19:24] sayedihashimi opened #195 "Doc update: improve how to create a project template docs"
We already have a [how to create a project template doc](https://github.com/ligershark/side-waffle/wiki/How-to-create-a-project-template) but, the quality of that doc could be improved though.
- Improve the layout to improve readability
- Add details on disabling the project from build via configuration manager (see video for info)
- Add details on how to add to release notes (feature to be implem

[2014-12-12 00:36] #116 closed, assigned to rustd

[2014-12-17 05:55] sayedihashimi opened #196 "Add support for creating ASP.NET 5 item templates"
We can create item templates for ASP.NET 5, but it requires a hack in which the ```csharp.vstemplate``` file is being used with a modified ```<ProjectType>ProjectK</ProjectType>```. Instead of this we should support a new file ```aspnet5.vstemplate```.

The changes will need to be made in [TemplateBuilder](http://github.com/ligershark/template-builder)

[2014-12-18 00:51] codewithtyler opened #197 "Opening in VS2013 Community Edition says project type not found"
While working on the wiki article, I opened SideWaffle.sln in Visual Studio 2013 Community Edition. The first time I opened it I got these error messages:

![TemplatePack general error](http://i770.photobucket.com/albums/xx345/DeMolay8613/SideWaffle/TemplatePack_VS2013_error.png)

![TemplatePack Migration error ](http://i770.photobucket.com/albums/xx345/DeMolay8613/SideWaffle/TemplatePack_VS2013_e

[2014-12-18 02:05] #197 closed, assigned to nobody

[2014-12-28 02:54] johnmcbride opened #199 "Issues with having a sidewaffle project template type and a traditional vstemplate project in same vsix"
Hi,
I have a VSIX that i am using for deploying some existing project/item templates. I created these template via the traditional way, by using the C# Project Template type that is available with the Visual Studio SDK.

The issue i seem to be having is when i add the side waffle project template (with a project) it doesnt show up when i have both type referenced in the VSIX. If i remove the refer

[2014-12-31 01:49] #131 closed, assigned to sayedihashimi

[2014-12-31 04:25] #183 closed, assigned to nobody

[2014-12-31 04:27] sayedihashimi opened #200 "Dialog to configure remote sources"
For the [dynamic templates](https://github.com/ligershark/side-waffle/issues/166) we should have a dialog that users can use to configure remote sources.

This dialog should have the following features.

 - [ ] Enable/disable remote sources
 - [ ] Add/Remove new sources
 - [ ] Rebuild all templates

# Walk through
I've created a walk through of what the experience might look like. You can access i

[2014-12-31 04:31] sayedihashimi opened #201 "Ability to configure the schedule to check for update templates"
For the [dynamic templates](https://github.com/ligershark/side-waffle/issues/166) we should have a dialog that users can use to:

 1. Configure the frequency that we check for updated template content
 1. Rebuild all templates (_i.e. clean out all old templates and rebuild from scratch_)

# Walk through
I've created a walk through of what the experience might look like. You can access it in the fo

[2014-12-31 04:32] sayedihashimi opened #202 "Look for updated templates when VS is opened"
Currently the extension is loading when a project is loaded. This causes issues for the [dynamic templates](https://github.com/ligershark/side-waffle/issues/166) feature since it's after File->New Project.

We should load the extension when VS first starts so that templates can be loaded before File->New Project.

[2015-01-01 00:15] RandomlyKnighted commented on #200
I'll be happy to work on this. Creating dialogs in Visual Studio is something I've been wanting to learn for a while now anyways.

[2015-01-01 00:53] sayedihashimi opened #203 "Create a class that can be used to read/edit the remote template settings"
We should create a class which can be used to read & edit the ```templatesources.json``` file. Currently that file consists of a list of ```TemplateSources```. We should create a new class that represents the full set of contents needed including the frequency to check for updates.

[2015-01-01 00:53] sayedihashimi commented on #200
@RandomlyKnighted thanks! I've assigned the item to you.

I'm keeping the code in the [```autoupdate```](https://github.com/ligershark/side-waffle/tree/autoupdate) branch. When you have something please send PRs to that branch. Once we have all the features that we need we can merge to ```master```.

If you have any issues getting the code running on your box let me know.

FYI I've created #230 an

[2015-01-01 00:56] sayedihashimi opened #204 "Create a method to rebuld all remote templates"
We should have a method which callers can invoke which will perform the following operations.

 - [x] Delete the ```Output``` folder under the Extension install directory
 - [x] Delete the folders containing ```sources```, ```baseintout```, and ```output``` under %localappdata%
 - [x] Redownload & build templates from each source listed in ```templatesources.json```

[2015-01-01 01:50] sayedihashimi opened #205 "Add the ability to enable/disable remote sources"
We should add an ```Enabled``` property on ```TemplateSource```

[2015-01-01 01:50] sayedihashimi commented on #205
Added

[2015-01-01 01:50] #205 closed

[2015-01-01 01:50] sayedihashimi commented on #203
Added

[2015-01-01 01:50] #203 closed

[2015-01-01 01:51] sayedihashimi commented on #201
FYI I added a property to store this in a new class ```RemoteTemplateSettings ``` in commit 1ce894d0394dc4873accccef6be06686e272a41c

[2015-01-01 01:53] sayedihashimi opened #206 "Add snippet support to dynamic templates"
We should add snippet support to dynamic templates. The convention should be to look for snippets in a top level folder named ```snippets```.

[2015-01-02 23:16] RandomlyKnighted commented on #200
It's a slow process, but I've managed to get this much so far.

![sidewaffle_settings](https://cloud.githubusercontent.com/assets/2483249/5600596/e4110e4a-92a2-11e4-942a-811a3a0ea791.PNG)

I was really hoping to do this with the projects we already had in the solution, but so far I've only been able to get what I have by adding a new VSPackage project to the SideWaffle solution.

[2015-01-03 12:09] #199 closed

[2015-01-03 17:09] julianpaulozzi opened #207 "multi-device hybrid apps suport"
Any way to make templates for all "Web" (javascript, html...) available to multi-device hybrid apps (cordova .jsproj) projects?
As the same are based on the same web based tech used in "Web" templates.

[2015-01-05 16:44] farid-am opened #208 "Reuse projects in various multi-project templates."
I can't find a way to reuse projects in various multi-project templates, without adding the projects multiple times in the different multi-project folders.

I want multiple multi-project templates using different project combinations without having to add the projects to all the multi-project folders. I don't want to have to make changes on several palces for te same project also the vsix wil get

[2015-01-14 13:42] JohnGoldsmith opened #212 "Support VSTO - ignore BootstrapperPackage elements"
Following this StackOverflow thread: http://stackoverflow.com/questions/27924403/how-to-handle-vsto-prerequisites-in-sidewaffle-project-template

VSTO addin project files include ItemGroups as follows (depending on target framework version):

[code]
These non-file types generate the following errors when building the VSIX project:

*Error	10	Could not copy the file "c:\users\john\documents\visual

[2015-01-15 09:19] NN--- opened #214 "Manifest false error"
I have manifest.json with the following:

[code]

I got this:

[code]

According to Chrome documentation it is the correct format: https://developer.chrome.com/apps/manifest
Please fix this false alarm.

[2015-01-15 09:20] NN--- opened #215 "TSLint parses lib.d.ts"
I get a lot of warnings about lib.d.ts .
This file must be always excluded from the check unless it is specified explicitly.

[2015-01-15 10:56] NN--- opened #216 "TypeScript files with nested .js and .js.map files."
Is it possible to add an item template for TypeScript file which adds nested .js and .js.map flies automatically ?
I use FileNesting extension ( https://visualstudiogallery.msdn.microsoft.com/3ebde8fb-26d8-4374-a0eb-1e4e2665070c ) to make life easier but it is annoying to do it all the time.

[2015-01-15 16:26] sayedihashimi commented on #216
See http://stackoverflow.com/questions/12884732/nested-files-in-item-template for some info. If it works and if you have time please consider adding a page/note on the wiki here.

[2015-01-16 15:51] RandomlyKnighted commented on #174
@sayedihashimi we should probably update SideWaffle with the release notes from the website that I did..that way when people update it they are changing the version that will be released

[2015-01-16 17:30] sayedihashimi commented on #174
I agree, @madskristensen did you have a chance to review Tyler's PR to the SideWaffle website? If so can you publish it?

[2015-01-19 10:51] amit-srivastava-007 commented on #77
Well NodeJs project templates display under separate list named Node.Js Items which is default from Microsoft and hence no side-waffle templates visible inside this as Node.Js is the only node display in Add Item Window. I think a minimal changes can be made in next build to made these template available for .njsproj. This will be useful

[2015-01-27 01:40] RandomlyKnighted commented on #200
Just wanted to update this so I know where we are in the dynamic templates feature. Per PR #217 the dialog has been created; however, there is are two bugs that we are aware currently aware of.

1. The menu item shows up multiple times.
2. The textbox accidentally changes a sources branch when selected.

Other than these two bug I believe this item has been implemented.

[2015-01-27 01:44] RandomlyKnighted commented on #204
I believe the bug you found with deleting the folders is the only thing keeping this item from being fully implemented.

[2015-01-27 01:45] RandomlyKnighted commented on #201
As far as I know, this should be fully implemented now per PR #217.

[2015-01-27 10:00] JohnGoldsmith commented on #212
If ```BootstrapperPackage``` is added to the [default list](https://github.com/ligershark/template-builder/blob/master/tools/ligershark.templates.targets#L75) then the [corresponding item in the wiki](https://github.com/ligershark/side-waffle/wiki/Common-errors-and-gotchas#caveats-for-vsto-project-templates) can be removed.

[2015-02-07 11:40] RobHudson72 commented on #182
This issue has been driving me absolutely bananas.  @mbeckenbach , thank you very much for the workaround.  I would prefer a solution that uses a class over a function, but it is beyond my expertise.  We really need an AngularJS guru ( @johnpapa ?) to update the template for 1.3

[2015-02-07 18:18] RobHudson72 commented on #182
I think I found a workaround that allows for the use of classes.  I don't know enough about the controller constructor though to know if this creates additional problems (is the class initialized multiple times?)

It seems to work, but I would appreciate a second set of eyes to see if there are any hidden gotchas before implementing it as a pattern.

[code]

[2015-02-07 21:20] RobHudson72 commented on #182
I have been working on this much of the night and the day, and I haven't been able to improve on the solution provided by @mbeckenbach.  I am officially out of ideas.

Hopefully @johnpapa  or one of the other angular gurus chime in.

[2015-02-07 21:36] RobHudson72 commented on #182
@mbeckenbach , reviewing your solution, are you certain that vm should implement an interface that extends ng.IScope?

When I set a breakpoint in the function, after "var vm: IDemo2CtrlScope = this;", vm does not contain any of the ng.IScope members, and vm.$watch returns undefined.

It doesn't look like vm should implement ng.IScope.  I am guessing that if you want IScope, you have to pass in $sc

[2015-02-07 21:57] #204 closed

[2015-02-07 22:00] sayedihashimi opened #220 "Better support for custom URLs"
For the dynamic templates the templateSource.json file is currently being stored under the extension directory. The side effect of that is that when the extension is uninstalled/installed all customizations are removed. It would be better to.

 - [x] Store the templateSource.json file in the ```%localappdata%/SIdeWaffle``` folder so that customizations are preserved across versions. We should cons

[2015-02-08 00:56] RobHudson72 commented on #111
Agreed, this is a bug in the template.

Every time I use the template, I have to comment out the "directiveId: string" line in the Interface.

[2015-02-08 00:59] RobHudson72 commented on #96
It looks like this has been an open issue for over a year now.  Are the AngularJS templates being maintained by anyone?

[2015-02-08 01:00] johnpapa commented on #96
It appears that its fair game for a PR , so go for it :)

All I can say I I did not write the Typsecript ones nor do I maintain them

[2015-02-08 01:13] sayedihashimi commented on #96
If the Angular Typescript templates/snippets are not being maintained then they should be removed.

Anyone out there interested in owning them? If not I'll remove all Angular Typescript templates/snippets in a few days.

[2015-02-08 03:07] RobHudson72 commented on #96
I am really not the right person for the job.  I have never made a directive, and just barely know the basics of services and factories, much less angular internals.  However, if nobody else will do it, I will take a crack at it, so that the community doesn't lose the templates.

[2015-02-08 07:27] bronielsen commented on #96
Hi All

I am pretty ok experienced now with angular and typescript. I am also developing an application using the combination. Therefore I potentially could take ownership.

But I have to ask whether there really is a need. Since these templates have been broken for a while and not that many have really complained about it, maybe we could just as well just remove them?

Would like to contribute to

[2015-02-09 11:43] NN--- commented on #214
The only thing is needed is to specify JSON schema by this:

[code]

[2015-02-09 11:47] NN--- commented on #216
If I understand correctly, the ItemTemplate cannot add more than one file.
Am I right ?

[2015-02-10 03:20] marcusfaoro opened #221 "Template builder doesnt replace dependecies properly"
Hi there,

Im creating a multi project template project. I followed the instructions in side-waffle website / your videos in youtube but there is something weird.

The project is a Rest Service template which the developer just need to choose a the service name and then all projects are created automatically: BusinessObjects, DataLayer, Common libraries and so on.

Everything was going well, the p

[2015-02-10 04:33] sayedihashimi commented on #221
Did you go through the wiki https://github.com/ligershark/side-waffle/wiki/How-to-create-a-multi-project-template? That is the most recent and extensive doc.

[2015-02-10 21:40] marcusfaoro commented on #221
Hi Sayed,

Thank you for your reply. Yes, I followed you instruction in the article, however if you follow all the steps described there, a few exceptions are raised regarding: <DefaultName>$saferootprojectname$.Specification</DefaultName>

Another thing Ive got is you use different VCTemplate version for projects "<VSTemplate Version="3.0.0" xmlns="http://schemas.microsoft.com/developer/vstemplat

[2015-02-10 22:34] marcusfaoro commented on #221
Hi Sayed, I dont know if it is a hack, or it supposed to work like that but i fixed doing the following

* RestSvc.BusinessLogic inned project:
- MyTemplate.vstemplate
<VSTemplate Version="3.0.0" xmlns="http://schemas.microsoft.com/developer/vstemplate/2005" Type="Project">
  <TemplateData>
    <Name>Your name here</Name>
    <Description>Project description here</Description>
    <DefaultName>Res

[2015-02-10 23:27] sayedihashimi commented on #221
That looks right. If the wiki is in need of an update I'd appreciate if you helped out by editing it. I'll close this item now. If there is anything pending please reopen with details.

[2015-02-10 23:27] #221 closed

[2015-02-10 23:29] sayedihashimi commented on #216
Item templates can add many files, for example https://github.com/ligershark/side-waffle/tree/master/TemplatePack/ItemTemplates/Web/ASP.NET/Custom%20T4%20Files.

[2015-02-10 23:47] sayedihashimi commented on #216
@NN--- it's pretty easy I just updated a sample template to [nest bootstrap.min.css under bootstrap.css](https://github.com/sayedihashimi/contoso-templatepack/commit/ebfda3675051113166259202e386ef693afdfde5).

Here is what I had before (_which doesn't nest the files_)

[code]

Here is what works

[code]

I just added ```bootstrap.css/``` to the file path for the item that I wanted nested under it.

[2015-02-11 09:56] roswilson opened #223 "Add template Reference (sidewaffle project)"
I'm using Visual Studio Premium 2012 and installed sidewaffle. I'm following the video https://www.youtube.com/watch?v=z33jOo75CH4&list=UUwEinBp3Mx1UuAR52pzRcNw and cannot see 'Add template Reference (Sidewaffle project )' on the add menu when I right click the project. Do you know how I get this option to show? Thanks.

[2015-02-13 17:11] sayedihashimi commented on #96
@bronielsen I will likely remove them.

[2015-02-18 22:44] sayedihashimi commented on #202
Should be fixed now.

[2015-02-18 22:44] #202 closed

[2015-02-18 22:57] sayedihashimi commented on #201
Closing

[2015-02-18 22:57] #201 closed

[2015-02-18 22:58] sayedihashimi commented on #200
I think for the most part things are working now. I'll close this now, from here on we should track these as individual bugs.

[2015-02-18 22:58] #200 closed

[2015-02-18 23:01] sayedihashimi opened #226 "Prepare for autoupdate release"
We should rollout the auto update changes incrementally. The first release will include autoupdate but without any template sources configured. We should make the following change

 - [x] Merge latest in ```master``` to ```autoupdate```
 - [x] Change all templates to be embedded (_i.e. not from auto update git feature_)
 - [x] Update the default template settings to not have any configured sources

[2015-02-19 16:05] fals opened #227 "Angular JS file templates doesn't appear on Add New Item window for Apache Cordova projects"
I juste notice that any of those templates for Angular JS doesn't show on the Add New Item window at Visual Studio 2013. But those show up for any web projects. Given that hybrids apps are using Angular JS side by side with Cordova, that this Item templates stay avaible at the JavaScript Project category as well.

[2015-02-19 20:44] sayedihashimi commented on #227
Looks like it's working for me with the latest from [sidewaffle.com](http://sidewaffle.com). What issues are you having?

![cordova](https://cloud.githubusercontent.com/assets/1283154/6275569/0312fb98-b835-11e4-9909-f4ff7e26caae.png)

[2015-02-20 15:51] fals commented on #227
Well, i can't see this when I click Add New Item. I already did a full reinstall for Side Waffle and still the same. The same issue with Visual Studio 2015, which is a full new installation.

[2015-02-20 16:02] sayedihashimi commented on #227
Does it work otherwise? You're not giving enough info so that we can help. What's the steps your following?

[2015-02-20 16:25] fals commented on #227
Yes, it does, when I'm have a Web Application selected every template shows as expected.

[2015-02-20 17:39] sayedihashimi commented on #227
@fals you haven't given enough info for us to help you. The following will be helpful.

 - Specific steps to follow to reproduce (including language is it C# or VB)
 - Machine config
 - Anything else that may be different from your setup and mine

[2015-02-24 11:50] domholmes commented on #195
I'm struggling to make much use of my multi-project waffle due to not being able to include NuGet packages in the VSIX package. I'm trying to apply the steps outlined in the following NuGet tutorial to the basic multi-project template created following your Sidewaffle tutorial without any success. The NuGet docs reference the older VSIX schema (I am using v2.0 from VS2013). Even if they weren't, I

[2015-02-26 22:46] RandomlyKnighted opened #228 "Asset tags were not added when TemplateBuilder was installed"
In some cases TemplateBuilder does not add the asset tags when added to the project.

[2015-02-27 18:40] sayedihashimi commented on #228
OK I've narrowed it down to reproing in the case where the assets tag looks like the following.

```<Assets />```

Fix coming soon hopefully

[2015-02-27 19:03] sayedihashimi commented on #228
I have the fix checked into TemplateBuilder https://github.com/ligershark/template-builder/commit/3bbcf203693708a452cf92c2baf7f6cac5832b6b. Once the build in ```master``` passes I will merge to ```releasetemplatebuilder``` which will then publish to nuget gallery.

The fix will be in templatebuilder nuget package version ```1.1.2-beta6```

[2015-02-28 05:04] RandomlyKnighted commented on #227
@sayedihashimi I'm able to reproduce this bug as well. I created a basic Cordova JavaScript project then when I went to the Add New Item dialog the only thing that showed up was the generic JavaScript item templates.

![cordova_app_problem](https://cloud.githubusercontent.com/assets/2483249/6424940/ab976fec-bed4-11e4-8cca-8b26c8d24b84.PNG)

I'm using the latest version of SideWaffle (1.15) from th

[2015-02-28 06:28] sayedihashimi commented on #227
How about other project types like a standard AspNet web app project? Is it specific to Cordova?

[2015-02-28 07:14] RandomlyKnighted commented on #227
Yes, it seems to be specific to Cordova.

[2015-03-02 19:55] fals commented on #227
@sayedihashimi and @RandomlyKnighted That's exactly what I'm talking about.

[2015-03-05 14:28] mikecasas opened #231 "Override Default Method Stub"
Is there a way to override the default implementation for a method stub?

It's great that VS creates the method and can even determine the type, but can I modify it so it puts something other than the throw not implemented exception?
![screen2](https://cloud.githubusercontent.com/assets/11261164/6506545/ec3f721c-c319-11e4-8318-1bf0041fb094.png)

[2015-03-05 18:35] RandomlyKnighted commented on #223
@roswilson are you using the latest version of SideWaffle from sidewaffle.com?

[2015-03-07 02:39] kentcooper commented on #182
I'll try to get this fixed and get a PR in tonight but just for your own sanity this should work.
[code]

[2015-03-07 21:50] RandomlyKnighted commented on #174
@sayedihashimi the PR was approved on the SideWaffle website a while back. Can we update the existing release notes so that when people make changes they are updating the one that will be used on the website?

[2015-03-07 22:02] sayedihashimi commented on #228
Fixed

[2015-03-07 22:02] #228 closed

[2015-03-08 15:59] RobHudson72 opened #235 "Sidewaffle release schedule"
Just checking if there is a plan to update Sidewaffle in the VS gallery soon...

https://visualstudiogallery.msdn.microsoft.com/a16c2d07-b2e1-4a25-87d9-194f04e7a698

Or has attention moved to developing the cloud based version of Sidewaffle that is discussed in another thread?  That sounds great too!

[2015-03-08 20:25] sayedihashimi commented on #235
I just published ```1.16```. The gallery still says ```1.0.2``` but when you click on it you'll get the latest. Also update notifications are handled via a custom gallery link so the version in the VS gallery is essentially not important.

That said it is kinda confusing, @madskristensen can you update the gallery to state ```1.16``` for SideWaffle?

[2015-03-08 20:32] madskristensen commented on #235
Done

[2015-03-08 20:35] sayedihashimi commented on #235
Thanks closing

[2015-03-08 20:35] #235 closed

[2015-03-08 20:40] RobHudson72 commented on #235
Thank you both!

[2015-03-08 21:06] sayedihashimi commented on #235
Btw we now have release notes at http://sidewaffle.com/#releasenotes

[2015-03-08 22:56] sayedihashimi commented on #227
Cordova is implemented in Visual Studio as a "Project Type/Project System". Each project system get's to control how templates are displayed.

The method that SideWaffle uses to enable templates across project types is that we add ``` <AppliesTo>ABC | (!ABC)</AppliesTo>``` to the .vstemplate file (for example [see here](https://github.com/ligershark/side-waffle/blob/master/TemplatePack/ItemTemplat

[2015-03-08 22:56] #227 closed

[2015-03-09 00:05] RandomlyKnighted commented on #59
@sayedihashimi did you do this for the current release?

[2015-03-09 03:03] kentcooper commented on #182
This can probably be closed now. However I was going through the other templates as well and I was wondering is the goal to have them match the non-typescript versions as much as possible? There is considerably less sample code in those versions than in the typescript ones.

[2015-03-09 03:34] sayedihashimi commented on #182
@johnpapa own the AngularJS content.

[2015-03-09 03:34] #182 closed

[2015-03-09 03:38] kentcooper commented on #182
Well he's definitely a good one to copy from. I'll start making those changes as well than.

[2015-03-09 03:45] sayedihashimi commented on #182
Ok sounds good thanks

[2015-03-11 05:23] sayedihashimi commented on #231
That might be implemented with a snippet, but I'm not sure. @madskristensen do you know?

[2015-03-11 05:25] #216 closed

[2015-03-11 05:30] sayedihashimi commented on #212
Added it to the list just now https://github.com/ligershark/template-builder/commit/2118fcdc3128c13544dc8e59c355fcb726d60b44. I will update the wiki after I publish to nuget.

[2015-03-11 05:30] #212 closed

[2015-03-11 15:54] madskristensen commented on #231
No idea. I've never seen any code modifying this. I'll be surprised if it's even possible

[2015-03-12 02:55] sayedihashimi commented on #231
Evidently you can override it with ```<vs folder>\VC#\Snippets\1033\Refactoring\MethodStub.snippet``` ([source](https://twitter.com/khellang/status/575806185720446976)) but unfortunately that is [no longer supported in VS2015](https://twitter.com/Pilchie/status/575806427442245632).

[2015-03-12 02:55] #231 closed

[2015-03-12 03:04] sayedihashimi commented on #208
@farid-am this is not something that TemplateBuilder supports, and I'm not even sure how to support it. This seems like a fairly advanced case and correctly solving this for the general case may be very time consuming.

What I would recommend.

I think you have two options to start with.
 - Create a build process to copy the files into the correct folders for you
 - Create a custom wizard that can

[2015-03-12 03:04] #208 closed

[2015-03-12 03:04] sayedihashimi commented on #191
Let's forget about this now that dynamic templates are here.

[2015-03-12 03:04] #191 closed

[2015-03-12 03:07] sayedihashimi commented on #188
Is there a generic IWizard that we can add in [TemplateBuilder](https://github.com/ligershark/template-builder) to simplify this?

[2015-03-16 06:24] tomhollander opened #236 "Can't set file to open in web browser"
Not sure if I'm doing something silly, but I've spent a couple of hours trying to get a template to show a file in the VS Web Browser upon launch without any success.

I have a file Project_Readme.html in my template project.
I added the following to my_project.vstemplate.xml file:
[code]
After compiling, the resulting template package looks OK, but after creating a new project I get an error:
[co

[2015-03-20 16:33] ghost opened #237 "Multi-project template creates extra folder at root level"
Following this tutorial: https://github.com/ligershark/side-waffle/wiki/How-to-create-a-multi-project-template

My template solution structure looks like this:

![image](https://cloud.githubusercontent.com/assets/4203100/6755931/bd771d2e-cee3-11e4-8949-cf19bcfa7b7b.png)

When I create a project using the VSIX, there is an additional folder created at the root level.

![image](https://cloud.githubu

[2015-03-25 05:58] sayedihashimi commented on #237
Good question, I'm not sure. I haven't looked at multi-project templates in a while so I forgot how the work. Multi-project templates are tricky. I would think that you should be able to do this, but not exactly sure.

FYI the .vsix file is a zip file so you can rename to .zip and extract it to see the contents. Inspecting that and playing around with it may help you identify the issue. Sorry I do

[2015-03-25 06:02] sayedihashimi commented on #236
You can run into this error if you type the file name wrong or if it's not in the expected location.

One question. Is Project_Readme.html a part of your template project? If not can you add it and then try again?

I doubt its an issue with SideWaffle. Have you found any other template (either a vsix or built in) that does what you want? If so then let's take a look at the .vstemplate file.

[2015-03-25 06:08] sayedihashimi commented on #223
I think the Add Template Reference button is only registered with Visual Studio 2013. I asked @madskristensen to help me fix this. @madskristensen can you fix it?

[2015-03-25 06:09] sayedihashimi commented on #207
Creating templates are the same for every (_as far as I know_) visual studio project, so you should be good to go for cordova/jsproj.

I'll close this issue, but if you run into specific issues please re-open this.

[2015-03-25 06:09] #207 closed

[2015-03-25 06:11] sayedihashimi commented on #178
OK so it seems like there is no concerns with us adding telemetry to SideWaffle/TemplateBuilder. I'll start working on this soon. Currently we have no idea what templates are being used. It would be very helpful to have an understanding of which templates are getting used, and which are not. We will have an option to disable the telemetry as well.

My initial thoughts are to use google analytics.

[2015-03-25 15:46] julianpaulozzi commented on #207
Yes at some point had only the JavaScript (Tree item) templates in Add New Item.
But after installing Visual Studio Tools for Apache Cordova CTP 3.1 I can see the templates of SideWaffle in "Visual C #> Web> SideWaffle" as well as other.

[2015-03-25 16:02] sayedihashimi commented on #207
@julianpaulozzi I think I know what's happening. Cordova hides SideWaffle template item templates. For Cordova you have to author templates specifically for that, which is not an option. See https://github.com/ligershark/side-waffle/issues/227#issuecomment-77780413 for more details. The best course of action 🎬 is to open a new item on http://visualstudio.uservoice.com. If you open an issue please

[2015-03-25 16:08] RandomlyKnighted commented on #220
Per #218 we mentioned that we wanted this to be a part of our second release. However, I was thinking about the button to reset the json file. I believe this could be useful for the first version, that is unless you're expecting second release to come pretty quick after the first.

[2015-03-25 16:44] sayedihashimi commented on #220
@RandomlyKnighted if you have time go for it. I noticed that there is a crashing bug in some occasions when using dynamic templates. Once I figure that out and add logging I think we may be good to release. I'll work on it in the next few days and see where we are at.

[2015-03-26 23:37] sayedihashimi opened #238 "Update Add Template Reference"
When a user invokes Add Template Reference the following additional steps should be taken.

 - [x] Install the TemplateBuilder NuGet pkg into the target project
 - [x] Install SW Project Template files into the target project

Even I've been tripped up by this. If we do this it will make it much easier and mush less error prone.

[2015-03-27 00:42] RandomlyKnighted commented on #238
I like this idea. It would definitely simplify the setup process a lot.

Just out of curiosity would it be possible to also remove the target project(s) from being built or is that something that has to be done manually?

[2015-03-27 00:45] sayedihashimi commented on #238
OK cool, do you have time to work on it?

[2015-03-27 00:55] RandomlyKnighted commented on #238
Yeah, one of my project deadline's is tomorrow night so I can start after that. I might need that Skype session on TemplateBuilder we talked about before I get started though.

[2015-03-29 18:05] RandomlyKnighted commented on #238
@sayedihashimi got a couple questions for you about how the Template Reference creation.

In TemplateReferenceCreator.cs, you're using the AddItem method from the Microsoft.Build.Evaluation namespace. It's first argument says that it's an item type of the added item. You passed in "TemplateReference", but I don't see where you have declared this anywhere. How does it know what that item type refer

[2015-03-29 18:28] sayedihashimi commented on #238
In MSBuild you can add any item type. It's up to the targets to consume them. In this case I made up TemplateReference and ls.tb.targets will process those.

About the variable, no I shouldn't have assigned it.

In this case we need to find out how to add an item template into the target project from code. I emailed a few folks you are on cc.

[2015-03-29 18:30] sayedihashimi commented on #238
In MSBuild you can add any item type. It's up to the targets to consume them. In this case I made up TemplateReference and ls.tb.targets will process those.

About the variable, no I shouldn't have assigned it.

In this case we need to find out how to add an item template into the target project from code. I emailed a few folks you are on cc.

[2015-03-30 02:43] kentcooper commented on #111
This can be closed now. Removed the static variables from the interfaces.

[2015-03-30 02:46] kentcooper commented on #102
This was not a problem with the template itself. This was caused by the way typescript handles "this". This can be closed.

[2015-03-30 02:48] sayedihashimi commented on #111
Thanks @kentcooper, closing.

Should we get you added as a contributor so you can close as well?

[2015-03-30 02:48] #111 closed

[2015-03-30 02:49] kentcooper commented on #96
This has been fixed as well and can be closed.

[2015-03-30 02:50] kentcooper commented on #111
@sayedihashimi that's fine I just wanted to clear some of these up since they've been open for so long.

[2015-03-30 03:03] kentcooper commented on #215
Where are you getting these? In the side-waffle source or in your project?

[2015-03-30 05:22] sayedihashimi commented on #111
@kentcooper invited, welcome to the SideWaffle contributors!

I appreciate all your help on the Angular TS. I have been looking for someone for a while to help out. I nearly had to remove them. You are the reason they are still there.

[2015-03-30 06:14] RobHudson72 commented on #111
I bet these templates will become more popular now that it has been announces that Angular 2.0 will be written in Typescript.

@kentcooper , I share @sayedihashimi 's appreciation!  I use these all the time.

[2015-03-30 07:44] NN--- commented on #215
I don't know how, but I had many errors in the error list.
It doesn't happen though, I think the issue can be closed..

[2015-03-30 07:44] #215 closed

[2015-03-30 18:09] #102 closed

[2015-03-30 18:10] #96 closed

[2015-03-30 18:14] kentcooper commented on #111
@sayedihashimi Thanks! I'm glad I could help. I use these templates on a daily bases and would have hate to see them disappear. @RobHudson72 I think so as well. I plan on adding some 2.0 templates as well once I've had a chance to play with it more.

[2015-03-30 19:21] kentcooper opened #242 "AngularJS provider template"
Received a request on the VS Extensions site https://visualstudiogallery.msdn.microsoft.com/a16c2d07-b2e1-4a25-87d9-194f04e7a698 QA section, to create an AngularJS provider template. @johnpapa  wanted to check to see if you wanted to handle this or if you had any feedback. If not I can create it and the matching TS version as well.

[2015-04-01 02:58] RandomlyKnighted commented on #238
Thanks to the [webjobsvs project](https://github.com/ligershark/webjobsvs/blob/master/src/WebJobsVs/WebJobsVsPackage.cs) I was able to pretty easily create the function to install the TemplateBuilder package.

I haven't tested it yet since I'm not done with everything yet. So it before merging we should probably make sure it installs the package to the correct project. We'll also need to create so

[2015-04-01 05:11] sayedihashimi commented on #238
Thanks @RandomlyKnighted I really appreciate that. When you are ready send a PR and I'll review everything.

Why do we need to convert the VSIX project to a VSPackage? It shouldn't be required unless I'm missing something.

[2015-04-01 23:20] sayedihashimi commented on #214
@NN--- can you add a schema directive in the json file itself?

cc @madskristensen

[2015-04-01 23:23] madskristensen commented on #214
To specify the schema in the .json file itself, try to add this to the top of the .json file:
[code]
That will instruct Visual Studio and other JSON Schema aware editors to use that schema

[2015-04-02 01:02] #223 closed

[2015-04-02 01:28] RandomlyKnighted commented on #21
@madskristensen I believe this template was added but never closed the issue.

[2015-04-02 01:32] RandomlyKnighted commented on #174
I believe it's safe to say that this has been closed. The change log was added on the last release.

[2015-04-02 01:32] #174 closed

[2015-04-02 01:35] RandomlyKnighted commented on #176
@CallumVass are you still experiencing this problem? I ask because I forked the repo back in January and haven't been experiencing any issues with the solution and I'm running Visual Studio 2013 Community Edition.

[2015-04-02 01:42] RandomlyKnighted commented on #161
Closing due to it being an almost identical issue to #238 (238 requests a third step be removed from the process i.e. importing the TemplateBuilder package)

[2015-04-02 01:42] #161 closed

[2015-04-02 01:43] RandomlyKnighted commented on #238
Per the original description of #161 it would be a good idea to check to see if the files already exist before adding the SW Project Template Files template.

[2015-04-02 02:13] madskristensen commented on #21
You're right. Thanks

[2015-04-02 02:13] #21 closed

[2015-04-02 03:07] RandomlyKnighted commented on #238
@sayedihashimi  where does SideWaffle store the zip files of the templates that it adds to Visual Studio? I need to get the name of the template we're wanting to add programmatically.

Also When adding the template there is a required string parameter that you have to pass the function. It's a name parameter, [which you can find here](https://msdn.microsoft.com/en-us/library/envdte.projectitems.ad

[2015-04-02 19:15] maheshw commented on #237
Looks like this is the same issue I was having: http://stackoverflow.com/questions/3882764/issue-with-visual-studio-template-directory-creation

I will report back after trying the given solution. Thanks

[2015-04-02 19:20] sayedihashimi commented on #237
Thanks, if we need to modify (or add a new) the wizard in TemplateBuilder we can.

[2015-04-03 21:54] sayedihashimi commented on #196
Fixed this a while back

[2015-04-03 21:55] sayedihashimi opened #244 "AngularJS Project Template"
We should add a project template to get started with asp.net and AngularJs.

[2015-04-03 23:30] RandomlyKnighted commented on #220
For the "Reset Defaults" button do you think should we download a new copy of the templateSources.json file or just recreate the file programmatically?

[2015-04-03 23:53] sayedihashimi commented on #220
Just recreate using the classes. There should be an example in the code already for the case that the file is missing.

[2015-04-04 05:42] sayedihashimi opened #247 "Automate the publish process"
We should automate the publish process so that we can easily publish and so that I am not the bottleneck to get a release out the door.

We should create a new branch ```release``` and whenever this branch is checked in the following files should be published.
 - [x] TemplatePack.vsix -> sidewaffle.com/feed/web/TemplatePack.vsix
 - [x] source.extension.vsixmanifest -> sidewaffle.com/feed/web/exten

[2015-04-04 05:59] RandomlyKnighted commented on #247
@sayedihashimi would it be possible for me to learn how this is done as well so I can carry it over to my other projects?

[2015-04-04 06:00] sayedihashimi commented on #247
Yeah once I complete it I can review the changes with you and explain them.

[2015-04-04 17:15] johnpapa commented on #242
Go for it!

[2015-04-04 22:40] RandomlyKnighted commented on #220
PR #248 adds the button that resets the json file.

I have not worked yet on moving the ```templatesources.json``` to ```%localappdata%\SideWaffle```. However, based on the original options presented I think having the file in a version folder would be better. It would prevent us from having to remember to "upgrade" the format of the json file.

[2015-04-05 05:32] sayedihashimi commented on #247
Related commits
 - e3f4390375fe0b02ff77755a5df468f63465e52f
 - 68e6206b38607e943fb1b6eb5226bcfb845c7d7e
 - e9d49f6149431f5406f07ad529fa653aed613670

[2015-04-05 06:00] sayedihashimi commented on #247
OK this is done now. I will write up info on the publish process to the wiki hopefully tomorrow.

[2015-04-05 06:00] #247 closed

[2015-04-06 04:46] kentcooper commented on #242
Template added

[2015-04-06 04:46] #242 closed

[2015-04-06 05:19] RandomlyKnighted commented on #238
I'm going to go ahead and close this. If we receive any error reports then we can create new issues like we're doing with the other features.

[2015-04-06 05:19] #238 closed

[2015-04-06 06:32] sayedihashimi commented on #196
Reopening as I never actually fixed this.

[2015-04-06 11:26] RandomlyKnighted commented on #59
Once we've fully implemented the dynamic templates feature, will this still be necessary?

[2015-04-06 11:29] RandomlyKnighted commented on #27
What can I do to help with this one?

[2015-04-06 12:24] RandomlyKnighted commented on #175
@sayedihashimi I just created a new HTML5 UP project using the Alpha template. I then launched the project, with no problems displaying the content. Has this issue been fixed?

[2015-04-06 12:28] RandomlyKnighted commented on #195
This wiki article will need to be updated to accommodate the changes ( #245 ) I made to the creation process of project templates.

[2015-04-06 15:47] RandomlyKnighted commented on #195
@domholmes This issue focuses on the documentation for single project templates. Can you create an issue with your request for an example multi-project template? That way your request will get more views and we can focus specifically on that within the issue you create.

[2015-04-06 15:53] RandomlyKnighted commented on #237
@sayedihashimi is this similar to the issue found reported by @gaspode44 on #169?

[2015-04-06 17:18] sayedihashimi commented on #169
Looks like a dupe of #237. There are details about how to work around it with a custom wizard there. I'll close this but if it's different then please re-open with details.

[2015-04-06 17:18] #169 closed

[2015-04-06 17:20] sayedihashimi commented on #195
@domholmes see #237 where someone replied back that they were able to get the NuGet packages working with a custom wizard for multi-project templates.

I never realized multi project templates were so popular.

[2015-04-06 22:42] RandomlyKnighted commented on #120
The current build of SideWaffle should build with any version of Visual Studio. If you continue to have problems please reopen with additional details.

[2015-04-06 22:42] #120 closed

[2015-04-06 22:44] RandomlyKnighted commented on #176
Since this issue was originally started we now check in the binaries so the current build of SideWaffle should build with any version of Visual Studio. If you continue to have problems please reopen with additional details.

[2015-04-06 22:44] #176 closed

[2015-04-06 22:53] RandomlyKnighted commented on #121
@sayedihashimi I don't know how to do this, but I'm definitely interested in learning once the dynamic templates feature has been fully implemented.

[2015-04-06 23:45] sayedihashimi commented on #121
In VS2015 I'm hoping that there will be a first class way to make a NuGet package for most project types. We already have ASP.NET 5 projects which create NuGet packages so I'm not sure if this is needed.

What I'd recommend now is that NuBuild team to create project templates (if they haven't already) and ship that with their vsix.

[2015-04-07 04:43] sayedihashimi opened #250 "autoupdate: Schedule should be a radio button group not checkboxes"
For autoupdate settings we are using checkboxes, where they should be radio buttons so that only 1 can be selected.

We should also add a "Always" option which will check for an update every time VS is started.

@RandomlyKnighted can I assign this to you?

[2015-04-07 04:46] RandomlyKnighted commented on #250
@sayedihashimi sure, but could you elaborate on the always option? Shouldn't it do that check anyways?

[2015-04-07 04:49] sayedihashimi commented on #250
If I pick "Check once a Month" it should check once a month for new templates. If I check "Always" it should check for updated templates everytime I start VS. does that make sense?

[2015-04-07 04:54] RandomlyKnighted commented on #250
Yep though I was thought that was already implemented it, but I'll check it out.

[2015-04-07 05:24] sayedihashimi commented on #250
I think it checks for ***new sources*** every time and for existing ones it will fetch from git based on the schedule. The always option is really for us.

[2015-04-07 05:31] RandomlyKnighted commented on #250
OK so I guess the question now is how do you tell if a template has been updated? Should we look for anything specific from the source destination or should we keep track some other way?

[2015-04-07 22:27] RandomlyKnighted commented on #250
I just wanted to note on here that there is currently a bug where if you change the update frequency the dialog either is not saving the new frequency or it is loading the incorrect one. I'll have to do some debugging to figure out which one it is.

Here's my current to do list:
- [X] Change update frequency checkboxes to radio buttons
- [X] Add an option for "Always" in update frequency settings

[2015-04-08 00:33] kentcooper commented on #244
So I'm trying to decide which way to go with this. Are we looking at a basic template with just the minimum needed to run an angular app? Or are we looking to get a angular/web api app up and going?

[2015-04-08 00:49] johnpapa commented on #244
I say basic angular with simple aspnet web API and single index HTML. No MVc

Sent from Outlook

On Tue, Apr 7, 2015 at 5:33 PM -0700, "Kent Cooper" <notifications@github.com> wrote:

So I'm trying to decide which way to go with this. Are we looking at a basic template with just the minimum needed to run an angular app? Or are we looking to get a angular/web api app up and going?

—
Reply to this

[2015-04-08 02:18] kentcooper commented on #244
Okay well the original request was for an "empty NG" template and I have that now. Right now I'm using Global.asax to register the API config. I normally use Owin myself but I'm not sure if that's the route we want to go with this or if we want to keep the number of dependencies to a minimum.

[2015-04-08 02:20] johnpapa commented on #244
ah, was it? ok.

I hate messy starter templates. Ideally the MVP is a no back end angular app. but people are in VS cuz they want some back end, likely asp.net. so my thinking is thats a good MVP. simple server would be great. just serve a page, have a single api, and go away

[2015-04-08 03:45] kentcooper commented on #244
Okay so I checked in the basic starter template [here](https://github.com/kentcooper/side-waffle/tree/angular-project-template/TemplatePack/ProjectTemplates/Web/AngularJSWebApiEmpty). I'm not even adding an API controller just the dependencies and basic folder structure. I did add the app.js file just to kind of start it out. I'm still thinking about making it use OWIN. Anyway if you get a chance

[2015-04-08 09:29] NN--- commented on #214
@madskristensen It works !
Can you add it to the default manifest.json template ?

[2015-04-08 14:22] mwhitis opened #251 "FSharp Template interfering with Add New Class in C# app"
I've got SideWaffle 1.16 from 3/10/15 installed on VS 2013 SP4.

After the installation, the "Add New Class" functionality is broken via the right-click menu item and the shortcut (shift+alt+c) in a C# app.  Instead of opening the "Add New Item" window, with Class selected, as expected, I get the Add New Item Window, with FSharp selected.

![image](https://cloud.githubusercontent.com/assets/549271

[2015-04-08 15:05] RandomlyKnighted commented on #251
@mwhitis I've been noticing this too. I'm not aware of any changes that should have affected this, but I'll look into it.

@sayedihashimi any suggestions on what might have made this change?

[2015-04-08 15:18] madskristensen commented on #214
Does it work when the Chrome extension is loaded into Chrome as well? One thing is that it works in VS (we knew it would), another is that Chrome accepts that particular property to be present.

[2015-04-09 00:35] kentcooper commented on #251
Strange thing is that F# template shouldn't even be included. It's suppose to exclude templates that start with an underscore.

[2015-04-09 00:55] sayedihashimi commented on #251
Can you try it with the latest version from sidewaffle.com? I just downloaded and cannot repro it. Maybe we published a bad build out there. That shouldn't happen anymore since we have now automated the publish process.

[2015-04-09 01:46] kentcooper commented on #251
I can reproduce it. It only happens for me on Web Projects though.

[2015-04-09 01:58] sayedihashimi commented on #251
I just deleted the item template. It was just a sample anyway.

[2015-04-09 01:58] sayedihashimi commented on #251
Once the release build https://ci.appveyor.com/project/sayedihashimi/side-waffle/build/1.0.184 completes it should be published, will close after I verify it.

[2015-04-09 02:12] RandomlyKnighted commented on #226
@sayedihashimi on the crashes you were encountering earlier the only time I've been able to replicate them was by deleting the folder in ```%localappdata%\LigerShark``` before opening Visual Studio. I then told Visual Studio to rebuild the templates that's when I received the errors. From what I can tell if SideWaffle is in the process of fetching the sources and is told to start fetching them aga

[2015-04-09 02:19] kentcooper commented on #251
I did some digging on TemplateBuilder and it doesn't actually exclude templates that start with underscore. It excludes templates that start with _Sample. I tried it on my local and Add Class is still broken. It just picks the Visual Basic template now instead of the F# one.

[2015-04-09 02:21] sayedihashimi commented on #251
@kentcooper oh ok, my bad.

[2015-04-09 03:10] kentcooper commented on #251
@sayedihashimi  okay so I messed around with this for the past couple hours and as far as I can tell it has to do with the order the languages are displayed in. In a web project with SideWaffle installed for whatever reason the non native language is displayed first. And it seems that add>class is trying to pick a template called Class from the first language in the list and the class template isn

[2015-04-09 03:18] RandomlyKnighted commented on #250
@sayedihashimi  I've got everything working now except for where it checks to see if a template has been updated. Because our sources can be either a git repository or a location on the file system, how do we determine if the source has been updated?

[2015-04-09 03:39] sayedihashimi commented on #251
Yeah Web projects have a custom implementation for Add Class. It seems like there may be an issue with that. I've never heard it reported before so I think it's not a common scenario.

[2015-04-09 03:45] kentcooper commented on #251
Well I have a potential work around. If you use the AppliesTo element in the template definition to actually filter the languages so that the VB templates aren't showing up on the C# project and vice versa than it seems to resolve the problem. Problem is that's a lot of templates that need updating.

[2015-04-09 03:56] sayedihashimi commented on #226
![sw-touch-log](https://cloud.githubusercontent.com/assets/1283154/7060208/867300b0-de31-11e4-9827-62a7e97acae2.png)

I think it's trying to set modified time while there is a write handle to it. I will just surround with a try/catch and ignore IOException assuming that when the write is closed the time is updated.

[2015-04-09 04:00] RandomlyKnighted commented on #226
Just curious, does File.Create require you to close the file? If so then you might need to close it before setting the last write time.

[2015-04-09 04:07] sayedihashimi commented on #251
I didn't realize AppliesTo would make VB templates show up for C#. I thought AppliesTo was about the project type, so that is strange.

[2015-04-09 04:12] kentcooper commented on #251
Well most of the AppliesTo elements on the Web and Misc types are set to `<AppliesTo>ABC | (!ABC)</AppliesTo>` Which causes them to show up in the New Item Dialog for every project type. If we change that to `<AppliesTo>CSharp</AppliesTo>` in the CSharp.vstemplate and `<AppliesTo>VisualBasic</AppliesTo>` in the VB.vstemplate files that would cause them not to show up in the dialog except for the s

[2015-04-09 04:20] sayedihashimi commented on #251
@kentcooper ok I think I see what you are saying.

Here is what I think we should do.
 - [ ] Update csharp templates applies to to ```<AppliesTo>!VisualBasic</AppliesTo>```
 - [ ] Update vb templates applies to to ```<AppliesTo>!csharp</AppliesTo>```

That way the templates still show up for cordova and asp.net 5.

[2015-04-09 04:42] sayedihashimi commented on #251
The script I used to update the element is at https://gist.github.com/sayedihashimi/fd04142e167fffef514b maybe we could use that to achieve the items above?

[2015-04-09 04:47] sayedihashimi commented on #226
Yeah I fixed the code in de861ffc791337175356f72094643beec0a9aeaf

[2015-04-09 05:48] #251 closed

[2015-04-09 15:03] NN--- commented on #214
Unfortunately not :(
[code]

[2015-04-09 19:40] mwhitis commented on #251
@kentcooper , @sayedihashimi

Thanks for the quick turnaround on this!

[2015-04-09 21:28] sayedihashimi commented on #244
@kentcooper can you build the .vsix file and share that so that it's easy for people to test it?

[2015-04-10 02:27] kentcooper commented on #244
Okay here it is. http://1drv.ms/1aPrUst

[2015-04-10 23:14] RandomlyKnighted opened #254 "Doc creation: add wiki articles for item templates and snippets"
With the upcoming release of the MSDN article, it would probably be a good idea to create wiki articles showing how to create an item template and for adding new snippets. Currently, the item templates wiki page just points to a blog post and there is no wiki page for snippets.

[2015-04-10 23:29] RandomlyKnighted commented on #250
The original request made here has been completed via #252.

[2015-04-10 23:29] #250 closed

[2015-04-10 23:30] RandomlyKnighted commented on #106
@sayedihashimi is this something that still needs to be done? If so, could you elaborate on what you're referring to and what would need to be done?

[2015-04-10 23:33] RandomlyKnighted commented on #121
Since the current recommendation is to get the NuBuild team to get the NuBuild team to ship project creation in their VSIX and there will (hopefully) be a way to do this via VS2015 I'm going to go ahead and close this.

[2015-04-10 23:33] #121 closed

[2015-04-10 23:45] RandomlyKnighted commented on #175
I have been able to create and run 3 HTML5 UP! templates with no issues. I used the following templates in my test:

Alpha (one of the middle templates created)
Minimaxing (the oldest template on the site)
Spectral (the newest template on the site)

This was tested using version 1.16 of SideWaffle, which is the latest versions at the time of this comment. I'm closing, please reopen if problem pers

[2015-04-10 23:45] #175 closed

[2015-04-10 23:58] RandomlyKnighted commented on #166
@sayedihashimi was going back through this to see where we are in relation to our original plan. Did we ever work through the issue of not being able to extract SideWaffle until a project is created?

Also are we still planning to add an editor for templatesources.json at some point?

Other than that it looks like this first release will pretty well include all the key points mentioned here.

[2015-04-11 00:49] sayedihashimi commented on #166
yeah fixed that

@madskristensen can u create a json schema for https://github.com/ligershark/side-waffle/blob/autoupdate/TemplatePack/templatesources.json and add to http://schemastore.com?

@RandomlyKnighted agreed, can we add the wiki doc on autoupdate and then close this item with a link to a build to try it?

[2015-04-11 00:53] RandomlyKnighted commented on #166
@sayedihashimi yeah, once I get that finish adding that bug fix we talked about and you've approved the PR I can take care of the wiki doc and the link.

[2015-04-15 09:09] sayedihashimi commented on #254
There is some info on snippets at https://github.com/ligershark/side-waffle/wiki/How-to-create-your-own-template-pack

[2015-04-16 06:20] port513 opened #256 "Durandal451 doesn't work"
When trying to create a Durandal451 project it complains about missing files.
http://www.evernote.com/l/ADeyefD4c2JDb7qFGwGLumxE0E5exTHj1TI/
http://www.evernote.com/l/ADcnKGbIsFxAVbfa1EuF0D6SnxS_vAw2CG4/
http://www.evernote.com/l/ADc_nTbVSR5PbLtVE8xaVkmQKzldz84dVXk/
http://www.evernote.com/l/ADcEJvO8sqlAk41oK5OGzofM3gAwD-5glj4/
http://www.evernote.com/l/ADfgGGV837FGQoTfsQ4r3mYRVVOd9Bgor3s/

I'm us

[2015-04-16 06:23] port513 opened #257 "No Chrome project work"
Trying to use the Chrome templates.
In all teplates I get this error

"CompressFiles or CompressPath must be specified ChromeExtensionProjectTemplate4"

I just create the project and try to build it but it always fail.

I'm using Visual Studio 2013 Professional with a Swedish version of Windows 7 x64

[2015-04-16 07:44] sayedihashimi commented on #257
OK I made some changes in 6861000ed2302d40921235841a8d1bdfee5956d0. Check out the comments there for more details.

I have a build ready for testing at https://dl.dropboxusercontent.com/u/40134810/SideWaffle/issue-257/TemplatePack.zip.

I've already committed to master so the fix should be in the next release.

[2015-04-16 07:45] sayedihashimi commented on #256
Is Durandal 451 the version we should be using? I'm trying to see if I should fix the current template or get it replaced with one that is more up to date?

[2015-04-16 08:16] port513 commented on #257
Maybe I do something wrong but when I reload the solution and CTRL + F5 I don't see the extension in Chrome.
Do I have to enable anything in Chrome to allow this?

[2015-04-16 17:09] RandomlyKnighted commented on #254
Do we want to just use that as our go-to Snippets wiki article or should I add a more detailed version with screenshots?

[2015-04-22 02:47] RandomlyKnighted commented on #132
I've was able to create a Razor v3 website and converted it to a WAP. I hope to replicate this in the SideWaffle project and have a PR soon with the new template.

[2015-04-22 18:08] RandomlyKnighted commented on #195
This afternoon I plan to work on this to get it updated with the recent changes to the Template Reference item template. While I'm at it I'll see if I can get the last two items finished on the checklist. With any luck I hope to be able to close this by this weekend.

[2015-04-22 21:39] sayedihashimi commented on #251
@kentcooper I noticed you used ```<AppliesTo>!VB</AppliesTo>``` instead of ```<AppliesTo>!VisualBasic</AppliesTo>``` was that on purpose, does it work?

[2015-04-23 20:31] sayedihashimi opened #259 "Create an xunit project template for ASP.NET 5"
We should add a new project template for xUnit ASP.NET 5.

I am working on getting the content of the template ready and will update this when I have that.

[2015-04-26 00:56] kentcooper commented on #251
@sayedihashimi yes it was on purpose. I messed it up when it posted it before. Oh and yes it does work I just tested again just to make sure.

[2015-04-26 01:10] sayedihashimi commented on #251
@kentcooper ok just checking that everything is good thanks.

[2015-04-30 01:15] RandomlyKnighted commented on #256
@sayedihashimi It looks like the [Durandal451 project](https://github.com/Useful-Software-Solutions-Ltd/Durandal451) hasn't been updated for a while so I guess this is still considered up to date. However, Durandal451 uses Durandal 2.01 and the current [version is 2.1.0](http://durandaljs.com/downloads.html). Since Durandal451 is still technically the latest we could fix the current template and u

[2015-04-30 01:26] RandomlyKnighted commented on #257
@port513 here's what I did to get the extension to test in Chrome:

1. Turn on Chrome's extension developer mode located on the Chrome extensions page
2. Click the button labeled Load unpacked extension...
3. Navigate to your project's bin folder and selected the folder labeled "unpacked" then hit the OK button.

Once you do that you should see your extension appear to the right of the address bar

[2015-04-30 01:55] RandomlyKnighted commented on #244
@kentcooper I just tested out your template but ran into an issue with the Global.asax.cs and WebApiConfig.cs. They were calling a couple of depdencies but couldn't recognize that they were there. I had to reinstall the package Microsoft.AspNet.WebApi.WebHost in order to fix the errors.

[code]

is what I used to correct the issue.

[2015-04-30 02:07] RandomlyKnighted commented on #236
@tomhollander were you able to correct your issue?

[2015-04-30 02:13] tomhollander commented on #236
I worked around it by launching it from code in a Wizard extension. I couldn't figure out how to do it declaratively.

[2015-04-30 02:15] RandomlyKnighted commented on #236
@tomhollander Alright, then I'm going to go ahead and close this. Feel free to reopen if you have issues with this again. Also if at some point you figure out how to do it declaratively we'd love to hear how you did it.

[2015-04-30 02:15] #236 closed

[2015-04-30 03:05] kentcooper commented on #244
hmmm... I would have thought that nugget package restore would have restored the dependencies automatically on build.

[2015-04-30 03:08] RandomlyKnighted commented on #244
@kentcooper That was the only package I had issues with. Everything else was added automatically on build.

[2015-04-30 03:18] kentcooper commented on #244
@sayedihashimi have you run into that before? Is there anything I need to do to allow it to be restored properly?

[2015-04-30 16:00] sayedihashimi commented on #256
@RandomlyKnighted that sounds like a good idea. The sad part about this is that we are having to make uninformed decisions because we do not have any telemetry/analytics. So we don't know if this template is being used or not. Ideally if it was not being used then we would remove it. I think it will be important to add telemetry so that we can make informed decisions later on.

That's #178 so I'll

[2015-04-30 16:55] RandomlyKnighted commented on #220
This has been fully implemented.

[2015-04-30 16:55] #220 closed

[2015-04-30 16:57] RandomlyKnighted commented on #59
Per previous discussion, since the templates are already in .zip files it looks like VsixCompress won't help much with decreasing the size of the VSIX.

[2015-04-30 16:57] #59 closed

[2015-04-30 18:04] RandomlyKnighted commented on #27
Per previous discussion, it was concluded that while this would be nice to have it would be difficult to implement without breaking things.

[2015-04-30 18:04] #27 closed

[2015-05-07 23:49] RandomlyKnighted opened #261 "Create a Gulp configuration item template"
Since VS 2015 is going to be using Gulp as one of its main task runners, I think it would be great if we added an item template that creates a basic gulpfile.js file. We've already got an item template for GruntJS so I think this would an excellent addition to our item templates.

[2015-05-11 12:19] RandomlyKnighted commented on #261
For this item template I was thinking about keeping it simple and just adding a gulpfile.js and including the following:

[code]

@kentcooper is there anything else that you think would need to be added?

[2015-05-12 05:12] sayedihashimi commented on #244
Sorry for the delay here, I lost this and didn't realize it was waiting on me.

I looked at the generated project and all the HintPath values are messed up. For example.

[code]

Where they should look more like the following.

[code]

Once I changed all the hint paths to the above the project worked.

[2015-05-12 05:38] sayedihashimi commented on #261
What I would recommend here is to create two item templates

 - Gulp file (basic)
 - Gulp file

Here ```Gulp file (basic)``` is the sample content from the [gulp getting started guide](https://github.com/gulpjs/gulp/blob/master/docs/getting-started.md) which is exactly what you have above, so +1.

```Gulp file``` is the content that you get from an ASP.NET 5 project created in VS2015 RC which I've

[2015-05-12 06:29] sayedihashimi commented on #257
It used to be automated on CTRL+F5 after the solution was closed/reopened one time. I think something changed on the chrome end. @port513 if you figure out how to automate from the command line then we should be able to replicate that.

I'll close this now but if you figure out steps to automate that please re-open.

[2015-05-12 06:29] #257 closed

[2015-05-12 06:32] sayedihashimi commented on #256
I just tried the durandal template and I got a bunch of missing file dialogs and then the project wasn't created. Is it working for you?

[2015-05-12 06:35] sayedihashimi commented on #237
@RandomlyKnighted yeah it sounds like the same issue. Looks like the solution is to use a custom wizard, see http://stackoverflow.com/questions/3882764/issue-with-visual-studio-template-directory-creation.

[2015-05-12 07:29] port513 commented on #256
This is not working, missing files...

[2015-05-12 07:29] port513 commented on #256
Oops ;) Sorry, close button is in the wrong place ;)

[2015-05-12 12:27] kentcooper commented on #244
ahh... alright. I'll get those fixed.

[2015-05-13 20:07] sayedihashimi commented on #259
OK I have the xUnit test project at https://dl.dropboxusercontent.com/u/40134810/SideWaffle/issue-259/UnitTestProject.zip which is ready to go.

[2015-05-13 22:21] #261 closed

[2015-05-13 23:06] RandomlyKnighted commented on #256
I am working on getting the missing files included and getting the Durandal files updated to version 2.1.0. When I get done and have tested it on my computer I'll post a link to my build of SideWaffle to get additional feedback since Durandal isn't something I've used before.

[2015-05-14 01:34] RandomlyKnighted commented on #132
This was added and merged on 5/9/2015.

[2015-05-14 01:34] #132 closed

[2015-05-14 01:40] RandomlyKnighted commented on #172
@sayedihashimi considering all the trouble I've been having lately with NuGet packages I'd like to suggest this as the next feature we add once we get the dynamic templates feature completed.

[2015-05-14 01:45] RandomlyKnighted commented on #178
In regards to Step 1, it looks like the "SideWaffle Item Template" item template does not add a TemplateId when it adds the .vstemplate files.

Were you able to find out how to add a custom wizard to project/item templates by default?

[2015-05-14 06:50] sayedihashimi commented on #256
Ok sounds good

[2015-05-14 12:07] RandomlyKnighted commented on #256
I got the missing files added but ran into another problem. When you run the newly created project you get an error saying that there is a missing .mdf file in the App_Data folder. I've looked and there isn't a .mdf file in either the Side-Waffle repo or in the original repo from the person who made the template. Is there a way to generate a new .mdf file (with all the data that it should have in

[2015-05-20 06:28] sayedihashimi commented on #256
Not with the data in it, unless there is a script or some form of the schema+data.

Yes, I think new project templates should be created the new way and in the [Project Templates](https://github.com/ligershark/side-waffle/tree/master/Project%20Templates) folder.

[2015-05-20 06:33] sayedihashimi commented on #254
@RandomlyKnighted I think we can go with what we have for now on snippets. I think there are other things more important.

[2015-05-20 07:24] sayedihashimi commented on #178
@RandomlyKnighted

I just updated them in b6548b29c6d72a207d879575090599aca7ac4630, item and project template template now both have TemplateId.

All we have to do is to update the ```_project.vstemplate.xml``` or ```*.vstemplate``` file to have an additional ```WizardExtension``` element ([example](https://github.com/ligershark/side-waffle/blob/dbf0b71d152ca81496a0cd83b9d2a0ba5cd1771f/Project%20T

[2015-05-20 12:12] RandomlyKnighted commented on #178
Correct me if I'm wrong, but I'm understanding this as we can add something like the following to each vstemplate file

[code]

Where the FullClassName element points at a class in some project that we create. Is that right?

[2015-05-20 14:53] sayedihashimi commented on #178
Correct

[2015-05-20 15:04] olsh opened #264 "AngularJS filter template"
Add AngularJS filter template like in the sublime version
https://github.com/johnpapa/angular-styleguide/blob/master/assets/sublime-angular-snippets/angular.filter.sublime-snippet

[2015-05-20 15:40] RandomlyKnighted commented on #264
@kentcooper would you like to work on this?

[2015-05-20 15:45] RandomlyKnighted commented on #178
Does it have to be a specific kind of project? (i.e. Console Application, Class Library, etc.)

[2015-05-21 00:08] RandomlyKnighted commented on #256
@sayedihashimi I've managed to get a working .mdf file for this project. While I'm working on this do we want to migrate this over to using the new method or wait until we get some statistics first?

[2015-05-21 00:14] sayedihashimi commented on #256
Whichever is quicker to implement

[2015-05-21 00:59] RandomlyKnighted commented on #256
Alright, here is the [current build that I have](https://onedrive.live.com/redir?resid=633497d57c52e521%21118281). I got the template working, but didn't update Durandal to 2.1.0 because none of the Durandal packages used in this project have been updated to that version yet. Once those have been updated to the newer version I'll update this template again.

[2015-05-21 02:39] kentcooper commented on #264
Yeah I'll make one.

[2015-05-21 02:42] johnpapa commented on #264
lol. i hate filters :)

yes, i created one, but i hate em

[2015-05-21 02:45] kentcooper commented on #264
So you're saying you don't want to make this one? :-)  Really I'm not a fan either. I can see where they'd be useful but I avoid them like a plague.

[2015-05-22 03:11] kentcooper commented on #264
@johnpapa I know you don't like filters but I had to add you to the credits on the template. Now you will be forever associated with filters! *evil laugh*

[2015-05-22 03:28] #264 closed

[2015-05-22 03:38] johnpapa commented on #264
oh, thanks :)

[2015-05-22 04:04] #256 closed

[2015-05-22 04:11] kentcooper commented on #259
Not sure if you were looking for feedback on this but downloaded it and ran the default test with now problems. Also created a few other ones and those all ran fine as well.

[2015-05-26 23:22] RandomlyKnighted opened #268 "Create a Bower item template"
In VS 2015, there is a Bower item template. It would be nice if we could add the same item template for those who are using older versions of Visual Studio. The item template from VS 2015 looks like this:

[code]

[2015-05-27 00:25] RandomlyKnighted commented on #268
Where should this item template go? We only have 2-3 json files in SideWaffle and they all have different categories. For example, we have the json file for tslint which is under the Web/JavaScript category and we have the Json Schema item template which is under the Web/Misc category.

[2015-05-27 15:53] sayedihashimi commented on #268
+1, it should go under Web

[2015-05-27 17:50] RandomlyKnighted commented on #268
Alright, what about the subfolder under Web? Since it's JSON would it be classified as JavaScript or Misc?

[2015-05-27 18:42] sayedihashimi commented on #268
It doesn't have to go into any subfolder. Directly in web is ok.

[2015-05-27 18:44] RandomlyKnighted commented on #268
Good to know. Thanks @sayedihashimi

[2015-05-27 23:26] RandomlyKnighted commented on #268
@sayedihashimi what do I do about a templateId since we haven't released a new version of SideWaffle since you added the fix?

[2015-05-27 23:34] sayedihashimi commented on #268
Create a new guid and add TemplateID element

[2015-06-01 13:30] pputhran opened #270 "Javascript project templates"
How can i create a project template for Javascript (example a custom NodeJS project template)

[2015-06-01 13:35] RandomlyKnighted commented on #270
@pputhran, thanks for using SideWaffle. Please refer to our wiki article regarding [How to create a project templates](https://github.com/ligershark/side-waffle/wiki/How-to-create-a-project-template). If you have any questions, feel free to post back here.

[2015-06-01 15:22] pputhran commented on #270
thanks for a quick response @RandomlyKnighted . I tried following the article and built the vsix (exactly like the one in the article/video) but I dont see my custom project in Visual studio template. I am using Visual Studio 2013 community version. Would that make any difference.

[2015-06-01 15:27] RandomlyKnighted commented on #270
No, did you double click the VSIX to install your template? If so, then restart Visual Studio and the template should show up.

[2015-06-01 15:38] pputhran commented on #270
Still didnt work

_project.vstemplate.xml

<VSTemplate Version="3.0.0" xmlns="http://schemas.microsoft.com/developer/vstemplate/2005" Type="Project">
  <TemplateData>
    <Name>Pawan</Name>
    <Description>Project description here</Description>
    <DefaultName>WpfApplication1</DefaultName>

    <ProjectType>CSharp</ProjectType>
    <ProjectSubType></ProjectSubType>
    <SortOrder>1000</SortOrder

[2015-06-01 15:53] RandomlyKnighted commented on #270
When you added the SideWaffle Project Template files, was TemplateBuilder added as a reference to your project?

[2015-06-01 16:02] pputhran commented on #270
correct. vsix project in my solution has the reference to templatebuilder

[2015-06-01 16:06] RandomlyKnighted commented on #270
@sayedihashimi am I forgetting anything?

[2015-06-01 16:48] sayedihashimi commented on #270
Is the project file on disk named ```WpfApplication.csproj```? If the name in the ```_project.vstemplate.xml``` doesn't match what's on disk then this could happen. If that is not it could you follow the video step by step for a generic project type and let us know if that works or not?

[2015-06-01 17:43] pputhran commented on #270
Thank you @sayedihashimi

I followed the step by step video tutorials and that appears to work. I am actually trying to create a project template for Node.JS application. What should my <TemplateInfo Path=""/> and <ProjectType></ProjectType> be?

And is it the same steps (as in the video above) for creating a NodeJS (javascript) project template?

[2015-06-01 17:50] pputhran commented on #270
I think I got it working for Javascript projects as well. One minor problem that I still have, when I create a new project (via Experimental Instance), the project file contains _Definitions folder. How do I get rid of this?
![definitions](https://cloud.githubusercontent.com/assets/6620128/7919273/1872f3ee-088f-11e5-8b1f-e140820f63a0.PNG)

[2015-06-01 18:43] sayedihashimi commented on #270
In the source project just exclude that folder from the project. Can u create a new issue for that so we can fix the underlying issue?

[2015-06-02 17:01] pputhran opened #271 "_Definitions folder is shown when creating new projects"
I have visual studio extension created using Side-waffle. I am running into an issue where when I create a new project (via Experimental Instance), the project file contains _Definitions folder. If I exclude this folder in the source project, it does not appear in the new project.

Creating a new issue as per Sayed
https://github.com/ligershark/side-waffle/issues/270

[2015-06-02 19:51] sayedihashimi opened #272 "Add SortOrder to all item templates"
All item templates should have a ```SortOrder``` filed which is set to a minimum value of ```1000```.

[2015-06-02 22:10] mcquiggd opened #273 "Support for Aurelia?"
The team have provided good support for Durandal, and Mads has implemented support for Aurelia in Web Essentials....

Are there plans to add template and snippet support for Aurelia? It would seem to be a great match for the SideWaffle project, to support a standards-based (ES6, ES7, Web Components), non-opinionated framework, that is modular, plays nicely with existing libraries such as Breeze.js

[2015-06-02 22:18] RandomlyKnighted commented on #273
To my knowledge, I'm not sure if we have anyone at the moment (besides Mads) who has experience with Aurelia. If someone who has experience with it would like to contribute some templates and/or snippets, we'd appreciate the contribution.

[2015-06-02 23:07] sayedihashimi commented on #273
@EisenbergEffect what your plan for Project / Item templates for Visual Studio for Aurelia? If you don't have any plans then we can add templates to SideWaffle.
If you're planning to create your own template pack, then I'd love for you to try and use TemplateBuilder to simplify creating that template pack.

[2015-06-03 01:06] RandomlyKnighted commented on #166
The first build and instructions for the dynamic templates version of SideWaffle can be [found here[(https://github.com/ligershark/side-waffle/wiki/Dynamic-templates).

[2015-06-03 01:30] jckh1234 opened #274 "Image file corrupted in the template"
I have build a vsix project in vs2013 for my custom web application template. I have several images file (png) in my web template.

The vsix build and install without error, however I found all the image files are corrupted in my project that I created by the template.

The images file size is the same as the original file but cannot open in browser or image viewer.

If I use Export Template wizar

[2015-06-03 02:25] sayedihashimi commented on #274
Can you share the sample?

[2015-06-03 16:37] EisenbergEffect commented on #273
@sayedihashimi I haven't tried to create templates for a long time. It used to be quite cumbersome. I would like to have those for VS if possible though. Can you point me in the direction of the latest docs on how to achieve this most easily? I will try to put one of our team members on it. We've got a few that use VS as their primary tool, so it's good motivation for them.

[2015-06-04 16:18] sayedihashimi commented on #273
@EisenbergEffect see the wiki, the best doc to get started with is https://github.com/ligershark/side-waffle/wiki/How-to-create-a-project-template.

If you need any help let me know.

[2015-06-04 18:08] EisenbergEffect commented on #273
@cmichaelgraham Can you look into this? I think it's a good fit for your skills and experience.

[2015-06-05 01:11] #268 closed

[2015-06-05 01:18] kentcooper commented on #272
Is it alright if they are all set to 1000? I can write a script that will add it if so.

[2015-06-05 04:47] #244 closed

[2015-06-05 15:14] RandomlyKnighted commented on #270
Since you were able to find a workaround and have opened a separate issue for the underlying issue, I'm going to close this. If you have any more problems, feel free to reopen.

[2015-06-05 15:14] #270 closed

[2015-06-08 00:54] RandomlyKnighted opened #276 "Missing Item Templates for VS projects"
There are a few item templates that show up in the ```Add New Item``` dialog for C# projects that do not show up for VB projects. These templates should be in both types of projects since they are used when creating your own template pack.

All items should show up under the ```Extensibility->SideWaffle``` node.
* Package Definition (.pkgdef)
* SideWaffle Definitions Folder
* SideWaffle Item Templ

[2015-06-08 02:16] RandomlyKnighted commented on #276
@sayedihashimi In the ["SideWaffle Item Template" item template](https://github.com/ligershark/side-waffle/blob/master/TemplatePack/ItemTemplates/Extensibility/SideWaffle/SideWaffle-ItemTemplate-Basic/_Definitions/CSharp.vstemplate#L12), we are using ```$guid1$``` instead of actually adding a TemplateId like in other item templates?

[2015-06-09 14:23] RandomlyKnighted opened #277 "Updating invalid TemplateIds"
There are ~10 files that contain invalid TemplateIds, i.e. ```$guid1$```. I briefly looked over the PowerShell script that added the TemplateIds and noticed that any Ids that were already existing were ignored.

I think we should probably update the current script to so that instead of skipping a file that already contains a TemplateId it should verify that its value is valid.

[2015-06-09 17:02] sayedihashimi commented on #277
@RandomlyKnighted for those files I think we can manually add a guid. Updating the script may not be worth it since they are a special case.

[2015-06-09 21:35] mcquiggd commented on #273
Impressed to see such a rapid responsive.

@EisenbergEffect

If I can be of assistance, I would like to volunteer a portion of my time, if you require additional 'hands' or 'eyes' to assist with the development, testing / QA.

[2015-06-09 21:48] EisenbergEffect commented on #273
@mcquiggd Would love to have some help on this. @cmichaelgraham has been doing most of our VS experiments. I think he's off the grid right now. If you want to take it on, feel free. Send me email (you can get it from my github profile) and I will connect you with Michael so you two can coordinate.

[2015-06-09 21:48] mcquiggd commented on #273
Will do so, thanks Rob.

[2015-06-09 23:27] mcquiggd commented on #273
@EisenbergEffect

Rob - contact details sent to your 'bluespire' account.

David

[2015-06-10 16:39] sayedihashimi commented on #273
Thanks guys. If you have any problems creating the templates let me know and I can help out.

[2015-06-10 16:41] sayedihashimi commented on #276
@RandomlyKnighted yes that looks like an error.

[2015-06-14 00:04] RandomlyKnighted commented on #276
This was fixed in PR #278

[2015-06-14 00:04] #276 closed

[2015-06-15 10:46] RandomlyKnighted commented on #178
@sayedihashimi In the HTML5 UP! Wizard that you created I noticed that that each function contained an argument for a project. How is the project being passed to each of the functions? The reason I ask is because I'm wanting to set up the telemetry wizard so that the TemplateID is the argument.

[2015-06-23 00:09] RandomlyKnighted commented on #272
From what I've read in the [MSDN documentation](https://msdn.microsoft.com/en-us/library/ms171389.aspx) (shown below) it should be fine if they are all set to 1000, because the default value is 100. So all our templates should appear after the default templates.

[code]

[2015-06-23 00:34] sayedihashimi commented on #272
Ok

[2015-06-24 05:35] #277 closed

[2015-06-26 11:29] RehanSaeed commented on #172
+1 I use option 2 for [ASP.NET MVC Boilerplate](https://visualstudiogallery.msdn.microsoft.com/6cf50a48-fc1e-4eaf-9e82-0b2a6705ca7d) and have been looking into option 1 myself.

I don't currently use SideWaffle but am considering moving to it. I do have several questions:

1. Will you still have to download the nupkg package files and put them in the VSIX project (This seems a madness to me).
2. O

[2015-06-26 20:27] webwizgordon commented on #172
I'm using option 2 as "undoing" all changes made by NuGet packages prior to template building seems unrealistic.

Option 2 seems to work fine except that my template's packages directory is getting copied into the template and bloating the size of my VSIX. Since the template does not generate the packages directory when a new project is created, having the packages content inside my template serve

[2015-06-26 21:06] sayedihashimi commented on #172
@RehanSaeed

No, it would still use option 2 to download nuget packages at design/build time. But the ```<HintPath>``` will be updated to the correct value, so it's a hybrid.

I don't think so, but not 100% sure.

No. While it's technically possible it's not supported at this time. I'm on the team that created the One ASP.NET dialog and the underlying support for it. If you would like us (Microsof

[2015-06-26 21:23] sayedihashimi commented on #172
@webwizgordon

VS templates can have several wizards declared in the .vstemplate file. So if we inject our own wizard it will likely be implemented such that it's the first wizard to run. Other wizards should run after that. You're wizard wouldn't even know that it ran.

Yes this would be good. Currently TemplateBuilder looks at the files/folders on disk to figure out what to include. In an ideal

[2015-06-29 08:47] RehanSaeed commented on #172
My Number 1 feature request from [ASP.NET MVC Boilerplate](https://visualstudiogallery.msdn.microsoft.com/6cf50a48-fc1e-4eaf-9e82-0b2a6705ca7d) is to add authentication support and the best way to do this would be using the One ASP.NET dialogue with it's authentication selector. I get contacted about it once or twice a week. I already raised the issue on [UserVoice](http://visualstudio.uservoice.c

[2015-06-29 09:36] sayedihashimi commented on #172
Yeoman is best if you are targeting xplat scenarios. Typical VS users may not discover it. There are great tutorials on creating yo generators. Start at http://yeoman.io, I can help you if needed as well.
That said I think you're trying to get to existing VS users. Have you considered creating a custom wizard? In your case you can create a WPF dialog that has auth options available which is launch

[2015-06-29 10:58] RehanSaeed commented on #172
Thank you for your offer of help, I really appreciate it. I have now created a project template using [these](https://github.com/ligershark/side-waffle/wiki/How-to-create-a-project-template) SideWaffle instructions and can report two issues:

1. I used the following XML in my old template project to open a [ReadMe](https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate/blob/master/Source/MVC5/Boile

[2015-06-29 15:11] gftrader opened #281 "Could Not Find File when attempting to add JSCSRC rules file to project"
I attempted to add a .jscsrc rules file and received the following Microsoft Visual Studio error:

`Could not find file 'C:\Users\User\AppData\Local\Microsoft\VisualStudio\12.0\VTC\a1a68500e557c58ca8561cf3fc389aee\~IC\ItemTemplates\CSharp\Web\SideWaffle\jscsrc.csharp.zip\.jscsrc'.`

Navigating to the folder and examining the jscsrc.csharp.vstemplate file's XML, it looks like the ProjectItem node v

[2015-06-29 16:21] webwizgordon commented on #172
@sayedihashimi

The wizard is fairly generic. It just uses a DTE object to programatically add the multi-project template one level up from the normal multi-project default path.

[Here's a gist with the wizard](https://gist.github.com/webwizgordon/09c1b6ff283369fcb9e3). It's based on this [Stack Overflow answer](http://stackoverflow.com/a/6198908/111648) that I saw in #237 with changes to specify

[2015-06-29 17:20] webwizgordon commented on #172
@sayedihashimi

I couldn't get `ls-ProjectTemplateFilesToRemoveOnCopy` to work as desired. I added
[code]
to template-builder.props and I could see the files listed from `GetFilesToExlucudeAsList()` while debugging [CreateTemplateTask.cs](https://github.com/ligershark/template-builder/blob/master/src/LigerShark.TemplateBuilder.Tasks/CreateTemplateTask.cs#L166).

It doesn't seem to have any effect

[2015-06-29 18:28] sayedihashimi commented on #172
@webwizgordon did you delete the bin/obj folder before build? The files may have been left over from a previous build.

[2015-06-29 18:48] webwizgordon commented on #172
I do a clean before build but I don't manually delete anything that may be left over in bin/obj (which seems to be 0-byte TemporaryGeneratedFile_*.cs files and a DesignTimeResolveAssemblyReferencesInput.cache file).

[2015-06-29 18:56] sayedihashimi commented on #172
@webwizgordon ok that's fine. Do this: create an issue in your repo that mentions me and lists everything you want deleted. I'll author the changes and send you a PR.

[2015-06-29 20:42] webwizgordon commented on #172
My project isn't on GitHub (we use TFS).

I did figure out that I can prevent the copying of my sub-projects' **packages** and **bin/obj** content to **obj/$configuration$/ls-Templates** by changing [ligershark.templates.targets](https://github.com/ligershark/template-builder/blob/master/tools/ligershark.templates.targets#L387) line 387 (line 386 in the NuGet v1.1.3 release) from:
[code]
to
[code]

[2015-06-29 21:12] sayedihashimi commented on #172
@webwizgordon instead of modifying that create a target that executes after the item is populated and the use the Remove attribute with the same expression you have in Exclude.
Yes, the item is poorly named. After implementing item templates I realized I could use the same process for project templates.

[2015-06-30 00:44] RandomlyKnighted commented on #178
I've created a function that uses the Google Analytics SDK to track which template is created. There are still three things left that need to be done.

 - [ ] Somehow get the template ID the vstemplate file (is there a way to read information from the vstemplate file when the project is created?)
 -  [ ] Add the WizardExtension element to the vstemplate file of all project and item templates
 -  [

[2015-06-30 03:47] sayedihashimi commented on #178
@RandomlyKnighted I think we should send TemplateID and Name. I'll look into how to get those values, hopefully tonight.

[2015-06-30 09:26] RehanSaeed opened #283 "Missing OpenInWebBrowser, Broken HintPath and Better Debugging"
Moved from [here](https://github.com/ligershark/side-waffle/issues/172), so I don't hijack the thread.

Thank you for your offer of help, I really appreciate it. I have now created a project template using [these](https://github.com/ligershark/side-waffle/wiki/How-to-create-a-project-template) SideWaffle instructions and can report some issues:

1 - I used the following XML in my old template proj

[2015-06-30 10:16] RandomlyKnighted commented on #283
You can hit Ctrl + F5 to load the template in an experimental instance of Visual Studio. This will allow you to test your template without actually installing it.

[2015-06-30 10:24] RehanSaeed commented on #283
Thanks @RandomlyKnighted, good to know.

[2015-06-30 10:53] RandomlyKnighted commented on #283
As for Question 2, we could add a check to see if there is an incorrect value in the HintPath.

@sayedihashimi what do you think about adding this in with the code for the Template Reference? Since the project will probably have to be reloaded after fixing the HintPath, I figure that would probably be the best place for it. That way we only have to reload the project once.

[2015-06-30 18:19] sayedihashimi commented on #178
@RandomlyKnighted I looked around to see if I could figure out how to get the TemplateID/Name inside a custom wizard and didn't make much progress. I've emailed a few people who should be able to give me more info. I'll update this when they reply.

[2015-06-30 18:24] sayedihashimi commented on #283
For 1: you should be able to add that in the vstemplate.xml file. If you've tried that and it didn't work let me know and I'll look into it.

For 2: if the value of HintPath needs to change from ```..\..\packages``` to ```..\packages``` then you can add a replacement in ```_preprocess.xml```. Make sure to remove the ```*.csproj``` value from the exclude list in ```_preprocess.xml```. More info on

[2015-06-30 19:13] sayedihashimi commented on #178
@RandomlyKnighted OK I've heard back. I was wrong in my approach to solve this, evidently you cannot access the .vstemplate metadata from a custom wizard. Instead in the .vstemplate file we can define a [Custom parameter](https://msdn.microsoft.com/en-us/library/ms247063%28v=vs.90%29.aspx) for the ID and Name. Then when the custom wizard is invoked we can use that data to track the usage.

I think

[2015-06-30 19:36] RandomlyKnighted commented on #178
So we replace the TemplateID with the Custom Parameters? If that's the case, then we could probably do that with PowerShell.

[2015-06-30 20:04] sayedihashimi commented on #178
There's no benefit in removing existing IDs. We can just create a script to add the new elements, and the guids can/should be different.

[2015-06-30 23:34] RandomlyKnighted commented on #178
If we create a new guid for this then the old TemplateID would become an identifier for Visual Studio and this one would be an identifier for us, correct?

[2015-06-30 23:43] sayedihashimi commented on #178
Yes. The issue with copying it is that it will get out of sync and there's no benefit to syncing them.

[2015-06-30 23:46] RandomlyKnighted commented on #178
Makes sense. So I guess our next step is to update all the vstemplate files with the TemplateExtension and Custom Parameters. I'm still pretty new to PowerShell so I could use some help with this part.

[2015-07-01 00:25] sayedihashimi commented on #178
See my script to add template id https://github.com/ligershark/side-waffle/blob/master/add-templateid.ps1 that should get you started

[2015-07-01 03:24] kentcooper commented on #272
Modified @sayedihashimi's scripts to add these. Script can be found [here](https://gist.github.com/kentcooper/cdd8db12d504d992683c).

[2015-07-01 10:27] RehanSaeed commented on #283
1 - I added the following code and got an error:

[code]

[code]

2 - The replacement method worked. It would be nice if this https://github.com/ligershark/side-waffle/issues/172 was implemented as I don't already have this feature.

[2015-07-01 11:10] RandomlyKnighted commented on #272
I think we should update the SideWaffle Item Template so that any new item templates have this as well.

[2015-07-01 14:41] kentcooper commented on #272
Good idea! Added it to my PR

[2015-07-01 20:36] sayedihashimi commented on #283
@RehanSaeed I just tried it and it worked. The .zip file is at https://dl.dropboxusercontent.com/u/40134810/SideWaffle/issue-283/VSIXProject1.zip.

Here is the full snippet I added

```<ProjectItem ReplaceParameters="true" TargetFileName="readme.html" OpenInWebBrowser="true">readme.html</ProjectItem>```

FYI when debugging you can build the project and then look in the bin folder for the vsix and

[2015-07-01 23:46] #272 closed

[2015-07-02 03:22] sayedihashimi commented on #272
Thanks guys!

[2015-07-03 00:58] kentcooper opened #285 "AngularJS directive template usage comment not displaying proper values"
Not sure if we will be able to resolve it or not but in the directive template there is a usage example that when the $safeitemname$ is camel case the comment is not correct. For example when the directive name is directTest you end up with this:

      .directive('directiveTest', directiveTest);

        // Usage:
        //     <directiveTest></directiveTest>

when it should be:

       .directi

[2015-07-03 20:03] webwizgordon commented on #172
`<_ls-ItemsToZip>` is populated and consumed within the same `ls-CoreCopyTemplateFilesToIntermediateFolder` Target so I don't know how to get a reference to it at the time needed to use the `Remove` attribute effectively (before it is consumed by a `Copy` task).

The closest I can get is to delete the files from the destination folder after they are copied but before they are processed:
[code]

Th

[2015-07-06 01:06] RandomlyKnighted commented on #178
Thanks, I was able to get my script to work. Now, I just need to get the TemplateName and TemplateID from the wizard parameters and pass it to my function then I'll be ready to upload a VSIX for dropbox so we can test it.

[2015-07-06 18:46] RehanSaeed commented on #283
Thank you that worked! I was missing the TargetFilename attribute. I have now [switched](https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate) to using SideWaffle.

I want to create a MVC 6 project template next. I see that there is a [workaround](https://github.com/ligershark/side-waffle/wiki/How-to-create-templates-for-ASP.NET-vNext) for this. I've followed the instructions but am currently get

[2015-07-06 20:21] RandomlyKnighted opened #286 "Duplicate templates in Visual Studio 2015"
Since several of our templates now come pre installed with Visual Studio 2015 we end up with duplicate templates.

It'd be nice if we implemented a way to exclude templates depending on what version of Visual Studio we are using. That way if a template is later added to Visual Studio we can just update our template to not be included with that version of Visual Studio.

[2015-07-08 11:31] RehanSaeed opened #287 "ASP.NET 5 MVC 6 Project Template"
I want to create a MVC 6 project template. I see that there is a [workaround](https://github.com/ligershark/side-waffle/wiki/How-to-create-templates-for-ASP.NET-vNext) for this. You can do a Git clone of https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate to see my code. I've followed the instructions but am currently getting the following errors:

[code]

 Also, my VSIX installs to VS 2012 and

[2015-07-08 22:08] sayedihashimi commented on #287
@RehanSaeed did you do anything special to get into this state or you just fell into it? For example did you modify any MSBuild targets or just took the defaults?

[2015-07-09 07:07] RehanSaeed commented on #287
All I did was right click my VSIX project and click on 'Add template reference (SideWaffle project)' and then modify the _project.vstemplate.xml and _preprocess.xml files. I have not modified any MSBuild targets files.

[2015-07-09 17:41] sayedihashimi commented on #287
This is the first that I'm seeing this error. I think it's related to a path too long exception when MSBuild is trying to expand the expression to find files to copy. I'll report back soon.

[2015-07-09 17:49] sayedihashimi commented on #287
@RehanSaeed I deleted the ```node_modules``` and ```bower_components``` folders and the process completed successfully. I think we should do two things:

 - Try and use npm flatten folders package to reduce the overall path length
 - See if we can exclude ```node_modules``` and ```bower_components``` from the vsix creation process

I think it's safe to exclude ```node_modules``` and ```bower_compo

[2015-07-09 19:29] RehanSaeed commented on #287
[Flatten packages](https://www.npmjs.com/package/flatten-packages) might improve things a little and get things building but excluding node_modules and bower_components is the way to go. I suppose I could also manually delete these folders and build.

I have [this](https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate/blob/master/Source/MVC6/Boilerplate.Web.Mvc6.Sample/wwwroot/.gitignore) .gitigno

[2015-07-12 09:17] sayedihashimi commented on #287
@RehanSaeed ok I tried using `Exclude` to prevent `node_modules` and `bower_components` from causing issues with long paths. That didn't work out. I think I'll need to make bigger changes like using robocopy to copy the folder and exclude `node_modules` and `bower_components`.

[2015-07-13 10:28] RehanSaeed commented on #283
@sayedihashimi Adding this line still seems to be causing errors intermittently. Even your sample project fails.

[code]

Most of the time I get two error dialog boxes below showing up with the messages below. The ReadMe.html file is missing from my VSIX file. Removing the above line solves the problem.

Dialog 1

Dialog 2

I managed to get it to work last time but I don't know why it started work

[2015-07-13 17:50] sayedihashimi commented on #287
@RehanSaeed I've made some changes in templatebulder https://github.com/ligershark/template-builder/commit/f67c6076c09a9d7c81017388a2e53ca2be150327 that should help in this case. I've released it to nuget.org as version `1.1.4-beta`. You can try out the fix with updating to that version of the nuget package with the command below `Install-Package TemplateBuilder -Version 1.1.4-beta -Prerelease`. N

[2015-07-14 07:25] sayedihashimi commented on #283
@RehanSaeed where is the project located? Is it https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate? If so I did the following.
 - Forked it to https://github.com/sayedihashimi/ASP.NET-MVC-Boilerplate
 - Updated to use the latest [prerlease of TemplateBuilder](https://github.com/sayedihashimi/ASP.NET-MVC-Boilerplate/commit/af3c2811473c223c8b1371ba026ed28cd882ed74) (as I mentioned on another thre

[2015-07-14 10:59] RehanSaeed commented on #287
1.1.4 beta has got rid of the errors. I cannot see the template appear in the 'New Project' dialogue though. Have I done something wrong in my SideWaffle xml? According to [this](https://github.com/ligershark/side-waffle/wiki/How-to-create-templates-for-ASP.NET-vNext) I just needed to set the project type to 'ProjectK'.

# _project.vstemplate.xml

[code]

# _preprocess.xml

[code]

[2015-07-14 11:04] RehanSaeed commented on #283
I tried it on two machines, one was VS 2015 RC, the other was VS 2015 Pre-RTM and both had failed. I spent an hour messing around with different settings and couldn't figure out what was causing it.

I have since upgraded to [TemplateBuilder 1.1.4-beta](https://github.com/ligershark/side-waffle/issues/287) and it has started working again :+1:. I will keep an eye out for this bug.

[2015-07-14 17:54] sayedihashimi commented on #287
With VS2015 RTM try the following

[code]

[2015-07-21 03:10] andreandersen opened #288 "Support Visual Studio 2015 RTM"
The VSIX will not install on Visual Studio 2015 RTM. Downloading the VSIX and trying to install it, but nothing happens.

[2015-07-21 03:19] #288 closed

[2015-07-22 11:16] RehanSaeed commented on #287
I'm now on RTM. Adding the above gets me a little further. The project now appears in the 'New Project' dialogue. However, when I generate the project, it is completely empty except for the .xproj project file.

[2015-07-26 18:38] sayedihashimi commented on #287
@rehansaeed did you get it figured out yet or still need some help here?

[2015-07-26 19:16] RehanSaeed commented on #287
Still need some help. When I generate the project, it's completely empty.

[2015-07-26 19:18] sayedihashimi commented on #287
Can you give me a link to the repo or email me the code?

[2015-07-26 19:18] RehanSaeed commented on #287
https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate

[2015-07-30 12:25] opoani commented on #287
Hi, Im experiencing a similar problem. Im trying to pack a 2015 MVC project and at first I also got the  "Illegal characters in path" but that got sorted out with the beta release.

Unfortunately then i get the next error, and it might be related t some misconfiguration I have done but i don't have a clue ....here?

I tried to follow the tutorials and it appeared pretty straight forward but i have

[2015-08-05 21:24] sayedihashimi commented on #287
@RehanSaeed @opoani thanks for the report. I noticed that it wasn't working as well and investigated it. The problem boils down to the fact that files are not listed in the `.xproj` file. Let me explain a bit of how templatebuilder processes the project templates.

When a project template is processed the project file (.xproj,.csproj,etc) are merged with the `_project.vstemplate.xml` file to gener

[2015-08-05 21:25] sayedihashimi commented on #287
FYI I have added a DNX project template for xunit, you can see the sources at https://github.com/ligershark/side-waffle/commits/master/Project%20Templates/xUnitTestProject

[2015-08-05 23:28] RandomlyKnighted opened #289 "Automate GitHub releases"
Due to the upcoming changes of the website our release process has changed. It now includes creating a release on GitHub. Information on our new release process can be found in the wiki article titled [How to create a release](https://github.com/ligershark/side-waffle/wiki/How-to-create-a-release).

It looks like we can might can do this using PowerShell. I've found the [following article](http://

[2015-08-07 11:43] RehanSaeed commented on #287
@sayedihashimi I've created a pull request (https://github.com/ligershark/template-builder/pull/74) to add this support into the template builder. The files are now added inside the VSIX.

However, when I generate a project from the template, I still get an empty project. What am I missing?

[2015-08-08 01:39] johnpapa commented on #285
ah. hmmm. is there a camelCaserizer ? :)

[2015-08-08 01:39] johnpapa commented on #285
or a dasherizer?

[2015-08-08 02:27] sayedihashimi commented on #285
I think we will need a custom wizard for this. If you can create a class to convert the strings I can help with the wizard part.

[2015-08-08 02:29] johnpapa commented on #285
https://github.com/MehdiK/Humanizer#dasherize--hyphenate ?

[2015-08-08 02:31] kentcooper commented on #285
@johnpapa that looks like its for _ to - we would need camelCase to dash right? I can write the class to do that part of it if we can't find one.

[2015-08-08 02:32] johnpapa commented on #285
could be useful too.

[2015-08-08 02:44] kentcooper commented on #285
true. Checked the directive snippet as well but that doesn't seem to include the actual usage so we should be good there.

[2015-08-10 13:49] RehanSaeed opened #291 "Project Template Logos"
I noticed looking at the new [xUnit](https://github.com/ligershark/side-waffle/tree/master/Project%20Templates/xUnitTestProject) project template that there is a PreviewImage logo you can add to the template. Here is an extract of the _project.vstemplate.xml file:

[code]

The template also contains three images
- sw-file-icon.png (64 x 64)
- logo-64-transparent.png (64 x 64)
- logo-512-transparen

[2015-08-11 12:06] RehanSaeed commented on #291
Ok, looks like sw-file-icon.png is hard coded in [ligershark.templates.targets](https://github.com/ligershark/template-builder/blob/master/tools/ligershark.templates.targets#L503).

I've created [this](https://github.com/ligershark/template-builder/pull/75) pull request to add sw-file-previewimage.png to the ignored files list.

Is my pull request required? Is there a way to add to this list of ig

[2015-08-14 00:31] avishnyakov opened #292 "Deploying other VS artifacts via sidewaffle"
Is it possible to deploy other VS artifacts via sidewaffle?

We can already push project and items templates along with the snippets, but what other others?
For instance, debugger visualizer or additionalmenu items and so on?

How is it aligned with sidewaffle?

[2015-08-14 08:32] sayedihashimi commented on #292
@avishnyakov thanks for the questions.

SideWaffle/TemplateBuilder just build on top of the existing support in Visual Studio. When you create a vsix there are two project types you can use; VSIX Project and VS Package project. Use VSIX Project if you want to create a vsix with just templates. Use VS Package project to create a Visual Studio Package, which can contain both templates and other item

[2015-08-14 18:52] gep13 commented on #289
@sayedihashimi for this, you might want to think about using GitReleaseManager:

https://github.com/GitTools/GitReleaseManager

It can automatically create a set of release notes (based on a milestone) and use those release notes to automatically create a GitHub Release.  Just something to think about...

[2015-08-15 19:55] sayedihashimi commented on #178
@RandomlyKnighted I looked at the wizard code and the values are not coming in via `customParams` but instead they are in `replacementsDictionary`. See the image below.

![replacements](https://cloud.githubusercontent.com/assets/1283154/9290567/d87ee010-434c-11e5-9d86-3a54b61e4799.png)

[2015-08-15 21:03] RandomlyKnighted commented on #178
How were you able to step through the code like that? Anytime I try to debug it using the Experimental Instance it just skips my breakpoint?

[2015-08-16 09:41] sayedihashimi commented on #178
@RandomlyKnighted yeah I see that too not sure what causes it. What I did was add `System.Diagnostics.Debugger.Launch();` to the line that I wanted to debug and then F5 on that.

Not sure about the docs.

[2015-08-16 20:50] RandomlyKnighted commented on #226
@sayedihashimi As of my most recent PR I have merged master into autoupdate. Have we already changed all the templates to embedded? If so then we're ready to remove all sources from the ```templatesources.json`` and then merge autoupdate into master.

[2015-08-19 00:26] avishnyakov commented on #292
Many thanks, that makes sense.

[2015-08-19 00:26] #292 closed

[2015-08-19 06:56] sayedihashimi commented on #291
@RehanSaeed I think we can close this after your changes at https://github.com/ligershark/template-builder/pull/77. Please reopen if we need to do more here.

[2015-08-19 06:56] #291 closed

[2015-08-19 08:10] #287 closed

[2015-08-19 08:48] RehanSaeed opened #294 "Generating an ASP.NET 5 global.json"
When creating a new ASP.NET 5 project, a global.json file also gets generated under the 'Solution Items' folder. Is it possible to generate this file along with my project template?

Another issue with this file is that there is a projects setting which controls the folders that the solution is under e.g.

[code]

The above global.json says that there should be a 'Source' and 'Tests' folder. I'm n

[2015-08-19 11:58] RehanSaeed opened #295 "Fixing NuGet Packages HintPath's"
I have written a custom IWizard which fixes the HintPath's to NuGet packages when creating a new project. I'm using the Microsoft.Build DLL to load up the project and edit the HintPath's.

The basic idea is to walk the directory from the project and count the distance to where the solution is located (This is also where the packages folder exists by default). This works well for most cases :+1: .

[2015-08-19 13:49] #283 closed

[2015-08-19 18:01] sayedihashimi commented on #294
Yeah this is tricky. I'd rather that we call into a wizard, or other code, that is exposed by the DNX project system.

@billheibert, we are creating templates for DNX and would like to support creating the `global.json` and `src` folders. Any ideas if we can call into the One ASP.NET wizard that handles this? If it's not possible today, can we enable it for the future?

[2015-08-19 22:05] sayedihashimi commented on #294
@RehanSaeed FYI I created a new issue at https://github.com/aspnet/Tooling/issues/153 so that we can try and get the supported added.

[2015-08-20 02:51] RandomlyKnighted commented on #259
This was added in [release v1.19](https://github.com/ligershark/side-waffle/releases/tag/v1.19).

[2015-08-20 02:51] #259 closed

[2015-08-20 08:04] RehanSaeed commented on #295
I've discovered how to use the NuGet.Core package to do this. Expect a pull request with this new Wizard soon.

[2015-08-20 08:04] #295 closed

[2015-08-20 08:05] RehanSaeed commented on #294
Excellent, Thank You!

[2015-08-20 08:21] sayedihashimi commented on #295
@RehanSaeed ok great, that sounds awesome.

[2015-08-20 15:49] RehanSaeed opened #296 "Hiding ASP.NET 5 Project Templates from VS 2012 and 2013"
My project template VSIX targets VS 2012, 2013 and 2015. I don't want the ASP.NET 5 project template in it to be available in VS 2012 or 2013.

In my _project.vstemplate.xml file I have been using the following setting which stops the above from happening. Today, I realized that developers can just install .NET 4.5.1 and the ASP.NET 5 project template will become visible again.

[code]

Is there a

[2015-08-22 19:20] sayedihashimi commented on #296
I'm not sure about this one. We will need to reach out to the vs template team for more info. Can you email me at sayedha@MSFT?

[2015-08-22 20:00] RandomlyKnighted commented on #296
Let me know what you find out. That way we can apply the same principal to #286.

[2015-08-22 22:51] sayedihashimi opened #299 "Create wiki page on how to change TemplateBuilder and consume in SideWaffle"
From https://github.com/ligershark/template-builder/pull/75#issuecomment-130753702 I have the notes below how how to change TemplateBuilder and then have SideWaffle use the latest. I've pasted that content below.

We should create a wiki on this with more details

 - Clone TemplateBuilder and SideWaffle locally
 - Make your changes to TemplateBuilder
 - Build `TemplateBuilder` from the command lin

[2015-09-01 22:38] xfischer opened #300 "MVC5 Scaffold error when using T4 files"
Hi,

I have added ASP.NET Scaffloding T4 files to my project (using Add New...).
I did not alter any file added, and when I try to add a new controller with EF, I have the following error message :
![image](https://cloud.githubusercontent.com/assets/2776898/9618929/e809be4e-510a-11e5-8b79-b8fff9710705.png)

I have used SideWaffle to translate scaffolded views, but no luck ! Thanks !

[2015-09-01 23:45] sayedihashimi commented on #300
@xfischer what version of VS (including vs update) are you using?

[2015-09-02 08:02] xfischer commented on #300
This is the VS install I have :
Microsoft Visual Studio Community 2013 Version 12.0.40629.00 Update 5
Microsoft .NET Framework Version 4.5.51209

When I copy the CodeTemplate files from VS folder to solution folder, it works. It seems that there are small differences between VS T4 files and the ones provider by SideWaffle.

[2015-09-02 08:53] sayedihashimi commented on #300
@xfischer that's what I was thinking could be the issue. Could you send a PR with the new files? They go to https://github.com/ligershark/side-waffle/tree/master/TemplatePack/ItemTemplates/Web/ASP.NET/Custom%20T4%20Files.

[2015-09-02 09:27] xfischer commented on #300
OK, done. Should this work with VS2013 prior to update 5 ?

[2015-09-02 16:36] sayedihashimi commented on #300
@xfischer thanks, merged it. You can grab a copy for testing at https://ci.appveyor.com/api/buildjobs/9s75umkobve6r0k1/artifacts/TemplatePack.vsix. It will be included in the next release. Closing this now.

[2015-09-02 16:46] sayedihashimi commented on #296
Thanks, I'm not sure if this is possible with the .vsix support that exists today. I've reached out to the template team to see if they have any info.

[2015-09-02 22:01] xfischer commented on #300
Thanks. I have installed the vsix file, but it still doesn't work with the same error.
I have compared and the T4 files = the ones in my PR = the ones on my VS dir, unaltered.
Is there something missing (ie a link between the generator used by VS 2013 Update 5 and the T4 files) ?

[2015-09-03 21:19] andre-artus opened #302 "Not installing on VS2015 RTM on Win 10"
I had SideWaffle previously installed but some time after upgrading to Win 10 it showed an update notification in VS (2015, Professional). I attempted the update, but it did nothing. I decided to download and install, but it does nothing. I tried installing from within VS Extensions and Updates, but all it does is open the browser (Edge) and start a download. Every other extension (bar one, "Code

[2015-09-03 21:25] andre-artus commented on #302
I forgot to add that I uninstalled the previous installation when it failed to update, in the hope that a "fresh" install would take. It did not. It does not report an error.

I have VS 2008 Professional, VS 2010 (probably from SQL management studio), and 2015 Prof.. I had 2013 Prof. installed before 2015 went RTW/RTM.

[2015-09-03 21:38] sayedihashimi commented on #302
@andre-artus are you saying that all third party extensions are not working for you our just SideWaffle?

[2015-09-03 23:32] andre-artus commented on #302
Others are installing, updating, and working. SideWaffle isn't.

[2015-09-04 10:09] davemvp commented on #302
I'm having the same issue with the Sidewaffle.vsix file. I have tried running VSIXInstaller from a command line and passing the templates.vsix file as an argument. There is no dialog, no nothing. I found other vsixinstaller logs in my appData folder but nothing for SideWaffle.

I previously had Visual Studio 2013 on my machine before upgrading to Windows 10. I uninstalled Visual Studio 2013, upgra

[2015-09-04 11:28] davemvp commented on #302
This may be a bigger problem with Visual Studio. The following issue seems very similar. https://github.com/github/VisualStudio/issues/28. I went looking in event viewer and found the exact same error messages as reported in the link above. Unfortunately I started looking at the event logs while I am repairing Visual Studio. As Chaim1221 indicates the extension manager within Visual Studio seems t

[2015-09-04 12:34] andre-artus commented on #302
From event viewer:
Problem signature:
P1: VSIXInstaller.exe
P2: 14.0.23107.0
P3: 559b7195
P4: mscorlib
P5: 4.6.96.0
P6: 55b96801
P7: 157e
P8: 12e
P9: System.UnauthorizedAccess
P10:

Attached files:
C:\Users\Andre Artus\AppData\Local\Temp\WER1C14.tmp.WERInternalMetadata.xml

These files may be available here:
C:\ProgramData\Microsoft\Windows\WER\ReportArchive\AppCrash_VSIXInstaller.ex_16b6a26652c63

[2015-09-04 12:38] andre-artus commented on #302
From Report.wer:

Version=1
EventType=CLR20r3
EventTime=130858435360598081
ReportType=2
Consent=1
UploadTime=130858435361298083
ReportIdentifier=f92bc20a-5300-11e5-8337-000272d46000
IntegratorReportIdentifier=ec3e30b8-a6d4-4fab-a37c-58b6cf147a73
WOW64=1
NsAppName=VSIXInstaller.exe
Response.BucketId=004a03714de54520fe7923f537c088c3
Response.BucketTable=5
Response.LegacyBucketId=128890715620
Respons

[2015-09-04 12:42] andre-artus commented on #302
More from EV:

Application: VSIXInstaller.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.UnauthorizedAccessException
Stack:
   at System.IO.__Error.WinIOError(Int32, System.String)
   at System.IO.FileStream.Init(System.String, System.IO.FileMode, System.IO.FileAccess, Int32, Boolean, System.IO.FileShare, Int32, Syste

[2015-09-04 13:34] StefanSchoof opened #303 "TypeScript Angular Templates prefix interface"
The TypeScript AngularJs Templates prefixes the interfaces with a "I" (see f.e. [controller.ts](https://github.com/ligershark/side-waffle/blob/master/TemplatePack/ItemTemplates/TypeScript/AngularJs/TypeScript%20Controller/controller.ts)).
The [TypeScript Coding guidelines](https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines) states

[2015-09-04 14:05] RandomlyKnighted commented on #303
@kentcooper could you take a look at this?

[2015-09-04 16:54] sayedihashimi commented on #302
Also from comments at https://github.com/github/VisualStudio/issues/28 it sounds like you should try to run the .vsix as an Administrator. To do that you can open an admin command prompt and execute the .vsix.

If that doesn't work, can you try out https://ci.appveyor.com/api/buildjobs/64k2b2vgnletq109/artifacts/TemplatePack.vsix and see if that installs correctly? We recently merged some signific

[2015-09-04 17:45] andre-artus commented on #302
I first tried out the version of templatepack.vsix linked above as a normal restricted privilege user. Same errors.

Then I tried to install the latest vsix (the one that was not working previously) using admin privileges, and that worked.

[2015-09-04 18:43] sayedihashimi commented on #302
@andre-artus OK so this does look like an issue with VS where admin privileges are required. I've already commented on https://github.com/github/VisualStudio/issues/28 so let's see if there is any update there.

[2015-09-04 21:24] andre-artus commented on #302
Thanks, Sayed, for helping mew to resolve my immediate issues. It would
probably be worth a note on the website/github until this issue gets a more
permanent solution.

On Fri, Sep 4, 2015 at 8:43 PM, Sayed Ibrahim Hashimi <
notifications@github.com> wrote:

[2015-09-04 22:36] davemvp commented on #302
Another thing I noticed that was different between the two machines I was testing with was that one had IIS installed (the one requiring to run as admin) and the other didn't. Maybe IIS triggers the need for elevated privileges?

[2015-09-06 20:34] codymullins commented on #302
@davemvp I don't have IIS installed and still had the error

[2015-09-07 03:32] kentcooper commented on #303
Thank you for you feedback. That style guide is for contributing to TypeScript itself and is not a recommended usage for using TypeScript in your project.

[2015-09-07 03:32] #303 closed

[2015-09-10 07:32] StefanSchoof commented on #303
The TypeScript team has put a clarification to this on the top Coding guidelines:

[2015-09-11 06:10] BRM013 opened #304 "Items not getting included in VSIX"
I've been going round and round on this, creating new projects from scratch, tearing others apart, I'm at a loss to understand what is going on.
I created a project, added some Item Templates and Snippets and all was working fine.
I then renamed some files, added some more and all of a sudden I started 'losing' items.
For instance, I have an Item Template that was being deployed, then I modified i

[2015-09-11 06:39] sayedihashimi commented on #304
Double check that the TemplateBuilder NuGet package was installed into the vsix project. If it is can you paste in the build log?

[2015-09-11 06:45] BRM013 commented on #304
Yes, the package is installed. It was working, build, deploy. Then just some renaming and then it stops working.

Here's the build output:
1>------ Build started: Project: Zetta1SideWaffle, Configuration: Debug Any CPU ------
1>  Removing ItemTemplate and ProjectTemplate files from Compile list
1>  Looking for item and project templates
1>  Creating a zip file for each template
1>  Copying templat

[2015-09-11 06:51] sayedihashimi commented on #304
Ok double check that the value in _project.template.xml matches the file name of your .csproj file.
If that's not it can you upload to dropbox and share the sources in a .zip file?

[2015-09-11 07:04] BRM013 commented on #304
_project.template.xml? I don't have one of them. I haven't created any project templates yet, just Item Templates and Snippets.
Interestingly, I just looked in the obj/debug/Is-Templates folder, and it appears one of my templates, which has the same name as another template but in a different folder, is included in the same zip. I have an Item Template called "Module". One for normal AngularJS and

[2015-09-11 07:13] BRM013 commented on #304
Here is a link to my onedrive where I have placed the zip file.
Note, this zip was created before I fixed the Item Template issue above, but the snippets still don't show

https://onedrive.live.com/redir?resid=3922A5E3E2C93FE!28348&authkey=!ACketTdzGz4-meo&ithint=folder%2czip

[2015-09-11 07:15] BRM013 commented on #304
Again looking through the obj/debug output. The visxDeployedFileListAbsolute.txt file contains file references that may not be valid.

C:\Users\Brett.Morris\AppData\Local\Microsoft\VisualStudio\12.0Exp\Extensions\ZETTA 1\ZETTA 1 - SideWaffle\0.3\Output\ItemTemplates\CSharp\Web\ZETTA 1\Controller As.csharp.zip
C:\Users\Brett.Morris\AppData\Local\Microsoft\VisualStudio\12.0Exp\Extensions\ZETTA 1\ZET

[2015-09-11 19:12] sayedihashimi commented on #300
@xfischer I just tried that build with VS2013 Update 4 and it worked. I'll install update 5 and then try again.

I wonder if this is an issue with localized builds? Do you have a machine configured with English that you could try with?

[2015-09-12 09:47] avishnyakov opened #306 "Multiple snippets within one snippet file issue"
Once snippet file has more than once snippet defined, the following exception comes out.
Just not too sure if that is intended behavior or VS limitation so that we have to split snippets as "file-for-every-snippet". What's the story behind that?

[code]

[2015-09-12 13:37] RandomlyKnighted commented on #306
Which snippet was you trying to use?

[2015-09-12 18:36] avishnyakov commented on #306
Added 'snippets' folder under VSIX project, added a few folders and then *.snippet file.

The snipprt file has CodeSnippets and then CodeSnippet XML nodes, so once the file has only one CodeSnippet - all fine, once there are two CodeSnippet elements within CodeSnippets  node - all dies.

All setup like here - http://madskristensen.net/post/shipping-visual-studio-snippets-in-an-extension just as I

[2015-09-14 02:33] RandomlyKnighted commented on #306
Do you mean that you're trying to create more than one snippet in the folder? Because each ```.snippet ```file is a single snippet.

[2015-09-14 02:41] avishnyakov commented on #306
I mean one file, many snippet in the file.

Seems that snippet file can have more than one snippet according to its shema, can't it?
https://msdn.microsoft.com/en-us/library/ms171418.aspx#codesnippets

Meaning, one or more, I guess. So it comes as this:

[code]

[2015-09-14 02:49] RandomlyKnighted commented on #306
Based on that documentation it sounds like it should be supported yes.

@sayedihashimi does SideWaffle do anything special in order to handle Snippets?

[2015-09-14 02:51] RandomlyKnighted commented on #302
Since we have come to the conclusion that the issue is with Visual Studio itself I'm going to go ahead and close this.

[2015-09-14 02:51] #302 closed

[2015-09-14 04:01] avishnyakov commented on #306
Oh, thanks for understanding and patience @RandomlyKnighted

The stacktrace suggest that it is a build task LigerShark.TemplateBuilder.Tasks.SnippetInfo and 'weird' System.Linq.Enumerable.SingleOrDefault call. Might be typo, donno, and should be FirstOrDefault..
[code]

[2015-09-14 12:07] RandomlyKnighted commented on #306
Thanks for providing the stack trace.

The [MSDN documentation](https://msdn.microsoft.com/en-us/library/bb342451(v=vs.100).aspx) for that class shows that there is a SingleOrDefault method.

It looks like the issue you are having is occurring [here](https://github.com/ligershark/template-builder/blob/master/src/LigerShark.TemplateBuilder.Tasks/SnippetInfo.cs#L28). It looks like what's happening i

[2015-09-15 16:11] sayedihashimi commented on #306
There is likely some bug in the [GenerateTemplatePackReport task](https://github.com/ligershark/template-builder/blob/master/src/LigerShark.TemplateBuilder.Tasks/GenerateTemplatePackReport.cs). I've never tried with a VSIX that just has snippets (i.e. no templates). For now you can disable this by adding the following into the `template-builder.props` file under `Properties`

[code]

I've been get

[2015-09-17 22:30] RandomlyKnighted commented on #106
We need to see about pulling the target framework information from the projects properties and put it in the preprocess.xml. An example of how it should look can be found [here](https://github.com/ligershark/side-waffle/blob/master/Project%20Templates/Nancy.CSharp.AspNetHost/_preprocess.xml). When done there will be two replacements just like the one shown in the linked example.

[2015-10-13 17:12] sayedihashimi opened #311 "Usability issues with SideWaffle settings dialog"
When using the SideWaffle settings dialog on a clean box there are some usability issues. I noticed the following.

 - There is no default entries (_we used to have a couple default entries that were not enabled_)
 - When the grid is empty (_default experience_) the name/url/origin are editable but it's not editing anything.
 - When adding a new source it is not enabled by default

cc @RandomlyKni

[2015-10-13 18:03] RandomlyKnighted commented on #311
1. Per #226 I was under the impression that we didn't want any default entries.
  2. You have to press the New Source button in order to for it to actually add the source, then hit Apply Changes for it to update the UI. Should the textboxes be disabled until the New Source button is pressed?
  3. Alright, that shouldn't be a problem to fix.

[2015-10-15 07:39] msmolcic opened #312 "Unable to create ASP.NET 5 project template"
I'm trying to create ASP.NET 5 project template, but when I choose my project inside Add Template Reference (SideWaffle project) and click OK I get the following error:

Application's .csproj file is not added to VSIX and I can't rebuild solution successfully as I get:

[2015-10-15 08:16] sayedihashimi commented on #312
@msmolcic did you see https://github.com/ligershark/side-waffle/wiki/How-to-create-templates-for-ASP.NET-5?

Also check the value in `_project.template.xml` for ```<Project File="AspNetProject.xproj" ReplaceParameters="true">``` to make sure the `File` attribute has the correct value and it should *not* have a `TargetFileName` attribute.

[2015-10-15 15:54] msmolcic commented on #312
This worked out for me. Thanks a lot!

[2015-10-15 15:54] #312 closed

[2015-10-15 20:09] sayedihashimi commented on #312
Ok glad you got it working

[2015-11-03 17:07] sayedihashimi commented on #311
-1 ok sounds good

[2015-11-03 17:34] RandomlyKnighted commented on #311
@sayedihashimi do you want the textboxes disabled until the "New Source" button is clicked?

[2015-11-03 17:42] sayedihashimi commented on #311
Sorry forgot to finish the reply

1 - OK Sounds good
2 - Yes the buttons should be disabled

[2015-11-03 17:43] RandomlyKnighted commented on #311
Alright, I'll have a PR for you this afternoon.

[2015-11-04 04:12] RandomlyKnighted commented on #178
@sayedihashimi did we ever update SideWaffle so that new project and item templates automatically add the Wizard?

[2015-11-04 04:47] sayedihashimi commented on #178
I thought that I added that a while back, are you not seeing it in the result?

[2015-11-04 04:48] RandomlyKnighted commented on #178
Where would it have been added at?

[2015-11-05 21:15] RandomlyKnighted commented on #273
@mcquiggd @EisenbergEffect I'm about to be at an in between stage for implementing SideWaffle features if you need any help with this.

[2015-11-05 21:52] EisenbergEffect commented on #273
@mcquiggd We would love for you to work on this if you are still interested.

[2015-11-12 13:28] MisterGoodcat commented on #312
This is not working for me. I've tried several variations and different versions (e.g. template builder stable/pre-releases etc.) and always get the same result. Basically:

* Create a VSIX project
* Add a ASP.NET 5 project (e.g. empty template)
* Right-click VSIX and add template reference
* The _project.vstemplate.xml and _preprocess.xml in the target project are created correctly
* However I im

[2015-11-13 08:06] MisterGoodcat commented on #312
I figured it out. The second error was caused by the experimental instance of VS running with a different language pack. Once fixed, the template could be used correctly.

The first error message however is still relevant, maybe the instructions should be updated to reflect that.

[2015-11-13 13:07] sayedihashimi commented on #312
Can you share the code so we can take a look?

[2015-11-13 18:19] MisterGoodcat commented on #312
The second error seems only dependent on the installed/configured environment. In particular, I have a German version of Visual Studio 2015 and installed the English language pack on top of it. My (English) development instance fired up the experimental instance in German, and that seems to have caused the issue. Once I switched the experimental instance to English, the error was gone.

The first

[2015-11-15 17:20] brunobertechini opened #315 "Multi-Project template does not show in Add New Project dialog"
Hi I have followed step by step the article regarding multi-project creation.

They are very basic steps and seems to be very easy.

But I can't get the "MultiWaffle" section appear when using Ctrl+F5 to run the solution.

The only difference I see is the TemplateBuilder package version (nuget) which is now higher than the version from the documentation.

Do you have any sample that you can share

[2015-11-15 17:27] sayedihashimi commented on #315
When you said you followed the doc was it the one at https://github.com/ligershark/side-waffle/wiki/How-to-create-a-multi-project-template ?

[2015-11-15 17:28] brunobertechini commented on #315
Precisely.

Thats the one. And the menu didnt show up.

I can send you the zipped solution so you can investigate if needed.

Bruno

[2015-11-15 17:31] sayedihashimi commented on #315
Ok that's great, if you can share a link here for everyone that would be great.

Sent from my Windows Phone

-----Original Message-----
From: "Bruno Bertechini" <notifications@github.com>
Sent: ‎11/‎15/‎2015 12:28 PM
To: "ligershark/side-waffle" <side-waffle@noreply.github.com>
Cc: "Sayed Ibrahim Hashimi" <sayed.hashimi@gmail.com>
Subject: Re: [side-waffle] Multi-Project template does not show in

[2015-11-15 17:37] brunobertechini commented on #315
Here we go:

https://github.com/brunobertechini/SpecTemplate

Bruno

[2015-11-15 17:57] sayedihashimi commented on #315
I noticed you're using 1.1.3 have you tried with version 1.1.4.5-beta?

[2015-11-15 17:58] brunobertechini commented on #315
No.

I will give it a try

Bruno

[2015-11-15 18:02] brunobertechini commented on #315
Just updating the nuget package I get compiling errors:

The "FilesExcludeRegex" parameter is not supported by the "CreateTemplateTask" task. Verify the parameter exists on the task, and it is a settable public instance property

The "CreateTemplateTask" task could not be initialized with its input parameters.

Bruno

[2015-11-15 18:04] brunobertechini commented on #315
Never mind. closing and reopening Visual Studio seemed to fix it. But I got same result with the new version.

With the same code, no section appears on Add New Project

Pushing to repo so you can reproduce...

Bruno

[2015-11-15 18:17] sayedihashimi commented on #315
Ok thanks. I'm not on a PC looking via my phone for ant hints to give you.

[2015-11-15 18:18] brunobertechini commented on #315
Are there any other documentation for multiproject template so I can go through ?

[2015-11-15 18:25] sayedihashimi commented on #315
No but we do have a sample at https://github.com/ligershark/side-waffle/tree/master/TemplatePack/ProjectTemplates/Web/_Sample%20Multi%20Project which I thought was still working. You'll need to build with debug to see that template.

I think it master we currently have a blocking issue impacting all templates. To try it clone the repo then checkout the commit at https://github.com/ligershark/side-

[2015-11-15 18:44] sayedihashimi commented on #315
I noticed you're missing the templateinfo.xml file at https://github.com/brunobertechini/SpecTemplate/tree/master/ProjectTemplates/MultiProjectWaffle/MultiSpecBasic/Definitions for example https://github.com/brunobertechini/SpecTemplate/tree/master/ProjectTemplates/MultiProjectWaffle/MultiSpecBasic/Definitions

[2015-11-15 18:46] sayedihashimi commented on #315
Also maybe try changing the name to _Definitions but I doubt that's it.

[2015-11-15 19:59] brunobertechini commented on #315
Changing to _Definitions didnt help.

Question: When I run with Ctrol+F5 and go to Tools\Extensions and Updates for the invoked VS instance, I cant see the extension SpecTemplate installed

Bruno

[2015-11-15 20:02] sayedihashimi commented on #315
Did you try adding the templateinfo.xml?

[2015-11-15 20:25] brunobertechini commented on #315
Yes no help.

I will try it from scratch again

Bruno

[2015-11-15 20:27] brunobertechini commented on #315
I have two versions of VStudio installed.

VS2013 Ultimate
VS2015 Community

I have created the Project using VS2013

Is that a problem?

Bruno

[2015-11-15 20:49] sayedihashimi commented on #315
VS version shouldn't matter.

[2015-11-15 20:50] sayedihashimi commented on #315
Also try Reset Experimental Instance. Its a script thats in the start menu.

[2015-11-16 22:39] xfischer commented on #300
Yes it worked. Thanks for the delay.

[2015-11-16 22:39] #300 closed

[2015-11-16 23:51] RandomlyKnighted commented on #300
@xfischer did you do anything different to get it to work?

[2015-11-17 12:55] RandomlyKnighted commented on #178
@sayedihashimi Ok, I've done some digging and I know why it was throwing the error

```The given key was not present in the dictionary.```

It appears that the TemplateName and TemplateID are not being added to the ```replacementsDictionary```. I'm still trying to figure out why they are not being added.

[2015-11-19 13:23] MCKRUZ opened #317 "Could not copy the file error"
Hi,

I am following the steps detailed out here
https://github.com/ligershark/side-waffle/wiki/How-to-create-a-project-template

and I'm getting this error

Could not copy the file "C:\TFS\Tallan.Mobile.Web\Momentum-Dev\Momentum.EnterpriseTemplate\Momentum.EnterpriseTemplate\{4A0DDDB5-7A95-4FBF-97CC-616D07737A77}" because it was not found.

Can you help me?

[2015-11-19 15:55] sayedihashimi commented on #317
Can you post the Project file contents for the project you are creating a template for?

[2015-11-19 16:54] MCKRUZ commented on #317
Unfortunately I can't, its too large plus it's confidential.  But regardless I have a bunch of files in there so it's pretty large.  Where is it getting that guid?

[2015-11-19 16:56] sayedihashimi commented on #317
Look in the project file for the guid and post the line here then I can tell u how to fix it.

[2015-11-19 16:59] MCKRUZ commented on #317
<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="12.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="$(MSBuildExtensionsPath32)\Microsoft\VisualStudio\v$(VisualStudioVersion)\TypeScript\Microsoft.TypeScript.Default.props" Condition="Exists('$(MSBuildExtensionsPath32)\Microsoft\VisualStudio\v$(VisualStudioVersion)\TypeScript\Micr

[2015-11-19 18:39] sayedihashimi commented on #317
@MCKRUZ in the template project you should find a file at `Properties/template-builder.props` in that file add the following

[code]

For example https://github.com/ligershark/side-waffle/blob/master/TemplatePack/Properties/template-builder.props#L30. I think that will resolve the issue if you run into another similar error then look in the project file for the missing "file" and then add the elem

[2015-11-19 18:43] sayedihashimi opened #318 "Remove the need for ls-NonFileTypes"
Currently we look through the project file to figure out what files need to be merged with the .vstemplate file. Many project files have items which do not point to files. The current design for this is that we have `ls-NonFileTypes` to figure out what items to ignore during the .csproj->.vstemplate merge. This has caused issues with new project types.

Instead of this, we should just check for th

[2015-11-19 18:44] sayedihashimi commented on #317
FYI there is some improvements we can do later to improve this so that you don't need to do this. I created a new issue https://github.com/ligershark/side-waffle/issues/318 for that.

[2015-11-19 18:57] MCKRUZ commented on #317
I believe that solved it.  Thank you sir!

[2015-11-19 19:00] sayedihashimi commented on #317
Ok closing

[2015-11-19 19:00] #317 closed

[2015-11-19 19:04] MCKRUZ commented on #317
Bah spoke too soon.  Now I'm getting this

Unable to copy file "C:\TFS\Tallan.Mobile.Web\Momentum-Dev\Momentum.EnterpriseTemplate\Momentum.EnterpriseTemplate\_Definitions\..\**\*.gif" to "obj\Release\ls-Templates\ProjectTemplate\Momentum.EnterpriseTemplate.project\**\*.gif". Illegal characters in path.

[2015-11-19 19:10] brunobertechini commented on #315
I have tried everything and still no success.

Can you please provide a working sample of multiproject (solution) ?

Regards

Bruno

[2015-11-19 19:18] sayedihashimi commented on #315
See my previous comment https://github.com/ligershark/side-waffle/issues/315#issuecomment-156841575

[2015-11-19 20:07] brunobertechini commented on #315
I saw that Project, but its not a SLN ready to debug..

I could not find how to make it work.

It would be better to have a directory with a working solution (.sln) with that template.

Or Am I missing something?

I have opened that solution, Ctrl+F5 -> No template on VS2015 or VS2013...

Can you please point me to the right direction?

Bruno

[2015-11-19 20:08] brunobertechini commented on #315
I will do that one more time just to make sure I didnt get the wrong commit...

Bruno

[2015-11-19 20:23] sayedihashimi commented on #315
Thats the best I have at this time, maybe somebody else has a working multi-project template.
Multi-project templates are tricky.

[2015-11-19 20:33] brunobertechini commented on #315
Yeah they are!!!

I manage it to work and they are appearing at CSharp\Web\SideWaffle when running the commit mentioned and debugging

I will try to use this sample with stable version ... would you recommend that ?

Or stick with this version and produce temp vsix now ?

Bruno

[2015-11-19 20:43] sayedihashimi commented on #315
Go with whatever works :)
If a previous version works but not the latest then there is a regression that will need to be investigated.

[2015-11-20 01:50] #311 closed

[2015-11-20 01:55] RandomlyKnighted commented on #178
@sayedihashimi When you get some time could you take a look at this and make sure I'm not missing anything. I compared the xUnit project template to the Caliburn.Micro Project Template. The wizard nodes and custom parameter nodes for both projects look identical. Yet, the Caliburn.Micro project goes through the wizard with no problem. When I create a xUnit project it gives me the error mentioned a

[2015-11-23 14:39] MCKRUZ commented on #317
Any ideas here?

[2015-11-24 19:42] brunobertechini commented on #315
But How can I use this unstable version to create my own template (vsix)? Do I need to uninstall stable version, build templatepack and install the produced vsix file ?

Bruno

[2015-11-24 19:56] sayedihashimi commented on #315
Just install the same version of the TemplateBuilder NuGet package for now. Then when it gets fixed you can upgrade.

[2015-11-25 17:47] MCKRUZ opened #319 "Unable to copy file illegal characters in path v1.3"
So I know there is already a closed issue on this but I'm getting the same result with the new version which supposedly has fixed the problem.

Here is my error
Unable to copy file "C:\TFS\Tallan.Mobile.Web\Momentum-Dev\Momentum.EnterpriseTemplate\Momentum.EnterpriseTemplate\_Definitions\..\**\*.gif" to "obj\Release\ls-Templates\ProjectTemplate\Momentum.EnterpriseTemplate.project\**\*.gif". Illega

[2015-11-30 18:53] gamicklisafisher commented on #287
For copying and deleting “Long Path Tool” software should be try, many articles refer this for such solutions.

[2015-12-03 17:42] MCKRUZ commented on #319
no love?

[2015-12-03 17:47] RandomlyKnighted commented on #319
@MCKRUZ is this same issue you mentioned at the end of #317?

[2015-12-03 17:49] MCKRUZ commented on #319
Yes sir it is.

I tried updating to the new beta but now I’m getting this

Severity Code Description Project File Line Suppression State
Error
The "FilesExcludeRegex" parameter is not supported by the "CreateTemplateTask" task. Verify the parameter exists on the task, and it is a settable public instance property. TemplatePack

Severity Code Description Project File Line Suppression State
Error
Th

[2015-12-03 21:09] sayedihashimi opened #321 "Custom parameters are removed by CreateTemplateTask"
The values of CustomParameters is being removed when the .vstemplate file is processed with CreateTemplateTask in TemplateBuilder. We should update that task to preserve that element.

[2015-12-03 21:10] sayedihashimi commented on #178
@RandomlyKnighted I figured out the exception. The issue is that TemplateBuilder is removing the CustomParameters entry. I filed a new bug for it at https://github.com/ligershark/side-waffle/issues/321. I'll take care of that. I'll also wrap the RunStarted code in a try/catch so that the exception is never raised.

[2015-12-03 21:14] RandomlyKnighted commented on #178
Sounds good. Let me know if there's anything else that I need to do in order to get this new version released.

[2015-12-03 21:28] sayedihashimi commented on #178
@RandomlyKnighted I'll take care of this. It's kind of involved since it requires changes to TemplateBuilder itself. Once I make the changes it will be good for you to take a look at the changes I made so that you're familiar with them.

[2015-12-03 21:54] sayedihashimi commented on #178
@RandomlyKnighted OK I had to update TemplateBuilder with the following https://github.com/ligershark/template-builder/commit/4c9c4521f917861527e4c5fe150caccd59376b97 and then I updated SideWaffle to get the latest TemplateBuilder nuget package with https://github.com/ligershark/side-waffle/commit/ac224da412205133914c90839398005d6be73e79.

That should fix the telemetry issue. The build is still go

[2015-12-03 22:22] sayedihashimi commented on #321
Fixed now and I just kicked off a publish https://ci.appveyor.com/project/sayedihashimi/side-waffle/build/1.19.325

[2015-12-03 22:22] #321 closed

[2015-12-03 22:22] sayedihashimi commented on #178
Fixed now and I just kicked off a publish https://ci.appveyor.com/project/sayedihashimi/side-waffle/build/1.19.325

[2015-12-04 02:45] sayedihashimi commented on #319
@mckruz try this, add the following condition to that copy statement.

[code]

[2015-12-04 05:17] sayedihashimi commented on #319
I actually removed that copy statement a few versions ago. Can you update to the latest NuGet package (prerelease) of TemplateBuilder and try again.

[2015-12-04 12:07] MCKRUZ commented on #319
I already tried updating, I now have these errors

Severity Code Description Project File Line Suppression State
Error
The "FilesExcludeRegex" parameter is not supported by the "CreateTemplateTask" task. Verify the parameter exists on the task, and it is a settable public instance property. TemplatePack

Severity Code Description Project File Line Suppression State
Error
The "CreateTemplateTask" t

[2015-12-04 13:56] sayedihashimi commented on #319
You shouldn't be getting that. I'm using the ltest version here in SideWaffle. I just updated today. Can you send me a sample that has that error?

[2015-12-04 16:15] MCKRUZ commented on #319
I killed my whole app and started over.  Seems to be working now.  Thanks!

[2015-12-04 16:15] #319 closed

[2015-12-04 20:38] blink2linkme commented on #287
After choosing empty project template of ASPNET 5 Templates and adding gulpfile.js I am continuously getting error. Error is due to creation of multiple node_modules folder i.e. node_modules folder contains another node_modules folder within in and so on. It worked after I copied node_modules folder after copying from another project which was created by choosing basic template.

[2015-12-04 20:40] blink2linkme opened #322 "ASP.NET MVC Empty Project Template Issue"
After choosing empty project template of ASPNET 5 Templates and adding gulpfile.js I am continuously getting error. Error is due to creation of multiple node_modules folder i.e. node_modules folder contains another node_modules folder within in and so on. It worked after I copied node_modules folder after copying from another project which was created by choosing basic template.

[2015-12-04 20:56] RandomlyKnighted commented on #322
Did you add the SideWaffle Gulp file or the Visual Studio 2015 Gulp file?

[2015-12-07 03:39] blink2linkme commented on #322
I added visual studio Gulpfile.js from its template

[2015-12-07 13:12] RandomlyKnighted commented on #322
That's not a SideWaffle template. The issue itself is with Visual Studio. Per your conversation with @shana in github/VisualStudio#160 I also think you should send feedback to Microsoft via the Visual Studio feedback reporter.

[2015-12-07 13:12] #322 closed

[2015-12-08 05:19] blink2linkme commented on #322
Ok thank you!!

[2015-12-10 17:56] renatohh commented on #315
Hi Sayed,
I bumped into the same issue, Are you working on a fix for this?

thanks

[2015-12-11 02:47] Macca2424 opened #323 "Web App - references missing"
Hi, i have followed your video, which is great, i just have one issue, when launching the new project from the template all the references are missing, like "system", "system.web" etc, can you advise how to include these?

[2015-12-12 00:36] RandomlyKnighted opened #324 "Sidewaffle Extension for Visual Studio Code?"
I've noticed that Visual Studio Code doesn't really have a smooth way to create a new project let alone one from a template unless you want to install a third party tool like Node and Yeoman. Even if you do install Node and Yeoman you are still pretty limited to web templates like generator-aspnet or others made with Yeoman.

Now that Code gives you the ability to create your own extension I'd lik

[2015-12-12 13:48] RehanSaeed commented on #324
+1. It would be great to somehow leverage existing project and item templates created using SideWaffle to use with Visual Studio Code. I myself was thinking of using Yeoman when I had time but this might be a good alternative.

[2015-12-12 16:27] RandomlyKnighted commented on #324
Precisely, I was thinking the end goal should be to have a single repository of templates. When a new template is merged into the repository it gets added to both the Code and Visual Studio versions of SideWaffle.

[2015-12-12 22:32] sayedihashimi commented on #324
I've heard feedback that Windows users of VS Code don't like having to install npm/yo to get started with projects so I think this is a good idea.

In order to be successful I think we'll need more than just SideWaffle templates. I believe the following types of projects are being worked on in VS Code (around asp.net / .net).

 1. ASP.NET 5 / dnx
 1. ASP.NET 4.5
 1. MSBuild based projects (i.e. cs

[2015-12-13 08:43] sayedihashimi commented on #315
OK I spent some time looking at this. There was an error in the tutorial (when using recent versions of `TemplateBuilder`). The incorrect statement is

Below the line starting with ```<ls-TemplateSubFolder>```, add the following line:
```<ls-ProjectTemplateZipRootFolder>ProjectTemplates\</ls-ProjectTemplateZipRootFolder> ```

With the latest versions of `TemplateBuilder` adding this line would cau

[2015-12-13 17:30] peterblazejewicz commented on #324
I think VSCode lacks (by design) scaffolding solutions, staying transparent to bigger IDEs' conventions. That is probably why people use Yeoman or other tools to scaffold content and then VSCode recongnizes a project from variety of configuration files:
https://code.visualstudio.com/Docs/editor/codebasics#_files-folders-projects
Once there is a common, portable scaffolding tool, it can be converte

[2015-12-14 03:45] brunobertechini commented on #315
Thanks a lot.

I will give it a try

Bruno

[2015-12-14 17:25] renatohh commented on #315
Thank you Sayed, that worked for me. I noticed the tutorial says you should create a _preprocess.xml in each sub folder of the ProjectTemplates, but seeing your demo it seems you only need one.

My project is a bit more complex than the one on the demo, I have references to NuGet packages. this throws a errors when creating a new project using the template (which is fine since the dlls are missing

[2015-12-14 18:43] sayedihashimi commented on #324
@peterblazejewicz yes you're right. The VS Code team didn't implement templates because they are trying to keep it lightweight. With that said they have enabled extensibility and people have asked for this feature. We have similar experience for Atom where you can invoke `generator-aspnet` to create a new project. Since we are planning to build it as an extension, for people who prefer the command

[2015-12-14 21:13] RandomlyKnighted commented on #323
@Macca2424 Sorry for the delay. Can you link to an example where this his happening so that I can try and assist you further?

[2015-12-14 22:42] Macca2424 commented on #323
Hi thanks for the reply, you can download the template and builder project from the link below, if you open the NgageBase project, you will see in the references they are all missing when i "F5" and add a new template, i assume i need to include these somehow.

http://www.ngagecms.com/NgageBase.zip

[2015-12-14 23:10] sayedihashimi commented on #315
The `_preprocess.xml` file is folder based. If you want replacements specific to a particular project you can place it in the project specific folder. In this case we want to apply the same changes across all projects. I think we should update the wiki to have a single `_preprocess.xml` file instead of two. We could also update it to include a link to my working demo repo https://github.com/sayedi

[2015-12-15 07:56] RehanSaeed opened #326 "Fixing .xproj Artifacts Output File Path"
Some time ago I contributed the [FixNuGetPackageHintPathsWizard](https://github.com/ligershark/template-builder/blob/master/src/TemplateBuilder/FixNuGetPackageHintPathsWizard.cs) to fix the hint path for references to DLL's in the NuGet packages folder.

I think we need to do something similar for the new .xproj project types to fix the `BaseIntermediateOutputPath` and `OutputPath` which is a rela

[2015-12-15 07:58] RehanSaeed commented on #315
@sayedihashimi I did some testing at the time and thought it worked fine but I'd have liked another pair of eyes on it to confirm.

@sayedihashimi @RandomlyKnighted I also just raised [Fixing .xproj Artifacts Output Path](https://github.com/ligershark/side-waffle/issues/326) to fix a very similar issue with the .xproj artifacts output file path.

[2015-12-15 07:59] sayedihashimi commented on #326
@billhiebert when creating a dnx project is there a better alternative to creating a custom wizard to get the artifacts path? I'm guessing a wizard is the way to go but wanted to double check.

[2015-12-16 04:34] RandomlyKnighted commented on #324
In the [Code documentation](https://code.visualstudio.com/docs/extensions/our-approach) it says that the team has made it so that extension developers do not have access to the program's DOM elements. After reading this one of the questions that comes to mind is how would we want to allow for creating a new project? @sayedihashimi said earlier that there are a lot of people who don't want to have

[2015-12-16 21:18] peterblazejewicz commented on #324
@RandomlyKnighted
There is no extensibility for UI model. Instead people extends/hook into Commands model to provide scaffolding. That Ember projects extends VSCode by adding sets of Commands and uses mix of ember-cli tool and custom code to scaffold Ember projects. [This one](https://github.com/SamVerschueren/vscode-yo) hooks just single command to inject Yeoman scaffolding features. So the under

[2015-12-16 21:30] sayedihashimi opened #327 "Update build process to verify templates"
We should add a build step that verifies that every template file has the following.

 - Name
 - Description
 - DefaultName
 - TemplateContent\CustomParameters - `TemplateName`, `TemplateID`, and `TemplateType`
 - Telemetry wizard

[2015-12-16 21:32] sayedihashimi opened #328 "Update wiki for multi projects"
We should update the wiki for multi project templates in the following way.

 - Update to instruct users to add telemetry settings. We should make it clear that this is only needed when contributing to SideWaffle and should not be used when creating your own template pack
 - Update to instruct users to create a single `_preprocess.xml` in the root which has replacement values for each project
 - A

[2015-12-16 21:47] sayedihashimi commented on #326
@RehanSaeed I discussed with Bill and we will need to create our own custom wizard. The wizard used by the One ASP.NET is closed source and not suitable for us to directly use it. Hopefully we (my team at Microsoft) can work on a version of that wizard that can be consumed by us.

In the mean while we can create our own wizard. Below you'll find the code for the wizard used by the One ASP.NET dial

[2015-12-16 22:00] sayedihashimi commented on #323
@Macca2424 I've never seen this before. How did you create this project?

[2015-12-16 23:18] Macca2424 commented on #323
i just followed this https://www.youtube.com/watch?v=z33jOo75CH4

[2015-12-16 23:34] Macca2424 commented on #323
i am using Visual Studio 2015 pro

[2015-12-17 03:15] RandomlyKnighted commented on #324
Alright so I guess the question going forward is would we want to hook into Yeoman and use that for our underlying scaffolding tool or do we want to create our own specific to our needs?

[2015-12-17 20:56] sayedihashimi commented on #327
Fixed

[2015-12-17 20:56] #327 closed

[2015-12-18 08:26] RehanSaeed commented on #326
Cool, I'll look into creating a wizard when I get a chance.

[2015-12-18 19:08] sayedihashimi commented on #326
@RehanSaeed ok great thanks!

[2015-12-19 12:57] morgot37 opened #329 "Basic Scaffolder"
Hello!
Big TY for u project!
Can u some help me?
I used this guide http://blogs.msdn.com/b/webdev/archive/2014/04/03/creating-a-custom-scaffolder-for-visual-studio.aspx

In this code:
this.AddFileFromTemplate(Context.ActiveProject,
                "CustomCode",
                "CustomTextTemplate",
                parameters,
                skipIfExists: false);

I wanna replace Context.ActivePro

[2015-12-19 14:18] phamthaithinh opened #330 "cannot generate scaffolded in visual studio 2015"
Without Sidewaffle all generate well. But after install T4 template to project cannot generate anymore

[2015-12-19 19:12] sayedihashimi commented on #330
What happens then? Do you get an error?

[2015-12-19 19:27] #226 closed

[2015-12-20 17:15] phamthaithinh commented on #330
Yes it show error as below:
Severity	Code	Description	Project	File	Line
Error		Compiling transformation: Invalid expression term 'else'	mvctemplate	c:\Users\phamt\Documents\Visual Studio 2015\Projects\WebApplication3\WebApplication3\CodeTemplates\MvcView\Create.cs.t4	2