[2015-12-21 07:52] morgot37 commented on #329
How get like this "this.AddFileFromTemplate(Context.ActiveSolution...)"
or "this.AddFileFromTemplate("SolutionName/Project" + "CustomFolder"...)"?

[2015-12-21 15:27] RandomlyKnighted commented on #329
@sayedihashimi do you know how to do this?

[2015-12-25 20:51] RandomlyKnighted commented on #289
Was just looking into using Appveyor for another project and found in their [documentation](http://www.appveyor.com/docs/deployment/github) that it's possible to create a new GitHub release or update an existing release using artifacts from the Appveyor build. It definitely looks promising. If we can figure out how to tell it to update an existing release vs creating a new one I think it could wor

[2015-12-30 18:51] yishaigalatzer opened #332 "Potential null ref (reported on the NuGet project)"
When creating a AngularJS + WebAPI project

See https://github.com/NuGet/Home/issues/1572#issuecomment-168054308

[2015-12-30 21:14] sayedihashimi commented on #332
Maybe the activity log svc is coming back null https://github.com/ligershark/side-waffle/blob/master/LigerShark.Templates/GoogleAnalyticsWizard.cs#L97

[2015-12-31 13:28] brunobertechini commented on #315
I still cant make it work creating the project from scratch using VS2015 Community. I am able to make the demo work successfully, but cannot reproduce a fresh clean VSIX project (created using VS2015 Community).

I will create a project from scratch based on the demo mentioned and publish to github and maybe someone can shed some light on what I am doing wrong...

Bruno

[2015-12-31 14:10] brunobertechini commented on #315
Here is my solution (it does not work -- create dwith VS2015Community and tried with F5/Run in experimental instance)

https://github.com/brunobertechini/MultiProjTemplate

Bruno

[2016-01-01 13:49] brunobertechini commented on #315
Also, I was only able to use the demo template by installing the vsix file. I cant run it (F5) using Visual Studio 2015 Community.

Bruno

[2016-01-01 15:59] RandomlyKnighted commented on #315
@brunobertechini to install it you have to run Ctrl + F5, which will open an experimental instance of Visual Studio.

[2016-01-01 23:07] brunobertechini commented on #315
When I do that VS complains the dll is missing (MultiProjTemplate.dll)

Did you tried my solution to see if it is working ?

Bruno

[2016-01-01 23:14] RandomlyKnighted commented on #315
Yes, I get the same error you do. It says the dll is missing.

[2016-01-01 23:22] sayedihashimi commented on #315
I'm working on it, stay tuned

[2016-01-01 23:29] brunobertechini commented on #315
Cool thanks..

By the way, Im using the template you provided (the demo) and I am customizing it to my needs, due to the fact I cant make it work when I create it from scratch using VS2015 Community. I would kindly appreciate if you take a look at my repo to see  what I am doing wrong... (https://github.com/brunobertechini/MultiProjTemplate)

Cheers

Bruno

[2016-01-01 23:35] brunobertechini commented on #315
Also trying to make nuget packages work...but the "Extra folder" is in my way :)

FixNuGetPackageHintPathsWizard is not helping at all in my case...

This is the issue Im facing : https://github.com/ligershark/side-waffle/issues/169

Bruno

[2016-01-02 00:40] sayedihashimi commented on #315
I just fixed the issue with community hopefully in https://github.com/ligershark/side-waffle/commit/062caddbfdfe3da1a2e6df945044ee7c8c9a82ad. I kicked off a release build you can track it at https://ci.appveyor.com/project/sayedihashimi/side-waffle/build/1.0.339. When that build completes (assuming it passes), download a new version of SideWaffle and try again.

For the folder issue maybe the ['So

[2016-01-02 00:41] sayedihashimi commented on #237
For the folder issue maybe the ['SolutionWizard'](https://github.com/ligershark/template-builder/blob/6184bec12552ed32bfc573a05a01bb9f57514b97/src/TemplateBuilder/SolutionWizard.cs) will help you. More info on that at https://github.com/ligershark/template-builder/pull/79.

[2016-01-02 01:52] brunobertechini commented on #315
Should I update SideWaffle or TemplateBuilder ?

Bruno

[2016-01-02 01:53] RandomlyKnighted commented on #315
Update SideWaffle using the Appveyor link @sayedihashimi gave above.

[2016-01-02 01:54] brunobertechini commented on #315
I tried that...Build not found or access denied.

Bruno

[2016-01-02 01:54] brunobertechini commented on #315
will see on vs extensions and updates

[2016-01-02 01:56] RandomlyKnighted commented on #315
Try this [link](https://ci.appveyor.com/api/buildjobs/17574bmypwcf5hsd/artifacts/TemplatePack.vsix)

[2016-01-02 01:56] brunobertechini commented on #315
Thanks What is the build number ? VS updated to 1.20.339

[2016-01-02 01:59] RandomlyKnighted commented on #315
Appveyor says 1.20.339.

[2016-01-02 02:01] brunobertechini commented on #315
Same version. Should be fine. So I m going to create a new project from scratch now...

Thanks

Bruno

[2016-01-02 02:06] brunobertechini commented on #315
Just an update...My demo project (https://github.com/brunobertechini/MultiProjTemplate) still does not appear on VS Add new project dialog (even after updating to 1.20.339).

But there are several exceptions on output (when running expr. instance - F5):

[code]

[2016-01-02 12:08] brunobertechini commented on #315
The problem with VS2015 community seemed to be miuch more simple than I thought...

When you create new SideWaffle definitios folder, the CSharp.Templat- comes with

[code]

and you should change it to

[code]

This is not in documentation so I spent (shame on me) several hours to find that...

Bruno

[2016-01-02 12:36] brunobertechini commented on #315
I will try again and get back to you guys!

thanks a lot

Bruno

[2016-01-02 16:31] bogacg commented on #79
I just had same issue (on Visual Studio 2015 Community) Sandboxed VS instance gets executed after Ctrl+F5, but when I want to create template it gives error above. I've manually added Asset tag to manifest file of VSIX project as well. TemplateBuilder.dll is placed in Debug folder of VSIX project.

[2016-01-02 17:19] RandomlyKnighted commented on #79
@bogacg can you create a new issue explaining what happened and reference this issue? That way we can track how many people are having issues better.

[2016-01-08 23:53] RandomlyKnighted commented on #324
@peterblazejewicz @sayedihashimi what are you thoughts on this? Should we hook into Yeoman or create our own?

[2016-01-11 15:06] peterpde opened #334 "Requesting guidance with Dynamic Item Templates"
I could use a little help.  I am trying to take advantage of the new Dynamic Item Templates and have published an attempt at https://github.com/IIHS/aurelia-ts-templatepack, but they do not seem to be showing up in Visual Studio.  I am using VS 2015.  My settings for the Side Waffle extension looks like...

![2016-01-11_9-58-32](https://cloud.githubusercontent.com/assets/2745878/12236903/20bdfd44-

[2016-01-11 16:37] RandomlyKnighted commented on #334
From a quick glance everything looks right. I'll try to take a look at it today and see if I can figure out what's going on.

[2016-01-11 18:03] sayedihashimi commented on #334
They are there, but in the wrong node path. See
![sw-01](https://cloud.githubusercontent.com/assets/1283154/12241854/8a546f86-b84a-11e5-91df-7f5ccef0058f.png)

[2016-01-11 18:52] sayedihashimi commented on #334
See https://github.com/IIHS/aurelia-ts-templatepack/pull/1

[2016-01-11 19:08] peterpde commented on #334
Great.  I will take a look.

[2016-01-11 21:43] sayedihashimi commented on #324
I have thoughts on this, but I can't type much due to an arm problem. Hopefully I can reply back here in a few days.

[2016-01-11 22:26] peterblazejewicz commented on #324
@RandomlyKnighted
I'd start small:
- create new project and add this repo as submodule
- add build scripts in new project to just prepare some templates
- if you start with Yo generators - it would require content preparation as VS uses different templating and Yo templating engine cannot be swapped or instructed to use VS template characters/tags.
Yo has many pros.

[2016-01-12 14:01] RehanSaeed opened #335 ".runsettings Item Template"
A Visual Studio extension called [Runsettings](https://visualstudiogallery.msdn.microsoft.com/1cc3863b-f15f-4107-bb05-3586fd65540b) exists whose sole purpose is to add a .runsettings item template. SideWaffle should contain this item template.

[2016-01-15 17:13] StephenErstad opened #337 "Angular 2.0 Support"
We are looking to start using an Angular 2.0 based SPA and are hoping to have standardization of style through tooling like we have for Ng 1.x using Sidewaffle.

This would mean SideWaffle would potentially support our endeavor through a project template that setup the initial files needed to transpile TypeScript to the JavaScript files and the base folder structure.  Also having the initial testi

[2016-01-15 17:15] johnpapa commented on #337
For now I have templates for VS Code that can be used as a basis. These are in my github repos and in the VS Code marketplace

They will evolve as A2 nears release

[2016-01-15 17:19] StephenErstad commented on #337
This is fantastic!  I appreciate giving us a way to move forward without the tooling support.

Is the plan to eventually support A2 in SideWaffle eventually or will that be rolled into a different extension?

Either way is there some ETA (even if it is just a hope)?

[2016-01-15 17:28] johnpapa commented on #337
Yes, A2 will be in Side Waffle.

If you'd like, feel free to grab those templates I wrote and start adding them. I'd be happy to help review them and update them as A2 syntax changes

[2016-01-15 17:44] sayedihashimi commented on #337
Also adding @RandomlyKnighted and @kentcooper

[2016-01-15 18:39] kentcooper commented on #337
Do we want to add some templates for the beta version? Was also thinking of doing a project template but thought we should wait for the final release.

[2016-01-15 19:46] RandomlyKnighted commented on #337
I haven't seen Angular's road map but I read somewhere the other day that they've barely touched on the list of items they want to add before the next beta release. With that in mind, I don't see why we couldn't add templates for the current beta version then update them as each new release is made.

[2016-01-15 21:13] StephenErstad commented on #337
My team would be happy to use the beta version with the new templates and provide real feedback if you end up adding them.

[2016-01-16 02:48] kentcooper commented on #337
alright I'll go ahead and add a few of them.

[2016-01-16 06:17] kentcooper commented on #337
@StephenErstad  okay I added a component and service template. I haven't seen a ton of "real world" Angular2 code out there so any feedback on how to make the templates better or different types of templates to add would be greatly appreciated.

[2016-01-16 06:25] kentcooper opened #339 "SideWaffle-ItemTemplate-Basic may need updating"
Do we need to update the "SideWaffle Item Template" template to include the new custom parameters and the analytics wizard?

[2016-01-16 13:29] johnpapa commented on #337
I'll pull and look

[2016-01-19 17:09] sarchandra opened #341 "Multi Project Template Building using VSIX with TemplateBuilder- Sample Project in 2015 Failed"
Hi

I have followed the example and created the sample project in VS2015. But it could not create the MultiProject. I have shared my code using GitHub. Please help where I am wrong.

https://github.com/sarchandra/VSIX-Template.git

I have few questions.
1. Can we use sidewaffle to create multiproject. Many attempt I have tried, but nothing works. When I added the sidewaffle project template, it cr

[2016-01-19 17:42] RandomlyKnighted commented on #341
We've recently made changes to the process for creating multi project templates. I'm behind on updating the wiki. I'll see if I can make some time to update the instructions.

[2016-01-19 21:44] RandomlyKnighted commented on #328
I've updated the [How to create a multi project template](https://github.com/ligershark/side-waffle/wiki/How-to-create-a-multi-project-template) wiki article. Please look it over and let me know if you see any issues with the updates i made.

I should also note that I didn't find any mention of the .props file so I left out the comment you made above.

[2016-01-20 02:10] RandomlyKnighted commented on #339
It has them already.

[C# vstemplate file](https://github.com/ligershark/side-waffle/blob/master/TemplatePack/ItemTemplates/Extensibility/SideWaffle/SideWaffle-ItemTemplate-Basic/_Definitions/CSharp.vstemplate)

[VB vstemplate file](https://github.com/ligershark/side-waffle/blob/master/TemplatePack/ItemTemplates/Extensibility/SideWaffle/SideWaffle-ItemTemplate-Basic/_Definitions/VB.vstemplate)

[2016-01-20 02:57] RandomlyKnighted commented on #334
@peterpde were you able to fix your problem?

[2016-01-20 02:58] kentcooper commented on #339
Is that in the latest build? When I added the new Angular2 directives they were missing.

[2016-01-20 03:03] #285 closed

[2016-01-20 03:10] kentcooper commented on #274
Closing for now. @jckh1234 if you can give us an example or more detail we can reopen.

[2016-01-20 03:10] #274 closed

[2016-01-20 03:12] RandomlyKnighted commented on #339
According to the file history the `$TemplateType` parameter was added back in mid December. So it's been there for a while.

I'm not sure if it's in the latest build or not seeing as we have two different version numbers at the moment.

[2016-01-20 03:13] kentcooper commented on #337
Thanks to @johnpapa I also added the pipe template. The changes have been merged so you should see them in the next build. Once you start using them please give us any feedback you might have on what is missing or what we should change. Thanks.

[2016-01-20 03:13] #337 closed

[2016-01-20 03:15] johnpapa commented on #337
looks good.

here are the vscode snippets, for future reference https://github.com/johnpapa/vscode-angular2-snippets

[2016-01-20 03:35] kentcooper commented on #339
Alright well since its there regardless of the build I'll close this.

[2016-01-20 03:35] #339 closed

[2016-01-20 03:56] RandomlyKnighted commented on #306
@avishnyakov did the workaround help solve your problem?

[2016-01-20 03:57] RandomlyKnighted commented on #214
@NN---  were you able to figure out a solution to your problem?

[2016-01-20 04:27] RandomlyKnighted commented on #332
Closing this issue. Feel free to reopen if you continue to have problems.

[2016-01-20 04:27] #332 closed

[2016-01-20 04:28] sarchandra commented on #341
Thanks, I would appreciate if it can be as soon and wait for this update.

[2016-01-20 04:32] RandomlyKnighted commented on #341
I've updated the wiki I'm just waiting on confirmation to make sure that I didn't miss of the new changes.

[2016-01-20 04:34] peterpde commented on #334
Yes.  Everything is working fine now.  I think I was dealing with a combination of what @sayedihashimi  addressed above as well as asp.net 5 custom properties not being present in one of my templates.  Everything is working well now.  Thanks.

[2016-01-20 04:34] #334 closed

[2016-01-20 04:45] RandomlyKnighted commented on #323
@Macca2424 just got a chance to take a look at this. The video you were going using as a reference is out of date. Can you try to recreate your template using [these instructions](https://github.com/ligershark/side-waffle/wiki/How-to-create-a-project-template).

[2016-01-20 05:00] avishnyakov commented on #306
Hey mate, thanks for follow up. Ended up with separate files. One file per snippet.

[2016-01-20 05:00] RandomlyKnighted commented on #306
Alright, sorry that we weren't able to find a better solution for you. I'm going to go ahead and close this issue.

[2016-01-20 05:00] #306 closed

[2016-01-20 05:04] RandomlyKnighted commented on #315
@brunobertechini what were you able to figure out?

[2016-01-20 17:02] brunobertechini commented on #315
No. Unfortunately i put this on hold. I manage to make the template shows up in New Project dialog but I could not create new projects based on the template.

I created the solutions I needed from scratch (manually) and put this on hold for now.

I can get back to it if you can help me out. I do need this because I have several solutions to create (one per Microservice/SOA and I have a bunch of pr

[2016-01-20 19:11] StephenErstad commented on #337
@kentcooper How do I get the beta version to try the templates out?

[2016-01-20 20:40] RandomlyKnighted commented on #337
@StephenErstad You can download and install it from [here](https://ci.appveyor.com/api/buildjobs/qyqsq1pg1u9wevss/artifacts/TemplatePack.vsix). Please keep in mind that this is not an official version that you are downloading. We've still a couple PRs to merge before we make our next release.

[2016-01-20 21:35] StephenErstad commented on #337
Makes sense.  This will allow me to easily review and give feedback on the obvious next steps and further refinement.

[2016-01-21 07:15] NN--- commented on #214
I found the root cause.
manifest.json uses schema from http://json.schemastore.org/web-manifest
It has following definitions for "icons":

[code]

Apparently it should use this one: http://json.schemastore.org/chrome-manifest .

The fix is very simple , use this schema.

[code]

[2016-01-21 07:17] NN--- commented on #214
I think it can be added to the template ( https://github.com/ligershark/side-waffle/blob/master/TemplatePack/ProjectTemplates/Web/Chrome%20Extension/ChromeExtensionProjectTemplate.csproj)

[2016-01-23 04:38] mtranchi opened #342 "Multi-project template"
I followed the example and it worked, however, once I added a nuget package (Entity Framework) to the Specification class library, it won't create that, saying it can't find App.config in \AppData\Local\Temp\yada yada\Temp.
I've done many iterations trying to get this to work, and in one of them, I somehow got past the App.config issue, but then when creating a new multi-project and doing a packag

[2016-01-29 03:37] mtranchi opened #344 "Typo in _preprocess.xml"
I believe I just noticed a typo in the generated code for _preprocess.xml:

`<Replacements Include="*.*" Exclude="*.vstemplate;*.csproj*.jpg;*.png;*.ico;_preprocess.xml">`

Should there be a semi-colon after .csproj?

[2016-01-29 13:01] RandomlyKnighted commented on #344
Which template did you find this in?

[2016-01-29 15:58] sayedihashimi commented on #344
This was fixed recently in https://github.com/ligershark/side-waffle/pull/333

[2016-01-29 15:58] #344 closed

[2016-01-29 17:34] sarchandra commented on #341
I have created multi project Template without TemplateBuilder
Reference GitHub : https://github.com/sarchandra/VSIX-Template.git
It works. Still waiting for with TemplateBuilder how to create one

[2016-02-01 19:25] RandomlyKnighted commented on #273
@EisenbergEffect I noticed in the Aurelia Docs that there is a getting started package. Is that package what you had in mind for adding to SideWaffle or was you wanting something more involved?

[2016-02-01 20:15] EisenbergEffect commented on #273
We would want to use our official production quality starter kits rather than our beginner kits.

[2016-02-01 20:22] RandomlyKnighted commented on #273
Do you have a link to these production starter kits? If so, I'll be happy to see if I can add these to SideWaffle.

[2016-02-01 21:58] EisenbergEffect commented on #273
All the info you need should be here: http://aurelia.io/docs.html#/aurelia/framework/1.0.0-beta.1.1.1/doc/article/a-production-setup

[2016-02-01 23:24] RandomlyKnighted commented on #273
Do we want a project template for each of the skeletons or do we want to do one template for ES2016 and one one TypeScript? I'm happy to do it; however, you like. I should be able to get these templates made either tonight or tomorrow.

[2016-02-01 23:34] EisenbergEffect commented on #273
There are two asp.net projects in the download, one for es2016 and one for TS. I think those would be good candidates.

[2016-02-01 23:38] RandomlyKnighted commented on #273
Yep, I see them. Thanks! I'll start on them tonight.

[2016-02-02 03:25] RandomlyKnighted opened #345 "Add Template Reference creates invalid custom parameters"
While working on the Aurelia templates for #273 I created a new template reference. Here is the parameters it created:

[code]

It should actually look like this:

[code]

cc: @sayedihashimi

[2016-02-03 04:16] sayedihashimi commented on #345
Good catch.

[2016-02-03 05:18] RandomlyKnighted commented on #345
Where are we adding these elements at in SideWaffle?

[2016-02-03 17:11] sayedihashimi commented on #345
The value for `$TemplateName$` and the others are getting replaced when the template is invoked. As you can see the info in the template corresponds to the `SideWaffle Project Template FIles` item template. To resolve it we should disable replacements in that file. You can do that in the .vstemplate file.

[2016-02-04 02:44] RandomlyKnighted commented on #214
@NN--- would you be up to creating a PR to fix this issue?

[2016-02-05 02:47] sayedihashimi commented on #324
Sorry for the delay here.

Since SideWaffle covers many different areas and has Visual Studio specific content I think there may be some percentage of users who may be interested in a `yo sidewaffle` experience. I haven't heard much request for that specifically though so I don't think the desire is that great.

What I think is more desirable than `yo` in particular is to have a command line versi

[2016-02-05 02:52] RandomlyKnighted commented on #324
I love the idea of a CLI version of SideWaffle. Count me in on helping to build it!

My vote is for pecan-waffle.

[2016-02-06 19:33] stuartleeks commented on #324
Posh-waffle? ;-)

[2016-02-09 18:31] sayedihashimi opened #347 "Nancy templates needs an owner"
I've heard [on twitter](https://twitter.com/sjkilleen/status/693587830249955328) that the Nancy templates are out of date. I checked and the current version of the Nancy package is 1.4.3 and the SideWaffle templates here are using 1.4.1 so it does seem that there is some work needed here.

In may cases New Project templates that are out of date causes users more problems for users than it solves.

[2016-02-09 18:41] SeanKilleen commented on #347
@sayedihashimi thanks for this response!

To clarify, I was completely new to NancyFx at that point, sp when I said "older", I was referring to whether to not a template was needed at all (as in, the instructions seemed older). Was wondering if SideWaffle was once required but now no longer was.

Per [this later tweet](https://twitter.com/sjkilleen/status/693644324140032000) I saw that NancyFx is

[2016-02-09 18:53] RandomlyKnighted commented on #347
@luisrudge was the original owner of the templates.

[2016-02-09 20:39] luisrudge commented on #347
I created them, but, moving forward with aspnet core, I think side-waffle is not the best way to distribute templates, so I'm not that keen on maintaining them either.

[2016-02-09 21:08] sayedihashimi commented on #347
SideWaffle is still the best way to reach **existing Visual Studio customers** (which make up the majority of existing ASP.NET devs today). From telemetry in SideWaffle I can tell you that the xUnit template is the second most popular template with 674 installs. I cannot tell you how that compares to usage of the xUnit template in generator-aspnet because we have not yet added telemetry, but I did

[2016-02-09 21:12] luisrudge commented on #347
Sorry if it sounded like I was diminishing side-waffle's value. That was not the case. Just to clarify: **personally**, I don't think this is the best way to share templates. I do think that side-waffle as an extension, is awesome.

[2016-02-10 01:28] sayedihashimi commented on #347
@luisrudge

Don't worry no offense taken. I understand that SideWaffle leaves big gaps in the overall story. It was my first attempt at simplifying templates. SideWaffle is just built on top of the VS template system, which I now know is a significant limitation. I've been playing around with what an all new SideWaffle might look like. I'm calling it [pecan-waffle](https://github.com/ligershark/pe

[2016-02-10 01:45] luisrudge commented on #347
https://github.com/ligershark/pecan-waffle Looks great! The only issue is that's using powershell. That can be a problem for mac/linux users. Even with xplat PS, people will have to install something else to be able to use pecan-waffle, which will reduce the usage for sure.

I'm working with react for about 8 months and one thing that helped me a lot along the way was all the boilerplate repos. Th

[2016-02-10 01:49] sayedihashimi commented on #347
Agreed. Further on the readme you'll find.

Thanks for the pointers I will take a look.

[2016-02-10 01:50] luisrudge commented on #347
Sorry I missed that!

[2016-02-10 01:52] sayedihashimi commented on #347
I will move it up and make it bold so that it's more clear. Thanks for your comments.

[2016-02-11 02:43] sayedihashimi commented on #347
I made a video (8 min) https://youtu.be/Xi5Kn4Lq6Xg showing how to create and share templates both locally and through github. I would love to hear your thoughts.

[2016-02-11 02:58] luisrudge commented on #347
@sayedihashimi that's amazing! I like the idea of creating a template based on an existing project, instead of having non-compiling template files. That's awesome! :tada:

[2016-02-11 02:59] sayedihashimi commented on #347
@luisrudge ok great glad you like it.

[2016-02-19 00:23] #214 closed

[2016-02-21 17:20] sayedihashimi opened #350 "Comment out telemetry in templates"
I think we should put the `WizardExtension` in https://github.com/ligershark/side-waffle/blob/master/TemplatePack/ItemTemplates/Extensibility/SideWaffle/SW-ProjectVSTemplateFile/_project.vstemplate.xml and https://github.com/ligershark/side-waffle/blob/master/TemplatePack/ItemTemplates/Extensibility/SideWaffle/SW-ProjectVSTemplateFile/fsharp._project.vstemplate.xml in comments. Users who are creat

[2016-02-21 18:53] RandomlyKnighted commented on #350
Will commenting these out (or possibly removing them altogether) cause the Appveyor test to fail when someone submits a PR?

[2016-02-21 20:17] sayedihashimi commented on #350
For SideWaffle for newly added templates, if they are not uncommented it will fail. That's the correct behavior because that build script is specific to this project.

[2016-02-24 04:07] RandomlyKnighted commented on #350
Should this also be done for these files?

https://github.com/ligershark/side-waffle/blob/master/TemplatePack/ItemTemplates/Extensibility/SideWaffle/SideWaffle-ItemTemplate-Basic/_Definitions/CSharp.vstemplate

https://github.com/ligershark/side-waffle/blob/master/TemplatePack/ItemTemplates/Extensibility/SideWaffle/SideWaffle-ItemTemplate-Basic/_Definitions/VB.vstemplate

[2016-02-24 04:13] RandomlyKnighted commented on #350
@sayedihashimi when I commented out the telemetry info I get a [failed Appveyor build](https://ci.appveyor.com/project/RandomlyKnighted/side-waffle/build/1.0.9).

[2016-02-24 05:58] RandomlyKnighted opened #352 "Add template for new issues & pull requests"
[Last week, GitHub announced a new feature](https://github.com/blog/2111-issue-and-pull-request-templates) that allows project maintainers to add information about the project as placeholder text on issues and pull requests.

Seeing as we keep getting pull requests that don't include updated release notes I think we should create a template for our pull requests that include some basic information

[2016-02-24 17:13] RehanSaeed commented on #326
@sayedihashimi I have a working solution but I need a little help:

[code]

So in my above code I am using `Microsoft.Build.Evaluation.Project` to modify the file paths. When I call `buildProject.Save();` you get a dialog box popping up saying that the project has changed, do you want to reload it. In my other wizard the trick was to call `project.Save()` (using `EnvDTE.Project`) instead. However,

[2016-02-26 03:30] sayedihashimi commented on #326
In .xproj we interact with MSBuild via Common Project System (CPS). I saw project.save in your existing code and it does work as you describe for .csproj/.vbproj. If that doesn't work for you in .xproj then its likely because its a different project system and it accesses those projects in a different way. Lets see what @BillHiebert thinks and see what's the best idea here for .xproj.

[2016-02-26 11:55] RehanSaeed commented on #326
@sayedihashimi Cool, I'm not going totally crazy then. Is there some way to modify the project using `EnvDTE.Project` instead? I tried a bunch of ways and all threw exceptions. If there is then we could use that on its own.

[2016-02-26 17:19] sayedihashimi commented on #326
Chatted with @billhiebert quickly and he suggested asking @lifengl

@lifengl in csproj/vbproj you can modify projects in VS using MSBuild APIs. For example https://github.com/ligershark/template-builder/blob/master/src/TemplateBuilder/FixNuGetPackageHintPathsWizard.cs. To summarize you get a hold of the project using ``` Project buildProject = new Project(projectFilePath);```, modify it and then c

[2016-02-26 17:30] sayedihashimi commented on #352
+1

[2016-02-26 17:33] RehanSaeed commented on #326
@sayedihashimi @lifengl To expand further,

# CS/VB Projects
1. Create MSBuild Project `Project buildProject = new Project(envdteProject);`
2. Modify `buildProject`.
3. When you
    - Call `envdteProject.Save()` then the project is actually saved correctly.
    - Call `buildProject.Save()` then the project is saved but you get a dialog asking you to reload the project.

# .xproj Projects
1. Create

[2016-02-26 17:34] RandomlyKnighted commented on #273
@EisenbergEffect I've created the templates and have since reached out to Mike Graham and Patrick Walters about testing them before we release the templates to the public. Mike said that he won't be able to test this for a while and I'm waiting to here back from Patrick. Is there anyone else on your team that you would recommend that I reach out to?

[2016-02-26 17:40] EisenbergEffect commented on #273
Those are the best to people for Windows stuff I think. Maybe Matt Davis?

[2016-02-26 17:42] RandomlyKnighted commented on #326
@RehanSaeed not sure if you've looked [at this yet or not](https://github.com/ligershark/side-waffle/blob/master/TemplatePack/Tooling/TemplateReferenceCreator.cs#L87-L101) but when we created the Template Reference experience we programmatically reloaded the project. Lately while I was working on the new Aurelia templates I've had to use the template reference and I know that this does not prompt

[2016-02-26 17:42] RandomlyKnighted commented on #273
Alright I'll reach out to him as well. Thanks for the quick update.

[2016-03-02 05:39] RandomlyKnighted commented on #347
Closing per PR #349 by @nerobianchi

[2016-03-02 05:39] #347 closed

[2016-03-02 17:24] RehanSaeed commented on #326
@RandomlyKnighted Cool, that worked.

Even better, as an added side effect it fixed the problem where the NPM and DNX packages stopped updating because I was editing project.json and package.json in another wizard. @sayedihashimi As I understand it this would have been fixed anyway in RC2 right?

[2016-03-02 18:15] RandomlyKnighted commented on #326
@RehanSaeed I'm glad to hear that fixed your issue.

[2016-03-05 01:00] RandomlyKnighted commented on #326
@RehanSaeed with the merge of your latest PR and the recent release of the [TemplateBuilder v1.1.4.7-beta](http://www.nuget.org/packages/TemplateBuilder/1.1.4.7-beta) is this issue resolved?

[2016-03-05 01:04] RandomlyKnighted commented on #318
@sayedihashimi since this is something that will need to be fixed in TemplateBuilder I've created an issue there so we have a record of it. In the mean time I'm going to close this one.

[2016-03-05 01:04] #318 closed

[2016-03-05 01:05] RandomlyKnighted commented on #296
@sayedihashimi did we ever get any info on this from the template team?

[2016-03-05 10:16] RehanSaeed commented on #326
@RandomlyKnighted @sayedihashimi I've upgraded ASP.NET Boilerplate but have discovered a worrying bug. When I have ASP.NET Boilerplate and SideWaffle installed at the same time and try to create a new project using my template I get an error saying that the FixArtifactsPathWizard could not be found. When I uninstall SideWaffle, I can create projects just fine. Presumably VS is picking up SideWaffl

[2016-03-05 14:49] sayedihashimi commented on #326
What version is it installing?

[2016-03-05 15:06] RehanSaeed commented on #326
I'm trying out the latest version 1.1.4.7-beta. I never had this problem in the past with the `FixNuGetPackageHintPathsWizard` because I didn't use it straight after release.

[2016-03-05 16:39] sayedihashimi commented on #326
@RehanSaeed it may be because of the `-beta`. You said that it's installing the wrong version, what version is it installing?

[2016-03-05 19:51] RehanSaeed commented on #326
My boilerplate VSIX contains the latest version 1.1.4.7-beta of TemplateBuilder.dll. I even cheched the DLL using reflector for the new wizard. Its either a bug or I'm missing something very obvious. Take a look at the VSIX yourself [here](https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate/tree/master/Temp).

[2016-03-06 07:56] sayedihashimi commented on #326
I'm seeing it, see the image below.
![artifacts](https://cloud.githubusercontent.com/assets/1283154/13553008/bdc1b50a-e32d-11e5-8116-34286e61d2e8.png)

[2016-03-06 08:50] RehanSaeed commented on #326
Perhaps I haven't explained myself, here are the full steps to recreate.

1. Install ASP.NET Boilerplate from [here](https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate/tree/master/Temp) (pre-release version) and [Sidewaffle template pack](https://visualstudiogallery.msdn.microsoft.com/a16c2d07-b2e1-4a25-87d9-194f04e7a698) extensions.
2. Create a new ASP.NET Core project using ASP.NET MVC Boiler

[2016-03-06 17:06] sayedihashimi commented on #326
@RehanSaeed OK thanks for the info. I tried it and it did not repro on my box. I'm guessing it's some race condition and in some cases the SideWaffle version of the assembly is getting loaded first.
I think the issue is that the version of the assembly is always `1.0.0.0`. I just [made an update](https://github.com/ligershark/template-builder/commit/b1ef5bd00aaf09c80c04e375f3c96c26ca3ddb69) to cha

[2016-03-06 20:16] NN--- opened #353 "Build crx file in Chrome extension project"
Currently it builds a zip file without signing.
It would be nice to have a crx file using BuildCrx tool

[2016-03-10 02:34] RandomlyKnighted opened #354 "Appveyor published to VSIX Gallery for forks"
I recently set up my fork of SideWaffle so that each commit I make runs through Appveyor. After doing this I noticed these lines in the Appveyor console:

[code]

After talking with @sayedihashimi we've decided that it would be a good idea to update the Appveyor script so that it verifies that the commit made came from the actual official side-waffle repo instead of a fork before actually publishi

[2016-03-10 02:37] RandomlyKnighted commented on #354
When I looked at the `appveyor.ps1` file I came across this line at the end

`Vsix-PushArtifacts | Vsix-PublishToGallery`

However, I could not find either of these functions in any of the PowerShell files. @sayedihashimi can you point me to where these functions are so that I can add a condition to check that environment variable before publishing?

[2016-03-10 05:57] RandomlyKnighted opened #356 "Update Appveyor tests to not validate SideWaffle template files"
As mentioned in #350 when you comment out the telemetry in the vstemplate files of the `SW-ProjectVSTemplateFile` project you get a failed Appveyor build. This can be corrected by doing the following:

 - [x] Comment out the telemetry lines as mentioned in #350
 - [x] Update the validation script to not test the vstemplate files for the `SW-ProjectVSTemplateFile` project

Now the question I have i

[2016-03-10 06:51] #354 closed

[2016-03-10 07:00] sayedihashimi commented on #350
@RandomlyKnighted

https://github.com/ligershark/side-waffle/blob/master/TemplatePack/ItemTemplates/Extensibility/SideWaffle/SideWaffle-ItemTemplate-Basic/_Definitions/CSharp.vstemplate
https://github.com/ligershark/side-waffle/blob/master/TemplatePack/ItemTemplates/Extensibility/SideWaffle/SideWaffle-ItemTemplate-Basic/_Definitions/VB.vstemplate

No because those files are template files used for

[2016-03-10 07:04] sayedihashimi commented on #356
I just replied to https://github.com/ligershark/side-waffle/issues/350#issuecomment-194704773

I think I found the offending line https://github.com/ligershark/side-waffle/blob/master/build-main.ps1#L566.

If that's not it we can disable validation by passing `-disableTemplateValidation` in https://github.com/ligershark/side-waffle/blob/master/appveyor.ps1 whenever the build script is called.

[2016-03-11 13:58] RandomlyKnighted opened #357 "Update publishing to the VSIX Gallery (Nightly Builds) to only occur on the master branch"
Pulled from my discussion with @sayedihashimi & @madskristensen on https://github.com/ligershark/SideWaffleWebsite/issues/15

Currently, we are using the release branch to publish to the Visual Studio Gallery and GitHub releases. With this in mind, seeing as the master branch is where most of our commits happen I believe that the VSIX Gallery should only pull this branch.

Unless I'm mistaken this

[2016-03-11 14:38] RehanSaeed commented on #326
Latest update works fine. I've released a new version of Boilerplate including this change. Will report back if I get people reporting issues.

[2016-03-11 14:38] #326 closed

[2016-03-11 16:26] sayedihashimi commented on #357
+1

[2016-03-11 17:06] sayedihashimi commented on #345
If are commented out I think it's fine. Let's see if anyone complains.

[2016-03-11 17:14] RandomlyKnighted commented on #345
Alright, that works for me. Once we fix the problem with #350 then any PR that has this still commented out will get a failed Appveyor build. So I think that will handle any situation with contributing a new project template to SideWaffle.

I'll create and submit the PR this afternoon.

[2016-03-13 04:00] RandomlyKnighted commented on #273
@EisenbergEffect I hope to have a PR ready tonight that will include the Aurelia templates. From looking at the skeleton-navigation repo it looks like there have been several updates since I started working on this. When I downloaded the skeleton projects you were on version `1.0.0-beta.1.1.2` and now it looks like you're on `1.0.0-beta.1.1.6` now. Seeing as releasing a new version of these templa

[2016-03-13 04:04] EisenbergEffect commented on #273
It's hard to answer the question of frequency. If you are willing to maintain the VS integration, what type of frequency would you be comfortable with? How hard is it to make updates?

[2016-03-13 04:11] RandomlyKnighted commented on #273
I'm up to maintaining it for now. I'm hoping manual updates will be soon be unnecessary with what @sayedihashimi and I have planned for SideWaffle.

As far as how hard it is to make updates that really depends on how much is changed with each version. If only a file or two is changed then I can just replace the old file with the new one and submit that. If a new version has several files updated i

[2016-03-13 04:20] RandomlyKnighted commented on #273
@EisenbergEffect I should probably add that the hardest part of updating the templates is keeping up with what's changed from version to version. If someone on the Aurelia team can just update me every so often with what's changed I'll be happy to update the templates however often you like even if I need to dedicate a night each week to update and test the templates I'm happy to do it.

[2016-03-13 04:35] RandomlyKnighted commented on #356
@sayedihashimi something I hadn't noticed until I made PR #358 is that this is also validating the vstemplate **content** files. So we should probably exclude them as well. What do you think?

[2016-03-13 04:47] RandomlyKnighted commented on #178
From what I can tell there are only a couple of things left to do in order to complete this.

- [ ] Test telemetry of dynamic templates
- [ ] Fix issues #350 and #356 so that we don't have unnecessary data for the `SW-ProjectVSTemplateFile`  project

[2016-03-13 04:53] RandomlyKnighted commented on #323
Seeing as we have not heard back from the original poster I'm going to close this issue.

@Macca2424 if you are still experiencing this problem please feel free to reopen this issue and we'll be happy to revisit the problem.

[2016-03-13 04:53] #323 closed

[2016-03-13 10:45] EisenbergEffect commented on #273
We can certainly notify you. If that's all it takes, we can put something in place to make sure you get the info you need.

[2016-03-14 15:31] RandomlyKnighted commented on #273
@EisenbergEffect Sounds good.

[2016-03-16 16:59] #345 closed

[2016-03-16 17:15] lucamorelli commented on #273
I have small sample applications using aurelia, asp.net 5 rc 1 and ts that are working fine and I think is not a big problem to create a sample project. I would like to add the management of authentication but I'm having an hard time on how to handle it in a simple way using rc 1.
Beside this, I think I need to clean up the code because could be there is inside older code from previous versions of

[2016-03-16 18:01] RandomlyKnighted commented on #273
@lucamorelli what did you do to get around the issues mention in https://github.com/aurelia/skeleton-navigation/issues/325? If I can work past those issues I believe I can get the templates updated and finished fairly quickly.

[2016-03-16 18:12] sayedihashimi commented on #337
@RandomlyKnighted did the changes make it into the sidewaffle main branch?

[2016-03-16 18:15] RandomlyKnighted commented on #337
@sayedihashimi Yes they did.

[2016-03-16 18:35] RandomlyKnighted commented on #356
@sayedihashimi Is there a way that I can use the filter on this line https://github.com/ligershark/side-waffle/blob/master/build-main.ps1#L566 to exclude specific files or will we need to do it differently? I'd like to get this finished this week so we can release a new version this weekend.

[2016-03-16 19:33] lucamorelli commented on #273
Honestly I don't use it at all, I started from scratch, anyway if you're using typings try to exclude "typings/main.d.ts" in the ts.config

[2016-03-16 21:32] lucamorelli commented on #337
I've found some items templates. is it available or planned a project template for angular 2?

[2016-03-16 21:41] RandomlyKnighted commented on #337
I believe the current plan is to wait until there are less moving parts in Angular 2 before adding a project template.

[2016-03-17 04:55] sayedihashimi commented on #356
I think we can delete the line that checks _project.vstemplate.xml and leave the line that checks .vstemplate.

[2016-03-17 04:58] RandomlyKnighted commented on #356
Is that all that we would need to do?

[2016-03-17 05:15] sayedihashimi commented on #356
Yeah i think so

[2016-03-19 19:50] wkrasl commented on #330
I have the same problem while following MVA course "Build Responsive UI with Bootstrap," module 4 "Visual Studio and ASP.NET Integration," near timestamp 00:33:45.  To follow along, I installed SideWaffle today, modified "CodeTemplates/MvcView/List.cs.t4" as shown in the presentation, and tried to add the AlbumsController scaffold.  However I got a similar error in the unmodified Create.cs.t4 file

[2016-03-21 10:15] RehanSaeed opened #361 "How to respond to .NET Target Framework Version ComboBox"
In the VS new project dialogue, there is a .NET Target Framework Version ComboBox. How can we hook into this using SideWaffle if I want to change some code based on the target framework version?

[2016-03-22 15:53] RandomlyKnighted commented on #361
cc: @sayedihashimi

[2016-03-22 16:01] sayedihashimi commented on #361
The value comes in via a property to the template. For example http://reasoncodeexample.com/2013/06/09/creating-visual-studio-project-templates/. If you want to customize content I'm not sure if there is a better way than a custom wizard.

[2016-03-22 16:03] #356 closed

[2016-03-22 16:07] RehanSaeed commented on #361
So it looks like I can use `$targetframeworkversion$`? I just want to add it to my csproj and Web.config:

[code]

Thanks, that sounds simple enough.

[2016-03-22 16:39] sayedihashimi commented on #361
Yeah should be able to use that. FYI we have some examples of it being used here in SideWaffle https://github.com/ligershark/side-waffle/blob/b8c7e04b5ee287335bdf70b1eb3b38545dc59332/Project%20Templates/Nancy.CSharp.AspNetHost/_preprocess.xml. Can we close this or is there some other info/action needed?

[2016-03-22 16:59] #361 closed

[2016-03-24 23:48] #328 closed

[2016-03-24 23:49] #254 closed

[2016-03-25 21:23] RandomlyKnighted commented on #335
Merged.

[2016-03-25 21:23] #335 closed

[2016-03-28 13:03] NimaTheCoder opened #363 "Could not copy the file for every item in the project!"
After 10 hours I'm still struggling to debug my template projects! I could't fix this one
Error		Could not copy the file "D:\WorkArea\Essential.Template\Essential.Template\ProjectTemplates\Essential\Framework\Models\ProductModel.cs" because it was not found.

There is a misting folder before \Models\ but I didn't find any problem according to document. Multi projects templates are too complicated

[2016-03-28 15:05] sayedihashimi commented on #363
We can't reproduce the issue with the info you provided. Can you share a sample?

[2016-03-28 15:32] NimaTheCoder commented on #363
Thank you very much, Sayed
Sample link: https://www.dropbox.com/s/un1mk9133nh5ktl/Essential.Template%20-%20Copy.rar?dl=0

[2016-03-29 01:36] RandomlyKnighted commented on #273
@EisenbergEffect I saw that my second PR (https://github.com/aurelia/skeleton-navigation/pull/367) was merged today.  Seeing as there are so many moving parts in these templates I'd prefer to pull from a release. Will there be another one soon that I can pull from?

[2016-03-29 01:41] EisenbergEffect commented on #273
Yes. Tomorrow is the plan.

[2016-03-29 02:10] RandomlyKnighted commented on #273
That's great! Thanks!

[2016-03-30 05:50] NimaTheCoder commented on #363
I found another thing! renaming "_project.vstemplate.xml" to ''MyTemplate.vstemplate" fix the problem! ALMOST!

[2016-03-30 06:01] NimaTheCoder commented on #363
Can you share a working sample ? I think documents are outdated! and also tried this https://github.com/sayedihashimi/multiprojtemplatedemo but it does not work itself!

[2016-03-31 02:19] RandomlyKnighted commented on #273
Alright, I've added a PR that includes both an ES2016 and a TypeScript template for ASP.NET Core.

Once merged, I'll maintain these templates. @EisenbergEffect you said that it was possible to put something in place so that I know when these two skeleton templates have changed in a release. Can we still do that?

[2016-03-31 03:15] RandomlyKnighted commented on #352
Any suggestions what we should include on the pull request template? We don't have a `Contributing.md` file so I'm not sure what all to include.

cc: @sayedihashimi @kentcooper

[2016-03-31 05:15] #357 closed

[2016-03-31 05:55] EisenbergEffect commented on #273
@RandomlyKnighted I think that if you "watch" the skeleton-navigation repo on Github you should get notified whenever there's activity on that repo. Would that work well enough for you?

[2016-03-31 06:01] RandomlyKnighted commented on #273
Yes, that'll work. Thanks!

[2016-03-31 06:15] RandomlyKnighted commented on #304
@BRM013 I was unable to replicate your results. However, I had to make a change in order to get the snippets to show up. For some reason it wasn't picking up on the snippets.pkgdef assets file. Once I reselected the file all the snippets started showing up again.

The only thing I wasn't able to figure out was why you're templates are showing up under the `Web\My Custom Templates` node instead of

[2016-03-31 06:15] #304 closed

[2016-03-31 07:56] #281 closed

[2016-03-31 07:56] #350 closed

[2016-03-31 14:43] cveld opened #367 "ASP.NET Core Angular TypeScript project template"
What would be the procedure to create an ASP.NET Core Angular TypeScript project?

[2016-03-31 22:32] RandomlyKnighted commented on #367
@cveld are you wanting to create your own template pack or add the project to SideWaffle?

[2016-04-10 09:07] RehanSaeed opened #368 "VS2015 Update 2 Crashes When Creating ASP.NET Core Project"
My [ASP.NET MVC Boilerplate](https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate) project template has started causing VS2015 Update 2 to crash out. The project gets created but during the package restore phase it crashes out. I debugged Visual Studio and found that it was throwing the following exception:

Message: An unhandled exception of type 'System.ObjectDisposedException' occurred in msco

[2016-04-10 09:13] RehanSaeed opened #369 "Auto Updating Extensions in VS2015 Update 2 Not Working"
VS2015 Update 2 has the ability to auto update extensions. However, this does not seem to be enabled for my extension. VS shows the following message on the right hand side with a warning triangle:

![untitled](https://cloud.githubusercontent.com/assets/2270364/14409062/c2607450-ff04-11e5-948f-5e50f4b369af.png)

Any ideas what you need to do to get auto updating extensions to work?

[2016-04-11 00:14] RandomlyKnighted commented on #369
Are you installing it from the Visual Studio Gallery?

[2016-04-11 01:02] sayedihashimi commented on #368
Can you get a full call stack?

[2016-04-11 11:23] sandipintellial opened #370 "Error in VS2015"
I have followed video https://www.youtube.com/watch?v=z33jOo75CH4
And, on running the template project, I am getting following error

_Error: this template attempted to load component assembly 'LigerShark.Templates, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'. For more information on this problem and how to enable this template, please see documentation on Customizing Project Templates.

[2016-04-13 10:18] RehanSaeed commented on #369
Yes.

[2016-04-13 10:20] RehanSaeed commented on #369
Yes

[2016-04-13 10:22] RehanSaeed commented on #368
That's all I got when debugging my experimental instance of VS with the extension. Any good resources on how to get a crash dump from VS?

[2016-04-13 12:10] RandomlyKnighted commented on #369
Odd, because that's auto updating extensions has been there since VS2015 was first released. If you go to `Tools -> Extensions and Updates -> Updates -> Visual Studio Gallery` does your extension show up in the list?

[2016-04-15 14:12] lucamorelli opened #371 "add readme.md to every sample"
Hi,
  I was trying to google for sidewaffle contents and to see if they are easy to discover and I haven't found them, so I think there is a visibility problem.
  I suppose that the first way to improve this situation could be to add a readme.md file to every template giving a more detailed description and adding the keywords that could be useful.
  I tried to check if readme.md files inside subdi

[2016-04-17 10:40] RehanSaeed commented on #369
It's a VS 2015 Update 2 feature (See the [release notes](https://www.visualstudio.com/en-us/news/vs2015-update2-vs.aspx)). Still getting this warning message.

[2016-04-17 15:51] sayedihashimi commented on #369
If you email me details I will forward it. I'm guessing there is some component in your vsix blocking auto updates.

[2016-04-21 12:00] RehanSaeed commented on #369
I emailed you the full details and screenshot.

[2016-04-21 13:15] subramn opened #373 "Visual Studio 2013 Crashes after installing Sidewaffle for web - version 1.21.400"
Hi,

I have installed the new version 1.21.400 and after the same Visual Studio 2013 with Update 5 is crashing.

Earlier version 1.20.339 works fine.

Can you please check

[2016-04-22 13:19] frenc opened #374 "Project template doesn't appear in Add New Project Dialog"
Hi,

I've done everything as you described in tutorial "How to create a project template"

Unfortunately when I finished tutorial project didn't appear in Add New Project Dialog.

Could you send me Project Template example for Visual Studio 2013

Visual Studio 2013
SideWaffle 1.20.339

_preprocess.xml:

<?xml version="1.0" encoding="utf-8" ?>
<Preprocess>
  <TemplateInfo Path="CSharp\Web"/>
  <Rep

[2016-04-22 13:41] RandomlyKnighted commented on #374
Good morning @frenc and thank you for filing this issue! In order to help us understand your situation can you answer a the question below for me?

1. After following the steps outline in the wiki article did you install the VSIX file that was generated?

[2016-04-22 13:42] RandomlyKnighted commented on #373
@sayedihashimi do you have VS2013 installed where you can test this out? All my computers are currently running 2015.

[2016-04-22 13:48] frenc commented on #374
Yes, I installed VSIX file but it did help anyway

[2016-04-22 14:55] RandomlyKnighted commented on #374
In your `_project.vstemplate.xml` file under the `CreateNewFolder` element try adding the following line:

`<CreateInPlace>true</CreateInPlace>`

You'll then need to rebuild your template. I'd also like to note that if you will use Ctrl + F5 to do a Run without Debugging on the project then Visual Studio will open another instance of it but in Experimental Mode. This mode automatically installs yo

[2016-04-24 12:22] subramn commented on #373
any way to fix this ? thanks for the great help

[2016-04-24 20:04] frenc commented on #374
Thanks for your advice but unfortunately it doesn't work

[2016-04-25 01:05] RandomlyKnighted commented on #374
@sayedihashimi any ideas what might be missing?

[2016-04-25 06:46] frenc commented on #374
Could you send me some sample project for visual studio 2013 which I'll be able to check in my environment ?

[2016-04-25 23:35] sayedihashimi commented on #373
@subramn does version 1.20.339 works but 1.21.400 causes a crash? Or is the issue that VS Update caused something to break?

[2016-04-25 23:37] sayedihashimi commented on #374
@frenc on disk is the project filename `MvcTemplate.csproj`? If that is right then remove the following

[code]

and try again.

[2016-04-25 23:37] subramn commented on #373
version 1.20.339 works but 1.21.400 causes a crash.

[2016-04-28 06:17] jalvarez54 opened #375 "Bad char"
With file containing '@' character, .vsix failed to install the template.

Example:
fancybox_loading@2x.gif
fancybox_sprite@2x.png

[2016-04-28 06:18] jalvarez54 opened #376 "ASP.NET MVC 5 508349B6-6B84-4DF5-91F0-309BEEBAD82D"
whith this item in csproj:

<ItemGroup>
    <Service Include="{508349B6-6B84-4DF5-91F0-309BEEBAD82D}" />
</ItemGroup>

Compilation failed with error: 508349B6-6B84-4DF5-91F0-309BEEBAD82D file not found

[2016-04-28 06:47] sayedihashimi commented on #375
@jalvarez54 the images are not coming through here

[2016-04-28 06:48] sayedihashimi commented on #375
@jalvarez54 what template are you using?

[2016-04-28 06:48] sayedihashimi commented on #376
You're referring to the Custom Scaffolder project template?

[2016-04-29 13:18] jalvarez54 commented on #376
[My Project](https://github.com/jalvarez54/Me.AspNet.Identity) use ASP.NET MVC 5 template, and I have added users, roles management.

_I have commented the ItemGroup_ to be able to compile the [VSIX ](https://github.com/jalvarez54/Me.AspNet.Identity/releases)

![capture](https://cloud.githubusercontent.com/assets/6280526/14916946/bc7f0ade-0e1c-11e6-83c3-f5e11704be5b.PNG)
)

_NB: I do not know exac

[2016-04-29 13:20] jalvarez54 commented on #375
I use Visual Sti=udio 2015 ASP.NET MVC template.
[here is my project](https://github.com/jalvarez54/Me.AspNet.Identity)

[2016-04-30 07:17] jalvarez54 commented on #376
I did some research about ItemGroup.

My project template come from a project I'm writing some time ago and which I wanted to extract only the part of management of users and roles.

This project was using Data First generation with a .edmx file and therefore the use of a T4 template for code generation (this is where the ItemGroup <Service Include = "{508349B6-6B84 -4DF5-91F0-309BEEBAD82D} "/> is

[2016-05-01 16:34] RandomlyKnighted commented on #374
@frenc did that fix your issue?

[2016-05-01 18:01] sayedihashimi commented on #373
@subramn can you capture a crash dump so that I can analyze what the issue is? More info on dumps at https://blogs.msdn.microsoft.com/debugger/2009/12/30/what-is-a-dump-and-how-do-i-create-one/.

[2016-05-03 05:34] Bobisback opened #377 "System.ArgumentException: Illegal characters in path"
As per the comment "FYI it's better to raise issues like this in the SideWaffle repo because we have more eyes on that repo. If there." by sayedihashimi I am posting this question in this repo as well even thought it is a issue in template builder.

Hello,

I would not consider this a issue as it is probably my lack of knowledge that is causing the problem.

I am trying to setup a mutiproject temp

[2016-05-03 22:47] sayedihashimi commented on #377
@Bobisback thanks for posting this.

Multi-project templates are very tricky with the current support. I'm working on a new way to create templates, and it simplifies the multi-project story significantly. I haven't integrated this into SideWaffle yet but I will soon.

Here's my proposal. I'll help you get your multi-project template setup with my new method. After I set it up, it will be super ea

[2016-05-03 23:00] Bobisback commented on #377
Sure sounds good. I do however need to make sure this template I am building is kept in confidence. I am not in a position to release it publicly. Let me know the best way to contact you and we can get started on what is needed.

Thanks,
Bob

[2016-05-03 23:04] sayedihashimi commented on #377
@Bobisback ok no problem. I can actually set up a skeleton for you and then you can help me fill in the replacement values. You can keep the project content private. How many projects are you creating here? I'll create a sample with the same number of projects.

[2016-05-03 23:08] Bobisback commented on #377
I will be building 8 projects in this one template.

[2016-05-03 23:10] sayedihashimi commented on #377
@Bobisback OK, I'm going to create a new repo with a sample that uses 8 projects. Then I'll explain what everything is. Then you can change it up for your project and I'll help you along the way.

[2016-05-03 23:11] Bobisback commented on #377
Ok cool sounds good.

[2016-05-04 00:54] sayedihashimi commented on #377
@Bobisback OK try this vsix at https://ci.appveyor.com/project/sayedihashimi/pecan-waffle-samples/build/artifacts. You should see a new node in File->New Project named `Pecan Waffle` and then a multi-project template. Make sure that you can create the projects and that they build fine on your box.

The repo for this is at https://github.com/sayedihashimi/pecan-waffle-samples

If they do follow the

[2016-05-04 07:42] frenc commented on #374
thanks for help but it didn't help me. I send project created in Visual Studio 2013.
Could anyone say what is wrong.

https://github.com/frenc/sidewaffel

[2016-05-04 14:54] Bobisback commented on #377
This sounds good. I have not had a chance to do this yet. Will probably be tonight or tomorrow at the latest when I can get to this. The only concern I have is this: "You should see a new node in File->New Project named Pecan Waffle and then a multi-project template. Make sure that you can create the projects and that they build fine on your box." So first off this may just be a misunderstanding w

[2016-05-04 15:08] RandomlyKnighted commented on #374
@frenc I'll see if I can't find some time this afternoon to look it over. Thanks for sharing the link.

[2016-05-04 16:21] sayedihashimi commented on #377
No, it's one entry point in the New Project Dialog which then creates several projects. Essentially a "solution template".

The sample I have creates 8 projects at once, and there are references between each project.

[2016-05-04 16:35] Bobisback commented on #377
Ok cool. Thanks for the clarification. I think I understand now. I will take a stab at this tonight.

Thanks,
Bob

[2016-05-04 17:32] sayedihashimi commented on #377
@Bobisback ok great, looking forward to it. After you get setup you'll be able to add more mulit-project (or single project) templates easily by adding another folder + the two files listed above.

[2016-05-05 02:34] Bobisback commented on #377
Alright I am working on this now. I started the template that you added with the extension and it built fine. I am following your steps I will inform you if I have any issues.

[2016-05-05 02:48] Bobisback commented on #377
@sayedihashimi I am not sure what the following is used for or if I need to replace it with something relevant to my projects.

`<TemplateContent>
    <Project TargetFileName="$safeprojectname$.csproj" File="VsTemplateProj.csproj" ReplaceParameters="true" xmlns="http://schemas.microsoft.com/developer/vstemplate/2005"></Project>
    <CustomParameters xmlns="http://schemas.microsoft.com/developer/vs

[2016-05-05 02:55] Bobisback commented on #377
@sayedihashimi I am not sure what you mean by this "Change the Id attribute of the Identity element at PecanWaffleSamplesVs/source.extension.vsixmanifest to a new unique value." Currently I have the repo cloned on my computer and I deleted everything besides _project.vstemplate and pw-templateinfo.ps1. Where does this id element come in at? Where is it located. Do I need to create it? Did I mess a

[2016-05-05 06:12] sayedihashimi commented on #377
@Bobisback sorry I think the instructions were not very clear.

I [updated](https://github.com/sayedihashimi/pecan-waffle-samples/commit/06dbc10d117de1254008c2ea2049231dd843d2bc) the samples to have a new template setup. All you have to do is drop in your files.

Let's start over with the instructions, I updated them inline above. I've pasted them here as well.

 - Clone https://github.com/sayedih

[2016-05-05 19:26] Bobisback commented on #377
Do I have to setup a vstemplate file for each project as well or is there some automagic going on in the background that will do what needs to be done?

I should have some free time tonight to give this a shoot.

Thanks,
Bob

[2016-05-06 02:43] sayedihashimi commented on #377
No, just add your source files. Then customize the two files already there.

[2016-05-06 03:08] Bobisback commented on #377
Ok got it build and installed. One thing to note when I ran the "Find the guid part" it found way more then 8 GUID's and I am not sure what the other ones where. Also in the output of the project when it built there was a couple of exceptions thrown.

`1>  TemplateAdd-Replacement : Cannot process argument transformation on parameter
1>  'defaultValue'. Cannot convert the "6829829e-fc47-474e-83b8-7

[2016-05-06 03:19] Bobisback commented on #377
Ok got the project to build with now errors. I just started VS and created a new project with the template I just made. It said it was created successfully, but it would appear that visual studio locked up. It also occurs to be that I need a crash course in building visual studio extensions haha. I am not sure how to start the experimental VS instance.

[2016-05-06 03:20] sayedihashimi commented on #377
Delete the extra guids.

[2016-05-06 03:21] Bobisback commented on #377
How do I know which ones are the extra ones or can I just delete the last 3 or 4. Just make sure 8 are there?

[2016-05-06 03:30] sayedihashimi commented on #377
Delete the guid ones that were in the script previously. Replace with guid values from your .proj files. The snippet provided can be used to construct the lines to add. Make sure to fix quotes and remove trailing comma.

[2016-05-06 03:32] Bobisback commented on #377
@sayedihashimi It is still saying visual studio is busy and just sits there once i create the template. I did replace the guids that where originally in the project. When I ran you command to get the project guids it gave me back 14 guids, not 8. Even though there are only 8 projects. So I went into each project manually and got the guid for them. This did not seem to help. Might be skype time :p

[2016-05-06 04:11] sayedihashimi commented on #377
Can you email me your pw-templateinfo.ps1 file? sayedha at Microsoft(dot)com. I'll take a look for any issues.

[2016-05-06 04:12] sayedihashimi commented on #377
Also including your _project.vstemplate file will be helpful as well.

[2016-05-06 04:14] Bobisback commented on #377
Done, you can edit out your email if you want.

[2016-05-07 17:13] RandomlyKnighted commented on #368
@RehanSaeed Here's some info on [collecting a crash dump](https://blogs.msdn.microsoft.com/debugger/2009/12/30/what-is-a-dump-and-how-do-i-create-one/).

[2016-05-07 17:14] RandomlyKnighted commented on #353
@NN--- You're welcome to create a PR that creates the signed crx file for the project.

[2016-05-10 00:22] Bobisback opened #378 "New Project Template Help"
Hello All,

First off this is not a bug, I am just trying to figure out how to do something.

So I managed to get my mutiproject template up and running with the help of Sayed (Thanks man!) Now I am trying to setup my Project template I need that goes with this muti project template as well as a couple of item templates. First I wanna start with my Project template.

So I wanna create a project te

[2016-05-10 03:42] Bobisback commented on #378
So I ended up creating a custom wizard to get the variables I need to build the project correctly.

Now I am running into two issues.

1. I cannot rename any files. Aka if I use this:
<ProjectItem TargetFileName="$modulenameshort$PageViewModel.cs" ReplaceParameters="true">ExamplepageViewModel.cs</ProjectItem>
I get a error that the file is not found. And if I use the preprocess.xml I also get a er

[2016-05-10 03:55] RandomlyKnighted commented on #378
@sayedihashimi any ideas?

[2016-05-11 16:01] RehanSaeed commented on #368
@RandomlyKnighted Thanks for that.

You can find the crash dump [here](https://onedrive.live.com/redir?resid=4C9B6111D8395C5F!624471&authkey=!AElDn2YRhjwGD5k&ithint=file%2c7z). It's quite large, so I 7-zipped it up.

The crash is a bit random, it occurred the second time I created a new project using my ASP.Net Core template. I suspect it is something to do with VS downloading packages and then my

[2016-05-11 16:50] sayedihashimi commented on #368
There is some JSON serialization exception happening. Do you have any invalid JSON files (any files with comments)

[code]

[2016-05-12 08:40] RehanSaeed commented on #368
Yes, my template starts with code like this with comments in it:

[code]

If the developer enables the feature, I I remove the comments or if they disabled the feature, I remove the line between the comments, as well as the comments themselves. Is there some workaround I could use or will this problem be fixed in RC2?

[2016-05-12 08:44] RehanSaeed commented on #369
It turns out, I had selected the VSIX to install for 'All Users'. If you do this, VS requires the VSIX to be signed. There are probably not many developers who share a single install of VS on a single machine, so the easiest fix is to uncheck the 'Install for All Users' option.

[2016-05-12 08:44] #369 closed

[2016-05-12 15:52] sayedihashimi commented on #369
@RehanSaeed glad we figured it out.

[2016-05-21 02:49] sayedihashimi opened #379 "pecan-waffle video"
FYI last week I made a video of creating vs templates with pecan-waffle https://youtu.be/ysvTROB963k.

If you're working on a multi-project template and having a hard time, I suggest you try pecan-waffle.

[2016-05-25 02:46] Bobisback commented on #377
@sayedihashimi I cannot get this to work again. I updated my project and moved it into the project. I rebuilt the project with no changes reflected in the extension. Cleaning and rebuilding did not seem to help. After some investigation I found that the obj folder was not being clear so it was not pulling to new changes. So after deleting that file it seems to clear that issue up.

Unfortunately t

[2016-05-25 03:00] Bobisback commented on #377
@sayedihashimi Ummmm so it turns out for some reason the following lines where deleted from my _project.vstemplate:

   <CustomParameters xmlns="http://schemas.microsoft.com/developer/vstemplate/2005">
      <CustomParameter Name="TemplateName" Value="CustomTemplate" />
      <CustomParameter Name="PecanWaffleInstallBranch" Value="dev" />
      <CustomParameter Name="ExtensionId" Value="PecanWaffl

[2016-05-25 04:01] sayedihashimi commented on #377
Did you follow the steps in my video http://youtu.be/ysvTROB963k?

Also if you installed the NuGet pkg and are having issues make sure you are using the latest prerelease NuGet pkg for "pecan-waffle" and "pecan-waffle-vs". When installing it would be good to overwrite the .props file to ensure you have latest content. I removed some items from that file.

[2016-05-25 04:03] sayedihashimi commented on #377
If you are using what we worked on a few weeks back, just get rid of that and follow steps in video. You can save and reuse the .vstemplate and pw-templateinfo.ps1 files.

[2016-05-25 04:17] Bobisback commented on #377
Ya I got it working now. I was using hte old way. Great video! Sorry I missed it.

Thanks for all the work you have done.

[2016-05-27 13:25] RandomlyKnighted commented on #342
Hi @mtranchi @sayedihashimi  recently created a new easier way to create handle multi-project templates. You can check it out here: http://youtu.be/ysvTROB963k.

[2016-05-27 13:25] RandomlyKnighted commented on #341
Hi @sarchandra @sayedihashimi recently created a new easier way to create handle multi-project templates. You can check it out here: http://youtu.be/ysvTROB963k.

[2016-05-27 13:26] RandomlyKnighted commented on #315
Hi @brunobertechini @sayedihashimi recently created a new easier way to create handle multi-project templates. You can check it out here: http://youtu.be/ysvTROB963k.

[2016-05-27 13:27] RandomlyKnighted commented on #363
Hi @NimaTheCoder @sayedihashimi recently created a new easier way to create handle multi-project templates. You can check it out here: http://youtu.be/ysvTROB963k.

[2016-06-02 07:27] RehanSaeed opened #381 "Possible to add a project template in two places?"
In ASP.NET Core RC2, web projects now appear in two places under 'Web' and '.NET Core'. Is it possible to do something similar? How would one achieve this?

[2016-06-04 18:45] sayedihashimi commented on #381
@RehanSaeed you will need to copy the template .zip file into two different folders in the vsix under `output\projecttemplates`. I think you can do this with a custom build target that runs at the right time.

[2016-06-07 20:05] poppertech commented on #370
I have the same problem but with Visual Studio 2013 Update 5 Ultimate Addition. The template project is an ASP.NET MVC 5 application built from the empty template. I have tried uninstalling and reinstalling the nuget package (both release and pre-release).  [I have also tried adding the following line to the manifest file](https://github.com/ligershark/side-waffle/issues/79):

`<Asset Type="Micros

[2016-06-09 15:02] #377 closed

[2016-06-09 15:03] RandomlyKnighted commented on #363
Since we have not heard back in a while I'm going to go ahead and close this issue. If you continue to have problems feel free to reopen and we'll be happy to help you further.

[2016-06-09 15:03] #363 closed

[2016-06-09 15:04] RandomlyKnighted commented on #342
Since we have not heard back in a while I'm going to go ahead and close this issue. If you continue to have problems feel free to reopen and we'll be happy to help you further.

[2016-06-09 15:04] #342 closed

[2016-06-09 15:04] RandomlyKnighted commented on #341
Since we have not heard back in a while I'm going to go ahead and close this issue. If you continue to have problems feel free to reopen and we'll be happy to help you further.

[2016-06-09 15:04] #341 closed

[2016-06-09 15:05] RandomlyKnighted commented on #315
Since we have not heard back in a while I'm going to go ahead and close this issue. If you continue to have problems feel free to reopen and we'll be happy to help you further.

[2016-06-09 15:05] #315 closed

[2016-06-09 15:07] RandomlyKnighted commented on #237
This should now be fixed via the new pecan-waffle solution that @sayedihashimi has developed. You can find the video for it here: http://youtu.be/ysvTROB963k

[2016-06-09 15:07] #237 closed

[2016-06-09 15:08] #166 closed

[2016-06-09 15:10] RandomlyKnighted commented on #271
@pputhran would you be up to testing this using pecan-waffle? It's something @sayedihashimi came developed to potentially replace template-builder. You can find a video on how to use it here: http://youtu.be/ysvTROB963k

I believe you'll find that pecan-waffle fixes this issue.

[2016-06-11 01:04] RandomlyKnighted commented on #381
@RehanSaeed did this help you achieve what you were trying to do?

[2016-06-11 01:05] RandomlyKnighted commented on #196
@sayedihashimi has this been tested with pecan-waffle?

[2016-06-12 19:13] RehanSaeed commented on #381
Haven't had a chance to look at this. Will do soon.

[2016-06-12 19:13] #381 closed

[2016-06-13 11:29] brgrz commented on #330
Even the most simple use case doesn't work. Installing SideWaffle ASP.NET T4 templates to a project then trying to add a Create view for a view model.

---------------------------
Microsoft Visual Studio
---------------------------
Error

There was an error running the selected code generator:

'Failed to render template because of the following errors:

''Compiling transformation: } expected' at

[2016-06-13 11:30] brgrz commented on #330
Using templates for Details view does work however.

[2016-06-14 17:05] sayedihashimi commented on #330
Here is what I tried

 1. File New Project - ASP.NET MVC
 1. Add ASP.NET T4 files
 1. Modify Empty controller t4 file
 1. Add New Scaffolded Item - Empty Controller

The controller was added with my customizations fine.

I went ahead and refreshed the t4 files and created a new vsix at https://ci.appveyor.com/project/sayedihashimi/side-waffle/build/1.21.404/artifacts.

I'm wondering what's differe

[2016-06-14 17:11] brgrz commented on #330
@sayedihashimi as you can see from the screenshot @wkrasl attached and my posting we were both having issues wtih the View templates. Please also give it a try with MvcView templates.

Other than that, I am in fact using VS Community. I am also VS Enterprise user but I'll be only able to try it out with VS Enterprise tomorrow. Will let you know how it goes.

[2016-06-14 17:25] brgrz commented on #330
I just tried the latest vsix build with VS Community and it results in the following error when I try to add the ASP.NET T4 Scaffolding files

![image](https://cloud.githubusercontent.com/assets/193816/16052714/b5bc4442-3265-11e6-8929-4d4785cda63c.png)

[2016-06-14 18:05] sayedihashimi commented on #330
Thanks for the notes.

This sounds like a bug in Visual Studio community edition and not SideWaffle. I would expect that you get the same result if you copied .t4 template files from `C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\Microsoft\Web\Mvc\Scaffolding\Templates\` into `CodeTemplates` in your project.

When you use SideWaffle in that scenario all it is doing is

[2016-06-14 18:07] sayedihashimi commented on #330
OK I've opened https://github.com/aspnet/Tooling/issues/585. Let's us that for follow up going forward.

I'd be interested in hearing over there if any .t4 file works with VS Community edition, maybe that's the issue?

[2016-06-14 19:31] brgrz commented on #330
@sayedihashimi Do you think this should be reported to VS's Connect rather than on ASP.NET Core tooling site?

[2016-06-14 20:33] sayedihashimi commented on #330
No this is better in the repo put it in. My team should do initial investigation since we own ASP.NET scaffolding. If T4 doesn't work at all in Community that's good for Connect.

[2016-06-24 06:18] shrey001 opened #383 "TemplateBuilder assembly removed form csproj file"
I did everything I could to solve the problem as mention in issue #79 but the problem still remains can anyone tell me what I m doing wrong here

[2016-06-24 06:21] shrey001 commented on #79
I m having the same issue #163 I did everything I could to resolve the issue but the problem still remains the same.

[2016-06-24 18:10] RandomlyKnighted commented on #383
In order to make it clearer to know what's going on I've updated the issue title.

The error the OP was having is below:

[code]

[2016-06-24 18:10] RandomlyKnighted commented on #383
@shrey001 is this a multi project template?

[2016-06-27 05:52] shrey001 commented on #383
@RandomlyKnighted yes it is a multi project template.

[2016-07-05 21:59] RandomlyKnighted commented on #383
@shrey001 Sorry for the delay. @sayedihashimi recently created a new easier way to create handle multi-project templates. You can check it out here: http://youtu.be/ysvTROB963k.

[2016-07-07 23:52] AudeR commented on #330
The following error occurs  after the ASP.net scaffolding T4  files are in the project  while attempting to add a new scaffolding item in  Visual studio 2015 community MVC project.

![image](https://cloud.githubusercontent.com/assets/20346730/16673234/71f6df5c-447a-11e6-84bf-a27a964204a2.png)

This error does not occur if the THE T4 files have not been added

[2016-07-07 23:57] AudeR opened #384 "Cannot generate scaffolded item in Visual studio 2015"
The following error occurs after the ASP.net scaffolding T4 files are in the project while attempting to add a new scaffolding item in Visual studio 2015 community MVC project.

![image](https://cloud.githubusercontent.com/assets/20346730/16673513/cb4d730c-447c-11e6-8814-ef9404a81524.png)

This error does not occur if the the T4 files have not been added to the project.

[2016-07-08 00:26] sayedihashimi commented on #384
@AudeR are you using Visual Studio Community Edition?

[2016-07-08 13:47] AudeR commented on #384
Yes

[2016-07-08 16:36] sayedihashimi commented on #384
@AudeR ok thanks. This is a duplicate of https://github.com/ligershark/side-waffle/issues/330 which the underlying issue is actually a bug in VS Community Editon. I've opened https://github.com/aspnet/Tooling/issues/585 to track that. There hasn't been any update there yet, but I'm working with my team at Microsoft to start an investigation there.

Closing this.

[2016-07-08 16:36] #384 closed

[2016-07-08 20:02] AudeR commented on #384
Thank  you for the update and following-up. I did notice issue #330 and posted on it as well, however I realized that # 330 is closed. So this is why I opened this new ticket.

[2016-07-08 20:20] sayedihashimi commented on #384
I closed the other ticket because there is nothing the SideWaffle can do to resolve it. Are you saying we should leave the other issue open for discoverability?

[2016-07-08 20:55] AudeR commented on #384
Yes. Thank you for following-up with Microsoft.

[2016-07-08 21:03] sayedihashimi commented on #330
Reopening based on https://github.com/ligershark/side-waffle/issues/384#issuecomment-231462578 for discoverability here.

[2016-07-15 23:36] brunobertechini commented on #315
Im sorry for the delay but I was involved with different projects...

I will try the new solution and hopefully make it work now.

Bruno

[2016-07-18 23:04] QHQuach commented on #379
1. Just to make sure, at some point of the video, I guess you are referencing to the below line of code in ps1 to do folder exclusion?

      $templateInfo | exclude-folder '.vs', 'artifacts', 'package', 'bin', 'obj'

2. Does this method support including files/folders at solution level (e.g. readme.md, global.json for ASP.NET core version specifier)?

Thanks for quick reply.

[2016-07-18 23:06] sayedihashimi commented on #379
For solution level files you'll need to use a custom wizard. U can derive from existing wizard.

Also for files, they are all included by default, then excludes are processed.

[2016-07-20 10:52] #383 closed

[2016-08-12 16:05] arhill05 commented on #379
If I understand correctly from your above comment, you can't embed a project within a solution folder then?

[2016-08-12 16:12] sayedihashimi commented on #379
Not out of the box, you'll need to creates custom wizard. It should be pretty straight forward using the existing pecan-waffle wizard if you've done bs extensibility.

[2016-08-23 17:18] bluebaroncanada opened #386 "Self-hosting template missing"
I see that there's no longer a self-hosting template.  The side-waffle page says it should be there.

Content
Project templates
..
Nancy empty self hosted
Nancy empty self hosted with razor
..
Nancy with self host
Nancy with self host with Razor

Using VS 2015

Even the demo video you have on the site shows exactly what I'm seeing and that does not include any self-hosting options

![image](https:

[2016-08-23 17:49] bluebaroncanada commented on #386
Sorry to say, but I'm dead in the water here.  Critical!

[2016-08-27 23:55] AndreArtus opened #387 "Project template for asynchronous console app missing?"
SideWaffle used to have a template for creating asynchronous console application, that seems to have been removed in the latest version. I tried several reinstalls thinking that something must have gone wrong, but no luck.

Has it been removed?
If so then for what reason?
Is there a way I can get it back, without making my own (easy enough, but not fond of wheel reinvention)?

[2016-08-28 12:28] luckybrowne commented on #370
I have the same problem as reported by **sandipintellia**l on 11 April.  I followed the exact same steps and got the same error and I'm using Visual Studio2015 pro  Update  3

[2016-08-28 18:39] RandomlyKnighted commented on #386
@bluebaroncanada I'm sorry to say that this must have been removed some time ago. I've been a member of the SideWaffle Core Dev Team for over a year now and in that time we have not added but not removed templates from SideWaffle.

@sayedihashimi do you know when this was removed or have any advice for @bluebaroncanada

[2016-08-28 18:45] RandomlyKnighted commented on #386
@bluebaroncanada I stand corrected. I just found the self-hosted templates. I found them by going to `File =>New Project` and then you find them under `Visual C# => Windows => SideWaffle`. There are 4 self-hosted templates that you can use.

[2016-08-28 18:51] RandomlyKnighted commented on #387
Hi @AndreArtus thank you for reporting this issue. The template has not been removed. It is still in the repo as [seen here](https://github.com/ligershark/side-waffle/tree/master/project-templates/Windows%20Desktop/ConsoleApplicationAsync). However, for some reason it's not getting bundle into the extension. I'll take a look at it and see if I can't get it fixed.

[2016-08-28 18:53] #386 closed

[2016-08-28 21:43] bluebaroncanada commented on #386
Ahhh!  Thanks!

[2016-08-29 23:47] habyphael commented on #330
had a similar problem with the model that I was trying to use. I commented out the OnModelCreating override, then I could add the scaffolded item, and uncommented the OnModelCreating ovveride and ran the program it worked.

[2016-09-09 20:59] mgj commented on #317
I think i'm encountering this issue here: https://github.com/mgj/MvvmCross-Dreams/tree/feature/TestsVSIX

I have a VSIX project with templates for "Core" and "Droid", and im trying to add "Core.Tests". However, unlike when i added the other projects, i get this:

TemplateBuilder.1.1.4.9-beta\tools\ligershark.templates.targets(532,5): error MSB3030: Could not copy the file "C:\Users\mgj\Documents\G

[2016-09-17 04:03] henrik-jensen commented on #370
As sandipintellial I followed the [video guide](https://www.youtube.com/watch?v=z33jOo75CH4).
Tried both TemplateBuilder.1.1.4.9-beta ( `Install-Package TemplateBuilder -pre`) and TemplateBuilder.1.1.3.
The template installs in the VS2015 exp instance but gives and error message when adding the new project:
[code]

System info:
TemplateBuilder.1.1.4.9-beta/TemplateBuilder.1.1.3
SideWaffle Template

[2016-09-17 04:44] henrik-jensen commented on #370
**WTF**:
I kind of solved the problem but I really don't like the reason behind this!
In `_project.vstemplate.xml` TemplateBuilder adds this:
[code]
Commenting the `<WizardExtension>` out solves the problem but **why** did TemplateBuilder add **GoogleAnalyticsWizard** in the first place? I know the dll was not loaded, hence the error, but this kind of smells bad.

[2016-09-17 15:41] RandomlyKnighted commented on #370
@henrik-jensen The GoogleAnalyticsWizard is how we, the SideWaffle dev team, keep track of which templates are being used and which are not. It helps us decide which ones we should updated and which ones should be retired from the extension.

You were correct in commenting out the Wizard. I'll update the wiki article now.

[2016-09-17 15:51] RandomlyKnighted commented on #178
In issue #370 it as mentioned that users have to disable the Google Analytics Wizard in order to create their template. @sayedihashimi is there a way that we can disable the Wizard after it reports the template to us?

[2016-09-17 21:48] henrik-jensen commented on #370
@RandomlyKnighted
Well, it really needs to be mentioned very **loud** and **clear** and preferably be some kind of opt-in, though I would understand if this could be awkward to implement in this scenario. But maybe I should continue that part of the discussion over at #178 where it seems more appropriate.

re: Which template:
Was following the aforementioned [video tutorial](https://www.youtube.co

[2016-09-17 23:25] henrik-jensen commented on #178
Though the initial proposal mentions some possibility of disabling the functionality, this part has seem to have been neglected in the progress of this project.

No matter how benevolent shouldn't it be mention very upfront, both on the website and in the wiki**<sup>1</sup>**, that sidewaffle is, and why it is, tracking the usage of its users and describe an easy method to disable this tracking?

[2016-09-18 00:29] RandomlyKnighted commented on #178
That video is a bit outdated. As you mentioned we've automated some of the process. @sayedihashimi has actually be working to simplify the creation process even more. [This YouTube video is his most recent work]( https://youtu.be/ysvTROB963k) and is how we will be creating templates in the future.

[2016-09-18 00:29] RandomlyKnighted commented on #370
That video is a bit outdated. As you mentioned we've automated some of the process. @sayedihashimi has actually be working to simplify the creation process even more. [This YouTube video is his most recent work]( https://youtu.be/ysvTROB963k) and is how we will be creating templates in the future.

[2016-09-18 00:33] RandomlyKnighted commented on #178
@henrik-jensen Disabling the functionality was never intentionally neglected. We were waiting to make sure the reporting worked as we expected it to before moving forward to disabling it as a feature.

At the moment there is no way to disable it. That will have to be added in. The only thing you can do at this time is comment out the Wizard when you create your own templates.

[2016-09-18 01:16] RandomlyKnighted commented on #178
I've just looked over the code and there's some good news. It looks like we were already checking to see if the user has opted-out or not. We just never finished adding the user setting to disable it. I'm working on adding that now.

[2016-09-18 01:30] henrik-jensen commented on #370
Hmm?. I don't want to sound harsh here but if judged by the video I don't think it's quite there yet. I guess it's because of the preliminary nature of the pecan-waffle that it seems so complicated compared to the TemplateBuilder-SideWaffle combination video. There's a lot of manually editing source files, copying files from other folders, creating boilerplate templates and copying boilerplate cod

[2016-09-18 02:29] RandomlyKnighted commented on #370
You're welcome to provide feedback on pecan-waffle via it's [issue tracker](https://github.com/ligershark/pecan-waffle/issues). I'm sure @sayedihashimi would appreciate having another person to test it out and provide additional feedback.

In the mean time, I've already created a Pull Request which once merged and released will give you the ability to opt-out of sending telemetry. I'm going to wai

[2016-09-18 04:30] henrik-jensen commented on #370
Thanks @RandomlyKnighted,
I'll dig more into pecan-waffle and templateBuilder and provide some feedback when I hopefully find the time next week. I'm especially interested in the possibilities of creating some C++ templates and, even though I know the SideWaffle tools have mostly been web oriented, I hope they can ease some of this as oppose to the buggy VS build-in Template Export Wizard.

[2016-10-10 19:14] bednart opened #391 "Create file next to *.sln"
Hi,
I want to create new project template and I would like to know if it's possible to create project template which if used creates file next to solution file. I am talking about .tfignore file exactly.

Thanks in advice,
Tomáš

[2016-10-10 23:01] sayedihashimi commented on #391
To do that correctly I think you will need a custom wizard

[2016-10-11 04:48] bednart commented on #391
I will try it, thanks ;)

[2016-10-11 09:55] RehanSaeed opened #392 "Using Cake Build to Build a SideWaffle VSIX"
I'm trying to use Cake Build and AppVeyor CI in my ASP.NET MVC Boilerplate project template (See my [build.cake](https://github.com/ASP-NET-MVC-Boilerplate/Templates/blob/master/build.cake) file).

When I build my VSIX using MSBuild, it does not contain my project templates (The `Output\ProjectTemplates\CSharp\Web\[TemplateProjectName].zip` files are missing), however building from Visual Studio w

[2016-10-11 10:09] RehanSaeed commented on #392
Turns out `.WithTarget("Build")` was the problem.

[2016-10-11 10:09] #392 closed

[2016-10-15 17:38] bednart commented on #391
Custom wizard works great :) Thanks for tip ;)

[2016-10-15 17:38] #391 closed

[2016-10-17 07:50] NgageSoftware opened #393 "Template with multi projects"
Hi, i am trying to create a SideWaffle template which includes the output below, but i cannot get the second project to move across in the template.

Any ideas how this can be achieved?

VS Solution = $projectname$
- VS Project = BaseProject
- VS Project = $projectname$ with reference to BaseProject

[2016-10-17 13:07] RandomlyKnighted commented on #393
@sayedihashimi can you answer this question? I still haven't been successful with Multi Project templates so I'm not sure how to fix this.

[2016-10-18 18:08] sayedihashimi commented on #393
Multi-project templates are tricky but I've created a new template system which makes it easier. Take a look at my video http://youtu.be/ysvTROB963k and related comment https://github.com/ligershark/side-waffle/issues/393#issuecomment-254201896.

I'm going to close this because I think pecan-waffle has all the features needed. If you run into issues please reopen with details.

[2016-10-18 18:08] #393 closed

[2016-10-21 07:06] NgageSoftware commented on #393
Hi Sayed,

That has worked very well, just one question...
How do i include the template icon, i have tried changing the icon node in vstemplate, but the icon or image does not get included in the template.

Many thanks

[2016-10-21 15:19] sayedihashimi commented on #393
Hi @NgageSoftware in pecanwaffle I haven't wired up icons yet, but you can embed the icon in the vsix as a resource and then in the .vstemplate file you reference that. This is a feature of .vstemplate itself. I'm not sure exactly how to do that but I found a sample here on github. Take a look at the repo at https://github.com/borota/JTVS. More specifically take a look at the following two files:

[2016-11-09 01:50] NgageSoftware commented on #393
Hi Sayed,

Having one more issue, which i have tried various fixes found on google, do you know why i am getting this?

The VSIX installs fine on my machine, when i deploy the file to another machine, i get the error below.

PathTooLongExecption

i have uploaded the VSIX - http://assets.ngagecms.com/download/test.vsix

[2016-11-09 02:45] RandomlyKnighted commented on #387
I'm going to go ahead and close this. The template has been added and will be included in the next release.

[2016-11-09 02:45] #387 closed

[2016-11-09 02:46] RandomlyKnighted commented on #378
@Bobisback were you able to figure out a solution to your issue?

[2016-11-09 02:48] RandomlyKnighted commented on #373
I'm going to close this due to no response. @subramn you are welcome to reopen it if you are still having this issue.

[2016-11-09 02:48] #373 closed

[2016-11-09 02:49] RandomlyKnighted commented on #370
@sandipintellial by following the solutions provided above you should be able fix your original issue. I'm going to go ahead and close this for now. If you continue to have problems please feel free to reopen the issue.

[2016-11-09 02:49] #370 closed

[2016-11-09 02:50] RandomlyKnighted commented on #368
@RehanSaeed were you able to find a solution to your problem?

[2016-11-09 02:51] RandomlyKnighted commented on #367
Closing due to no response from original poster. @cveld you're welcome to reopen this issue if you would like to continue the discussion.

[2016-11-09 02:51] #367 closed

[2016-11-09 02:56] Bobisback commented on #378
Ya I found a solution. Give me a day or so to dig up all the info it was a bet in depth. If you do not hear from me in a couple of days hit me up again.

[2016-11-09 02:58] RandomlyKnighted commented on #378
Sounds good, looking forward to hear your solution.

[2016-12-07 12:35] clausthalVK commented on #379
@sayedihashimi  Hi, I am using pecan-waffel to create a .net core web template.. I can create a template but now i want to add wizard to it
I added wizard library but it does not work.. is there any particular setup i have to do first.. would be great if there is a small sample code snippet

[2016-12-07 12:45] sayedihashimi commented on #379
@clausthalVK what are you trying to do?

[2016-12-07 13:03] clausthalVK commented on #379
@sayedihashimi  I need to create a .net core template..which needs to connect to one of our server and based on that information i need to generate some more file...static template  works fine when i don't add wizard.. but when I add cutom wizard it doest not generate the structure..
could you please specify which class should i use for extensibility from pecanwaffel library

[2016-12-08 23:57] sayedihashimi commented on #379
@clausthalVK pecan-waffle is implemented as a custom wizard see https://github.com/ligershark/pecan-waffle/blob/master/vs-src/PecanWaffle/PecanWizard.cs. Wizards are registered in the .vstemplate file for example https://github.com/sayedihashimi/pecan-waffle-samples/blob/master/templates/MyCustomTemplate/_project.vstemplate#L19.

If you create an additional custom wizard you can add it to your .vs

[2016-12-09 12:13] RandomlyKnighted opened #394 "Adding template reference fails to pull DefaultName from project."
# System Information:
1. Windows 10 Pro x64
2. Visual Studio Community 2015 Update 3
3. SideWaffle version 1.21.400

# Description
In the `_project.vstemplate.xml` file we have a couple of replacements setup that should pull the project name from the project when it's created. It's not working for one of the replacements.

# Steps to Recreate
1. Create a VSIX Project.
2. Create an "AngularJS and W

[2016-12-12 10:21] clausthalVK commented on #379
@sayedihashimi  thanks for your suggestion.. i have already done the same.. I have added my own wizard after pecanwaffle wizard. the only issue adding wizard after is that dictionary replacement added in second wizard are not included into pecanwaffle wizard.. but i have a work around for that ... I reall appreciate your nice work...pecan waffel has helped me alot

[2016-12-12 14:19] sayedihashimi commented on #379
@clausthalVK ok great, glad to hear you got things working. Is your project open source? If so can you send me a pointer to the code?

[2016-12-12 21:30] RandomlyKnighted commented on #394
I tested this on a second machine the other day and can confirm that it's definitely an issue that was introduced recently.

[2016-12-22 14:06] codewithtyler opened #395 "Downloading of dynamic templates fails when git is blocked on corporate network"
I wanted to load the Contoso Template Pack to see how a specific feature was implemented, so I added it's URL to SideWaffle and told it to download the pack. However, I was soon greeted by two errors:

![1-contoso-web-project](https://cloud.githubusercontent.com/assets/2483249/21427968/28f5c7ce-c81d-11e6-9200-009e0155b455.png)

![2-contoso-web-project png](https://cloud.githubusercontent.com/asset

[2016-12-23 14:19] RandomlyKnighted commented on #395
@sayedihashimi how does the VS team handle this for cloning projects?

[2016-12-30 20:19] mahima-gopalakrishnan opened #396 "How to preserve the folder structure?"
I hope this is not an issue and only needs a minor correction in the templates.

====================Update to my question to add more clarity==============
I have a template where I have grouped my source code projects under "src" folder and unit test projects under "test" folder in the file system. So my folder structure in the file system looks like this:

Definitions
|__CSharp.vstemplate
src
|

[2017-01-05 08:45] Sakuto commented on #396
Encountering the same issue, have you found something?

[2017-01-05 11:36] RandomlyKnighted commented on #396
@sayedihashimi can you help answer this one?

[2017-01-05 13:15] Sakuto opened #397 "Packages directory unreachable due to one additionnal directory"
Hey,

I'm creating a multi project template following [this tutorial](https://github.com/ligershark/side-waffle/wiki/How-to-create-a-multi-project-template) and I'm encountering an issue with the packages file.

When I create my new project from this template, every project is placed under one useless directory.

	packages/
		... my packages
	Project
		Project.Core
		Project.Web
	Project.sln

Inst

[2017-01-05 14:25] RandomlyKnighted commented on #397
Hi @Sakuto The tutorial you used is a bit outdated. Because multi-project templates tend to be tricky to create @sayedihashimi has created a new template system which makes this easier. Try taking a look at this video he made http://youtu.be/ysvTROB963k.

[2017-01-05 21:05] sayedihashimi commented on #396
In VS the `src` and `test` folders are "solution folders". TemplateBuilder leverages the existing VS template support for the actual template. As far as I know it's not possible out of the box to create solution folders with a `.vstemplate`. You could support this by creating a custom wizard though. I think the custom wizard could be implemented like:
 - run after the project is created
 - create

[2017-01-06 12:32] Sakuto commented on #397
This did not worked for me, when the project is generated, all I have is an empty solution.

[2017-01-06 14:23] RandomlyKnighted commented on #397
@sayedihashimi can you help with this?

[2017-01-06 22:08] RandomlyKnighted commented on #294
@RehanSaeed per the issue above it looks like the project.json file is going away. Because Microsoft is going away from it and there is no way to do it via their API's currently I'm going to go ahead and close this issue.

[2017-01-06 22:08] #294 closed

[2017-01-06 22:28] sayedihashimi commented on #397
@sakuto can you be more specific? What didn't work?

[2017-01-09 07:06] Sakuto commented on #397
@sayedihashimi I do not have any error message, but when I try to generate the solution, all I have is an empty solution without any project inside it.

Build message:
	1>------ Début de la génération : Projet : TemplateCompanyAngular, Configuration : Debug Any CPU ------
	1>  TemplateCompanyAngular ->
	1>  TemplateCompanyAngular ->
	1>
	1>
	1>  C:\Users\Loic\Documents\Visual Studio 2015\Projects\

[2017-01-09 07:08] Sakuto commented on #396
@sayedihashimi I'll go for this solution, many thanks for your support!

[2017-01-09 12:07] RandomlyKnighted commented on #396
@mahima-gopalakrishnan have you tried the solution listed above?

[2017-01-09 14:48] mahima-gopalakrishnan commented on #396
@sayedihashimi "src" and "test" are not solution folders. Actually I'm able to successfully create VS solution folders to group my projects.
![vs_sln_folders](https://cloud.githubusercontent.com/assets/24846567/21770204/3c0614b8-d650-11e6-9ecc-4fa58a061baf.png)
In the file system, I'd like the projects under the "Apis", "Business" and "Data" solution folders to be created under "src" because they

[2017-01-09 22:25] sayedihashimi commented on #396
@mahima-gopalakrishnan the nodes in VS where you see "Apis", "Business", etc are referred to as "Solution Folders".

[2017-01-09 22:27] sayedihashimi commented on #397
@Sakuto you're using pecan waffle for this right? If so I would try to get it working from a PowerShell command prompt first, and then wire it up to visual studio. If your project is open source I may be able to look at the code/scripts/config files to see what's happening.

[2017-01-09 22:42] RandomlyKnighted commented on #394
@sayedihashimi any thoughts on this?

[2017-01-09 22:42] RandomlyKnighted commented on #395
@sayedihashimi I'd like to get your feedback on this. I'd like to have this fixed for the next version of SideWaffle.

[2017-01-10 08:20] Sakuto commented on #397
I'm indeed using Pecan Waffle. How can I try to get it work with a PS? If I just try to run it I have error like "update-filename is not recognized like an applet command"

[code]

Unfortunately, I can't share it there since it's a project company (and a company that would fire me if I shared something). :(

[2017-01-10 15:37] sayedihashimi commented on #395
@RandomlyKnighted do you know fix would be required to get this going? If so then we can consider it, if not then no :)

[2017-01-10 15:39] RandomlyKnighted commented on #395
What about using a standard HTTP download as our fallback method?

[2017-01-10 16:17] sayedihashimi commented on #397
@Sakuto it's working for me, see https://dl.dropboxusercontent.com/u/40134810/SideWaffle/issue-397/pwtest-Sakuto.mp4.
If you're testing the VSIX with CTRL+F5/F5 in visual studio I believe that you're running into an issue where the templates are not properly re-hydrated in the vs template cache. In these case I recommend running ***Reset the Visual Studio 2015 Experimental Instance*** from the sta

[2017-01-10 17:00] sayedihashimi commented on #394
@RandomlyKnighted I'm not sure. I think we will need to debug it to see what may be happening. I looked to see if I could find anything simple, but didn't find anything.

[2017-01-10 17:05] sayedihashimi commented on #370
@henrik-jensen sorry about this. The problem here was that we have some tooling that adds the .vstemplate template file. The file that we used for that template had the wizard entry. That's only needed if people are submitting the templates to SideWaffle itself. So I've just commented that out in https://github.com/ligershark/side-waffle/commit/edda5d0ce0473204610b3c2bd1cbe0cd3e8d651f. The fix wil

[2017-01-10 17:09] sayedihashimi commented on #395
@RandomlyKnighted do we have support for http already? If so then users can enter the http url right? Otherwise we can consider adding it. But for a fallback I don't think it makes sense because all git repos don't have http/https support, github does but not all providers.

[2017-01-10 19:45] Sakuto commented on #397
Since this template was fresh new I think it's mostly an issue with permission on my computer. Will try it on my personal computer without UAC and see.

[2017-01-10 20:33] mahima-gopalakrishnan commented on #396
@sayedihashimi True. Apis, Business etc are solution folders. I'm able to successfully create those folders through the template. I was asking about the "src" and "tests" folders which are file system folders.

![file_sys_folders](https://cloud.githubusercontent.com/assets/24846567/21823666/23d0cd16-d74a-11e6-9fcd-368d29e655ce.png)

[2017-01-12 15:31] mahima-gopalakrishnan commented on #396
Looks like custom wizard is the only option. Closing the issue.

[2017-01-12 15:31] #396 closed

[2017-01-24 16:13] 1TheMuffinMan opened #398 "How to replace the name of a file when creating a template?"
Using TemplateBuilder and the example project that creates two projects from a template I was wondering if there was a way to change the name of a file itself using `$saferootprojectname$`?

Here's my the main template project with the .vstemplate open for the particular project I want to change the file name in. You'll notice that I added a `ProjectItem` under the Project, which seems to be the w

[2017-02-02 23:36] avishnyakov opened #399 "Can't access _project.vstemplate issue with VS2015"
Hello guys, not sure if that's the right place to ask but I'll give it a try.

We use side-waffle to get C# project template done with VS2013. Works well, nothing wrong. However, installed for VS2015, we are having the following issue while creating a new project:
[code]

Again, all project templates work well for VS2013 but once added to VS2015 we've got that issue.
Saw this issue - "Problem with

[2017-02-03 00:55] avishnyakov commented on #399
Oh, shame. It's us.. our custom IWizard implementation updates over the project. Closing.

[2017-02-03 00:55] #399 closed

[2017-02-13 15:34] vitaliipanchenko opened #400 "Visual Studio 2017 support"
Could You please add support new version of Visual Studio.
Thanks

[2017-02-13 16:06] RandomlyKnighted commented on #400
What issues are you experiencing with VS 2017?

[2017-02-13 16:40] vitaliipanchenko commented on #400
Now is no possibility to install templates pack.

[2017-02-19 10:50] karmaecrivain94 commented on #400
You can fix this by renaming the .vsix file to .zip, and editing the extension.vsixmanifest to include "<InstallationTarget Id="Microsoft.VisualStudio.Community" Version="15.0" />". Then recompress it to zip and rename it as .vsix. It can then be installed without any issue.

[2017-02-27 16:42] sayedihashimi commented on #398
That looks like it should work. That said multi-project template can be very tricky. There is a new way to build multl project templates which is covered at https://youtu.be/ysvTROB963k. I think creating your multi project template with this new approach will be much easier.
With that said I'm working with my team at Microsoft on the [Template Engine](https://github.com/dotnet/templating/). We don

[2017-02-27 16:45] 1TheMuffinMan commented on #398
@sayedihashimi Awesome news about the template engine. I'll close this and keep an eye on it.

[2017-02-27 16:45] #398 closed

[2017-02-27 17:08] sayedihashimi opened #401 "The future of SideWaffle and TemplateBuilder"
Hi everyone. Back in 2013 we created [TemplateBuilder](https://github.com/ligershark/template-builder)/SideWaffle as a way to simplify creating and maintaining templates. After kicking the tires on that I realized it wasn't good enough. I finally got the opportunity to solve this problem in the right way and we have created the [Template Engine](https://github.com/dotnet/templating/). We've taken

[2017-02-27 17:24] pksorensen commented on #401
Cool stuff, is there any guide/readings about how i create a template with the new tooling?

[2017-02-27 17:33] sayedihashimi commented on #401
I'm working on a detailed blog post on how to create templates, in the meantime see https://aka.ms/dotnetnew-create-templates. I'll update that link later on when I post the new blog.

[2017-03-08 22:32] xperiandri commented on #400
As RTM is ready this change can be done in sources

[2017-03-09 15:46] erik3355 opened #402 "Can't refer to ProjectName with itemTemplates when new project is created out of a projectTemplate."
I have a solution with 2 projects. One ProjectTemplate-Project and one VSIXProject with a sidewaffle reference to the ProjectTemplate (like the video tutorial by Sayed Hashimi). Then in this VSIX project i also have some item templates which have a parameter to refer to the $rootnamespace$ of the project. Everything builds and works fine. BUT when i create a new project out of the template, and ad

[2017-03-20 14:29] titobf commented on #400
@karmaecrivain94 I unable to use your workaround. VS 2017 is not targeted and I don't know what I'm doing wrong. Could you share the entire manifest contents? Thanks

[2017-03-20 14:36] RandomlyKnighted commented on #400
@madskristensen do you have a recommended solution to fix this?

[2017-03-26 14:10] hamzazia1 commented on #400
I've made a quick fix for supporting VS 2017.  I could not upload it to the marketplace for a direct link therefore created a public github repo.

[link](https://github.com/hamzazia1/side-waffle-vs2017-quick-fix.git)

Ignore the warning you get at installation time.

This is because it has not been built with the latest VSSDK and does not have a prerequisite section in the manifest. Strangely enou

[2017-03-27 16:23] titobf commented on #400
@hamzazia1 Thanks! It worked for me on VS 2017 Community

[2017-03-27 16:29] titobf commented on #400
@hamzazia1 Thanks! It worked for me on VS 2017 Community

[2017-03-28 05:29] hamzazia1 commented on #400
@titobf Your welcome and spread the word to those in need ;-)
BTW what is it that you are sitting on in your gravatar?

@vitaliipanchenko you can download and try out.

[2017-04-04 10:49] rdskill-dev commented on #330
so... here we are in Q1 of 2017 and this is still and issue.  Fricken amazing.

VS 2015 Community and Sidewaffle v1.21.400

Compiling transformation: } expected	(Lines 169 and 538)

[2017-04-07 12:18] brunoamancio commented on #97
@sayedihashimi which pull request?

[2017-04-07 17:21] sayedihashimi commented on #97
I don't know, this was 2 years ago.

[2017-04-09 04:18] apobekiaris opened #403 "Template not visible"
I am on VS2015 I run your solution with success and but i couldn't find the template in the devenv exp instance

[2017-04-10 05:32] cmoussalli opened #404 "Category folder only show "My Custom Templates""
In "Add new Item" dialog, the template is under a category folder: "My Custom Templates".

[2017-04-10 12:48] tylerbhughes commented on #404
Did you change the path in the _preprocess.xml?

[2017-04-17 03:58] ryanwebjackson commented on #401
What needs to be done to load the existing Sidewaffle in VS2017?

[2017-04-17 04:32] tylerbhughes commented on #401
Hi @ryanwebjackson we are working on a new version of SideWaffle for Visual Studio 2017 that will take advantage of the new TemplateEngine @sayedihashimi mentioned above. However, It'll probably be another few months before this is released because the TemplateEngine is still under development by Microsoft.

[2017-04-17 04:40] tylerbhughes commented on #400
Hey everyone, just wanted to give you all a status update on SideWaffle and VS2017 support. We will be adding support for VS2017 in a few months. There will be 2 versions of SideWaffle going forward.  One for VS2017+ and one for VS2015 and before. The 2017+ version will a new version of SideWaffle built from the ground up taking advantage of the new TemplateEngine that Microsoft is developing. For

[2017-04-17 07:26] hamzazia1 commented on #401
@ryanwebjackson You can try my quick fix for VS 2017 [here](https://github.com/hamzazia1/side-waffle-vs2017-quick-fix)

[2017-04-20 23:56] sayedihashimi commented on #401
Instead of just updating the current SideWaffle to 2017 I'd like to propose a shift in direction

As mentioned we have created a new [Template Engine](https://github.com/dotnet/templating/) which is powering `dotnet new`. In the near future ASP.NET Core projects in Visual Studio will also be using this template engine during New Project. As a part of that work we are going to be creating a Visual

[2017-06-19 10:42] brgrz commented on #401
This all reads nice and fine but the actual tools (I should say tool actually because currently there's only dotnet new for now) are clumsy and hard to use. The story with SideWaffle was nice and it worked fine when it worked (for some reason it never worked in Community edition). It is beyond me that MS just decided to throw everything out the window and start from scratch especially because dotn

[2017-06-19 14:41] tylerbhughes commented on #401
@sayedihashimi can correct me if I'm wrong, but I believe the goal with the next version of SideWaffle is to make it where you're not working with the dotnet new tools directly. You'll be working through a user interface that we create.

I've been using SideWaffle with Visual Studio 2015 Community Edition since it's release with no problem. If you're having issues with it I'd love to hear about th

[2017-06-19 16:34] sayedihashimi commented on #401
@brgrz

What problems are you having developing templates for `dotnet new`? Besides not having enough docs, which I'm working on, I have only heard good things.

What do you mean by "throw everything out the window"? The template system used by Visual Studio (.vstemplate) is really old and makes it difficult to maintain templates. The One ASP.NET dialog box used to build on top of .vstemplate and

[2017-06-19 19:09] brgrz commented on #401
@tylerbhughes there's an issue already open for more than a year https://github.com/ligershark/side-waffle/issues/330

[2017-06-19 19:16] brgrz commented on #401
@sayedihashimi most problems are docs related, in fact I'm reluctant to dive deep into the new template system due to lack of docs, so that's the first thing.

Given the fact that docs are missing how could I agree on both of the two points you mentioned. I simply can't.
- Easy to create and maintain templates
- Easy to plug into CLI/VS/VS4Mac in a first class way

It'd be great if I was able to c

[2017-06-19 19:28] tylerbhughes commented on #401
@brgrz that issue pertains specifically to T4 templates. Beyond that SideWaffle should work for Community Edition.

[2017-06-19 19:28] brgrz commented on #401
@sayedihashimi  From my point of view after reading your comments [here](https://github.com/dotnet/cli/issues/2052#issuecomment-207031714) I'd say you focus too much on two things:
- distributing templates (first we need a good local development story so we can create templates for ourselves and most developers I'd say will be fine with that),
- scaffolding entire projects (in my experience, most

[2017-06-19 19:30] brgrz commented on #401
@tylerbhughes T4 templates are pretty much everything that there is regarding templates for MVC/Web API scaffolding < v6

[2017-07-08 05:05] iammelvin commented on #400
Any updates on support for visual studio 2017 ?

[2017-07-14 18:27] ericmaksim opened #405 "HTML5 UP Spectral template not working with subdirectories"
I simply created a subdirectory for the pages to fall under from the root directory, copied 'main.css' to 'sub.css' where I updated any image references to "/"... for the first fix, but now the menu system is not working at all, icons aren't showing up for the menu, etc. Can someone provide a .css for this template that works with subdirectories?

[2017-07-14 20:21] tylerbhughes commented on #405
Can you provide a zip file of your project and I'll see if I can find some time to look at your problem this weekend?

[2017-07-15 06:23] ericmaksim commented on #405
I have a work in progress that you can view online. Please note that only the 'Curing How' page sets are active for viewing the problem. Currently, the problematic subpages reference a copy of main.css called sub.css where I put in corrections that are also hit and miss depending on browser/device, etc so I would prefer that you use the main.css (from the original fileset) as your starting point.

[2017-08-01 20:57] sayedihashimi commented on #401
FYI I'm working on the update to SideWaffle now. I should have something to share in a few days.  Creating templates is going to be so easy it's not even gonna be funny.

[2017-08-02 06:21] smita-kolhe commented on #188
Thanks for this,
public void ProjectFinishedGenerating(Project project)
        {
            var it = new ProjectItemIterator(new[] { project }).GetEnumerator();

            while (it.MoveNext())
            {
                var item = it.Current;

                if (!string.IsNullOrEmpty(item.Name))
                {
                    if (item.Name.StartsWith("DR"))
                    {

[2017-08-18 16:38] aagarwal10 opened #406 "Question: Create Solution folder and add projects when creating from template"
Hi,

I m using VS 2017 Update 3 with .NET Core 2.0

I have a template project that is able to create a solution with following projects

Example:
Abhishek.Component.sln
           Abhishek.Component.Entities
           Abhishek.Component.Extensions
           Abhishek.Component.Abstractions
           Abhishek.Component.UnitTests
           Abhishek.Component.IntegrationTests

However I want to ha

[2017-08-18 17:04] sayedihashimi commented on #406
Solution folders require you to create a custom VS wizard.

[2017-08-18 17:27] aagarwal10 commented on #406
Cool, thanks

[2017-08-18 17:27] #406 closed

[2017-08-19 05:06] sayedihashimi commented on #401
The future is here. Checkout my 10 min video of SideWaffleV2 https://youtu.be/g6az_N95dVM.
I forgot to mention in my video that you will need to install the VS Extensibility Tools installed.

We've also been working on docs for the Template Engine. Some resources below.

 - [How to create templates](https://aka.ms/dotnetnew-create-templates)
 - [Template sample](https://github.com/dotnet/dotnet-te

[2017-08-19 05:13] sayedihashimi commented on #401
@brgrz can you expand on

[2017-08-22 06:48] brgrz commented on #401
@sayedihashimi I watched the YouTube video and checked the docs you posted. This seems promising but it mostly (I may have missed something) covers the creation of project templates. However for me personally it doesn't address the need for a mechanism to scaffold custom views/controllers.

Let me expand on that. What I'd want is simply to be able to create a custom controller template (similar to

[2017-08-31 08:49] HurricanKai opened #407 "[Feature Request] Rider Support?"
No Idea if it is Possible, or worth for you, but it woud be great 😄

[2017-08-31 14:16] tylerbhughes commented on #407
@HurricanKai are you referring to the Rider IDE by JetBrains?

[2017-09-21 11:03] HurricanKai commented on #407
Yep :D

[2017-09-21 13:30] tylerbhughes commented on #407
We won't be able to support it with this version of SideWaffle. Because Rider is a completely separate IDE we'd need to learn how to make extensions for it. However, with that being said it might be easier to make an extension for that IDE if we make a [SideWaffle Creator](https://github.com/ligershark/sidewafflev2) version rather than trying to duplicate the workflow we have here.

[2017-09-21 14:59] sayedihashimi commented on #407
I'm not familiar with Riders extensibility story. If we do anything it should be in the latest version of SideWaflfe, found at https://github.com/ligershark/sidewafflev2 like @tylerbhughes mentioned. Before Rider I need to get support for Visual Studio 4 Mac added.

[2017-11-16 23:26] inunotaisho26 commented on #400
I want to second visual studio 2017 support but I would like to add the request for Visual Studio 2017 for Mac. It shouldn't be too hard to get working.

[2017-11-18 14:41] tylerbhughes commented on #400
Hi everyone, we now have 2017 support through SideWaffle Creator. It will provide support for SideWaffle for 2017+ and this extension will handle anything before that.

[2018-01-03 05:12] artchess commented on #401
@brgrz I need this too.

[2018-01-03 05:22] artchess commented on #400
@tylerbhughes SideWaffle Creator is only for Project Templates in VS2017? What about Item Templates?

[2018-01-03 06:10] tylerbhughes commented on #400
@artchess Please see the comments in ligershark/sidewafflev2#4.

[2018-03-24 21:26] someRandomCoder7 commented on #400
@tylerbhughes I was not able to find the VS 2017 version of SideWaffle, can you please provide a download link?  Thanks in advance.

[2018-03-24 21:30] tylerbhughes commented on #400
@someRandomCoder7 You can find it here: https://marketplace.visualstudio.com/items?itemName=Sayed-Ibrahim-Hashimi.SidewaffleCreator2017

[2018-03-24 22:32] someRandomCoder7 commented on #400
Thanks.

[2018-03-24 22:40] someRandomCoder7 commented on #400
Wait a minute, now it's saying "There is a missing project subtype.
Subtype: "{82b43b9b-a64c-4715-b499-d71e9ca2bd60}' is
unsupported by installation."

[2018-03-25 14:40] someRandomCoder7 commented on #400
Alright.

[2018-04-30 13:47] GTANAdam commented on #400
@someRandomCoder7 You have to install the Visual Studio Extensions SDK

[2018-05-09 13:51] barisgul opened #408 "When new solution is created, it creates an extra folder level for the projects inside the solution folder, so original internal dll references are broken(not nuget)"
Hi Sayed,
References are broken when create project from template. The broken references are because when new solution is created, it creates an extra folder level for the projects inside the solution folder. This breaks the original reference to the packages folder which is supossed to be one level above project files and now is 2 levels above.
mention about this problem is here: https://blog.jay

[2018-05-21 10:56] barisgul commented on #408
Hi everyone,
I solved this problem by modifying MyTemplate.vstemplate file. In file, I have changed to false from true CreateNewFolder attribute as below. This modification worked for me :)
`<CreateNewFolder>false</CreateNewFolder>`

[2018-05-21 13:08] tylerbhughes commented on #408
Thanks for sharing your solution @barisgul.

[2018-05-21 13:08] #408 closed

[2018-05-22 11:16] berkaykirmizioglu commented on #408
Thanks for solution @barisgul, that worked for me.

[2018-07-19 04:44] ShujaathKhan opened #409 "When can we've the extension available for VSCode"
This is such delicious extension for **VSCode**, wish to have the same for  VS Code as well

[2018-07-20 21:02] tylerbhughes commented on #409
It's on my list of things to do, I just haven't gotten around to it yet.

[2018-08-04 07:03] kingofday opened #410 "auto generate name of projects according to safeprojectname"
for sample i write this for new project: "CoName.Test", after that i want to projects in template get names like this:
"CoName.Test.Dashboard"
"CoName.Test.Domain"
"CoName.Test.Data"
,...
what should i do?
![ref](https://user-images.githubusercontent.com/25717919/43673552-3a224a16-97da-11e8-8056-5818d37ef5e4.PNG)

[2018-08-04 12:50] kingofday commented on #410
my _preprocess.xml
<?xml version="1.0" encoding="utf-8" ?>
<Preprocess>
  <TemplateInfo Path="CSharp\Web\Gnu"/>
  <Replacements Include="*.*" Exclude="*.vstemplate;*.jpg;*.png;*.ico;_preprocess.xml;_project.vstemplate.xml">
    <add key="ConsoleApp" value="$safeprojectname$"/>
    <add key="RootNamespace" value="companynamespace.safeprojectname"/>
    <add key="AssemblyName" value="companynamespac

[2018-08-30 06:54] ivanalexandrov74 commented on #188
Hi, excuse me if i understand your question wrong.
What i do to replace file content is:
Let suppose I have 'AssemblyManager_TestProject.cs' file inside 'TestProject.csproj' project, built by project template. Then I had 'AssemblyManager_.....cs' inside project template .ZIP file.
The content of this file must be:
using System;

namespace Test.$safeprojectname$
{

    public class AssemblyManager_

[2018-10-27 16:16] techemayo commented on #400
Thanks @hamzaahmedzia1  the fix solved my issue

[2018-10-31 15:37] softerj opened #412 "Custom Wizard"
Hi there. I have successfully been using SideWaffle to create a template for starting Xamarin projects that consist of a .NET Standard class library, platform projects for Android and iOS, and a UI Test project. I can select my template from the FIle->New Project dialogue and get a solution that contains the code I've added.

There are a few spots in the new solution that a user has to go in and c

[2018-10-31 16:05] softerj commented on #412
And of course after I post this after looking at this for a day, I figure out what the problem is. Step #4 above  is incorrect. You don't change the existing <WizardExtension> section, you instead add another one that points to the assembly that contains your implementation and leave the one that points to Microsoft.VisualStudio.TemplateEngine.Wizard so that you there are two <WizardExtensions> se

[2018-10-31 16:05] #412 closed, assigned to nobody

[2018-10-31 17:45] sayedihashimi commented on #412
@softerj glad you got it working. If your template is open source please share a link so we can take a look.

[2019-01-02 17:05] Pietervdw opened #413 "IWizard RunFinished runs at wrong time"
Hi Guys,

I've created a multi-project template using the SideWaffle Creator. Everything works perfectly, so I add a custom wizard that implements IWizard and I add it to the template.vstemplate file:
[code]
When I run the template (File > New Project) the **RunStarted** event on the IWizard class runs fine:

[code]

But it looks like the **RunFinished** method runs immediately after **RunStarted*

[2019-01-02 17:15] Pietervdw commented on #413
Closing this. Created issue on SideWaffle2 project https://github.com/ligershark/sidewafflev2/issues/39

[2019-01-02 17:15] #413 closed, assigned to nobody

[2019-01-08 02:26] sayedihashimi commented on #379
For multi-project templates the recommend approach now is to use [SideWaffle V2](https://github.com/ligershark/sidewafflev2) (VS2017+)

[2019-03-03 08:12] KKacer commented on #401
@sayedihashimi Hello sir,
Saw the article:
https://devblogs.microsoft.com/dotnet/how-to-create-your-own-templates-for-dotnet-new/
If possible please also provide a printer-friendly version of this and the other upcoming related articles.

[2019-04-20 00:03] MagB168 opened #414 "Visual Studio 2019 support"
Could you please add support new version of Visual Studio 2019? and please provide the download link at least for the QuickFix VS2019 (similar to QuickFix VS2017).
Thank you in advance.

[2019-04-20 01:23] sayedihashimi commented on #414
I updated it a couple hours back. Can you try again?

[2019-04-23 07:37] MagB168 commented on #414
Ok it works. Thx.

[2019-04-23 07:37] #414 closed, assigned to nobody

[2019-04-23 13:49] sayedihashimi commented on #414
Great, thanks.

[2019-06-21 09:44] earp91 opened #415 "This template attempted to load a component 'LigerShark.Templates'..."
Hi,

I'm trying to create a new project based on a template model using Ligershark.

On creating, Visual studio 2013 raises this error : https://i.stack.imgur.com/CpslS.jpg

What i tried :
I download the project, built the LigerShark.Templates.dll and i added it the GAC. But it does nothing.

Would someone have a solution ?

Thanks in advance

[2019-06-21 10:08] earp91 commented on #415
Resolved installing
https://marketplace.visualstudio.com/items?itemName=MadsKristensen.SideWaffleTemplatePack

[2019-06-21 10:08] #415 closed, assigned to nobody

[2019-09-04 11:32] thomaslevesque commented on #401
What about code snippets? This scenario isn't covered by the dotnet new templating engine...

[2019-09-12 14:35] abmadmin1 opened #416 "Error after upgrading to v1.1"
I get an error starting VS 2017 Community Edition after upgrading to SideWaffle.Creator v1.1. ActivityLog.xml is attached.

[ActivityLog.zip](https://github.com/ligershark/side-waffle/files/3606008/ActivityLog.zip)

[2019-09-12 15:32] codewithtyler commented on #416
Good morning @abmadmin1 can you post this over in the [SideWaffle Creator](https://github.com/ligershark/sidewafflev2) repo please? This repo is for the older SideWaffle extension.

[2019-09-13 15:56] #416 closed, assigned to nobody

[2019-09-16 16:44] DiomedesDominguez opened #417 "No images on wiki page"
Can you please update the wiki page for the multi-project-template? We can't see the pictures.

https://github.com/ligershark/side-waffle/wiki/How-to-create-a-multi-project-template

[2019-09-24 15:42] alelom opened #418 "Update images in Wiki for multi-project template"
Following photobucket update on its policy (beginning of 2019) all pictures have become blurred and with watermark in the wiki:
https://github.com/ligershark/side-waffle/wiki/How-to-create-a-multi-project-template

please update the wiki with the images.

[2019-09-24 17:36] codewithtyler commented on #418
Thank you for informing us of the policy update. I'm going to close this as a duplicate since this was previously reported in #417

[2019-09-24 17:36] #418 closed, assigned to nobody

[2020-03-17 17:52] DunnJM opened #419 "Basic Scaffolder"
Hi,

I can't seem to find any information on how to build a scaffolder for Visual Studio 2019.

Is there a template like the Basic Scaffolder provided in this pack that would work for 2019, or any resources that I can use to start?

Thanks!

[2020-03-18 20:26] sayedihashimi commented on #419
Thanks for the question. I'm not up to date on how to create a new scaffolder. I believe you reached out to me/Mads on twitter and we pointed you to Vijay https://twitter.com/sayedihashimi/status/1240283547858096132?s=20.

[2020-03-18 20:26] #419 closed, assigned to nobody

[2020-07-10 04:10] bjthompson44 commented on #401
@sayedihashimi been searching for this functionality in VS2019.  Same functionality as the original side waffle basic scaffold template with T4 templates.  Can you point me in the right direction?

[2020-07-10 14:41] sayedihashimi commented on #401
@bjthompson44 @brgrz @artchess what you are looking for is called Scaffolding. I know when we initially built that it was extensible, but I'm not sure if it still is. @vijayrkn is scaffolding extensible by 3rd parties?

[2020-07-10 15:46] vijayrkn commented on #401
Scaffolding should be extensible though I am not sure if we have any samples for it. @deepchoudhery is primary dev for this feature and the content generation logic is available in this open-source repo - https://github.com/dotnet/Scaffolding/

[2021-01-04 15:19] panditadata commented on #175
Hello I am using helios from html5up... I changed couple of pictures and now after i refresh the page...the carrousel and all the pictures are gone. Would someone take a look? thanks in advance
https://panditadata.com

[2021-04-10 19:36] #273 closed

[2022-05-13 17:21] mzayarnyuk commented on #376
found same ref in old wpf .net core project that come from more old project file; but my project compileable with it;